.block-values {
  margin: 72px 0 56px;
  gap: 32px
}
.block-values__item svg {
  width: 28px;
  height: 28px;
  fill: #343330
}
.block-values__item p {
  color: var(--black60);
  font-size: .875rem;
  line-height: 1.3
}
.block-values__item p:last-child {
  margin-bottom: 0
}
.block-values__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--gray);
  margin-bottom: 16px
}
.block-values__icon._bg-yellow-light {
  background: var(--yellow-light)
}
@media (min-width:768px) {
  .block-values {
    gap: 56px 24px
  }
}
@media (min-width:1024px) {
  .block-values {
    gap: 56px 32px
  }
  .block-values__icon {
    margin-bottom: 32px
  }
  .block-values_type-2 .block-values__item {
    max-width: 256px
  }
  .block-values_type-2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto
  }
}
@media (min-width:1280px) {
  .block-values_type-2 {
    gap: 40px
  }
}
@media (min-width:1440px) {
  .block-values_type-2 .block-values__item {
    max-width: 284px
  }
  .block-values_type-2 {
    gap: 40px 60px
  }
}
@media (min-width:1920px) {
  .block-values_type-2 {
    gap: 40px 100px
  }
}