@charset "UTF-8";
.block-ideas {
  margin-bottom: 80px;
  overflow: hidden
}
.idea {
  width: 100%;
  position: relative;
  border-radius: 4px;
  margin-bottom: 8px
}
.idea img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px
}
.idea-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--gray)
}
.idea-all__wrapper {
  padding: 48px 15%
}
.idea-all__header {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center
}
.idea-marker {
  position: absolute;
  z-index: 1
}
.idea-marker.is-active {
  z-index: 2
}
.idea-marker__btn {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid var(--yellow);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-box-shadow: 0 0 0 8px var(--yellow) inset;
  box-shadow: 0 0 0 8px var(--yellow) inset
}
.idea-marker__btn:hover {
  -webkit-box-shadow: 0 0 0 5px var(--yellow) inset;
  box-shadow: 0 0 0 5px var(--yellow) inset
}
.is-active .idea-marker__btn {
  -webkit-box-shadow: 0 0 0 5px var(--yellow) inset;
  box-shadow: 0 0 0 5px var(--yellow) inset;
  border: 1px solid var(--white)
}
.idea-marker__btn:focus-visible {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px var(--yellow) inset;
  box-shadow: 0 0 0 5px var(--yellow) inset
}
.idea-marker__content {
  font-size: .875rem;
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 125%;
  width: 320px;
  left: -999em;
  background: var(--white);
  border-radius: 4px;
  padding: 12px 8px 16px 8px;
  -webkit-box-shadow: 0 10px 36px 0 rgba(54,45,21,.3);
  box-shadow: 0 10px 36px 0 rgba(54,45,21,.3)
}
.idea-marker__content img {
  width: 60px;
  height: 60px;
  margin: 0 8px 0 0
}
.popup-edge .idea-marker__content {
  position: relative;
  z-index: 1;
  opacity: 1;
  left: 0;
  width: 100%;
  padding: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 48px
}
.popup-edge .idea-marker__content img {
  min-width: 168px;
  width: 168px;
  height: auto
}
.idea-marker__price {
  font-weight: 600;
  margin: 2px 0;
  white-space: nowrap
}
.popup-edge .idea-marker__price {
  margin: 6px 0 22px
}
.idea-marker__link {
  color: var(--black60)
}
@media (min-width:577px) {
  .is-active .idea-marker__content._hide-xm {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
  }
}
@media (min-width:768px) {
  .block-ideas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -4px;
    margin-left: -4px;
    background: var(--white)
  }
  .idea {
    margin: 4px
  }
  .idea-all__wrapper {
    padding: 12px 20px
  }
  .idea-all__header {
    line-height: 1
  }
  .is-active .idea-marker__content._hide-md {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
  }
  .popup-edge .idea-marker__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .popup-edge .idea-marker__content img {
    margin-right: 24px
  }
  .popup-edge .idea-marker__content .idea-marker__link {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 0;
    border-radius: 4px;
    padding: 12px 24px 10px;
    font-size: .9375rem;
    line-height: 1.2;
    letter-spacing: -.3px;
    color: var(--black)!important;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    overflow-wrap: anywhere;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--gray);
    -webkit-box-shadow: 0 0 0 1px var(--gray);
    box-shadow: 0 0 0 1px var(--gray)
  }
  .popup-edge .idea-marker__content .idea-marker__link:hover {
    background: var(--white);
    -webkit-box-shadow: 0 0 0 1px var(--black10);
    box-shadow: 0 0 0 1px var(--black10)
  }
  .popup-edge .idea-marker__content .idea-marker__link:active {
    -webkit-box-shadow: 0 0 0 1px var(--black60);
    box-shadow: 0 0 0 1px var(--black60);
    color: var(--black60)!important
  }
  .popup-edge .idea-marker__content .idea-marker__link:active span::after {
    opacity: .6
  }
  .idea:nth-child(4n+1) {
    width: calc(60% - 8px);
    height: 360px
  }
  .idea:nth-child(4n+2) {
    width: calc(40% - 8px);
    height: 360px
  }
  .idea:nth-child(4n+3),
  .idea:nth-child(4n+4) {
    width: calc(50% - 8px);
    height: 360px
  }
}
@media (min-width:1024px) {
  .block-ideas {
    margin-right: -8px;
    margin-left: -8px;
    overflow: visible
  }
  .idea {
    margin: 8px
  }
  .idea-all__wrapper {
    padding: 12px 50px 0 20px
  }
  .idea-all__header {
    font-size: 2.125rem;
    text-align: left
  }
  .is-active .idea-marker__content {
    left: -144px
  }
  .is-active .idea-marker__content._hide-lg {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
  }
  .idea-marker.is-active .marker-l {
    left: 0
  }
  .idea-marker.is-active .marker-r {
    left: auto;
    right: 0
  }
  .idea-marker.is-active .marker-b {
    bottom: auto;
    top: 40px
  }
  .idea:nth-child(4n+1) {
    width: calc(67% - 16px);
    height: 480px
  }
  .idea:nth-child(4n+2) {
    width: calc(33% - 16px);
    height: 480px
  }
  .idea:nth-child(4n+3),
  .idea:nth-child(4n+4) {
    width: calc(50% - 16px);
    height: 616px
  }
}
@media (min-width:1280px) {
  .is-active .idea-marker__content._hide-xl {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
  }
}
@media (min-width:1440px) {
  .is-active .idea-marker__content._hide-xxl {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
  }
}
@media (max-width:1023px) {
  .idea-all .btn {
    width: 100%
  }
}