.block-steps {
  padding: 32px 16px 40px;
  margin-top: 80px
}
.block-steps__header {
  text-align: center;
  max-width: 319px;
  margin: 0 auto
}
.block-steps__body {
  margin-top: 64px
}
.block-steps__list {
  --column-gap: 16px;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: var(--column-gap);
  -moz-column-gap: var(--column-gap);
  column-gap: var(--column-gap);
  overflow-x: scroll
}
.block-steps__item {
  position: relative;
  width: 242px
}
.block-steps__item:first-child::after {
  display: none
}
.block-steps__item img {
  border-radius: 2px
}
.block-steps__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  font-size: .875rem;
  max-width: 209px
}
.block-steps__descr span {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--gray-dark);
  color: var(--black60);
  margin-right: 8px;
  text-align: center;
  font-size: .8125rem;
  line-height: 24px
}
@media (min-width:768px) {
  .block-steps {
    margin-top: 96px
  }
}
@media (min-width:1024px) {
  .block-steps {
    padding: 38px 34px 61px;
    margin-top: 88px
  }
  .block-steps__header {
    text-align: left;
    width: 50%;
    max-width: 510px;
    margin: 0
  }
  .block-steps__list {
    --column-gap: 65px;
    margin-left: -34px;
    margin-right: -34px;
    padding-left: 34px;
    padding-right: 34px
  }
  .block-steps__item::after {
    --arrow-w: 22px;
    display: block;
    position: absolute;
    left: calc((var(--column-gap) + var(--arrow-w) + var(--arrow-w)/ 2)/ 2 * -1);
    top: calc(50% - var(--arrow-w));
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    height: var(--arrow-w);
    width: var(--arrow-w);
    border-color: var(--gray-dark-second);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg)
  }
}
@media (min-width:1440px) {
  .block-steps__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}