.brunch {
  z-index: 0;
  position: relative;
  color: var(--white);
  padding: 40px 16px;
  height: auto;
  min-height: 578px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 70px
}
.brunch__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 20px
}
.brunch__date > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--black);
  font-weight: 700;
  background: var(--yellow);
  padding: 10px 16px;
  border-radius: 50px
}
.brunch__day {
  background: #c2d2e1
}
.brunch__header {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px
}
.brunch__logo {
  font-size: 2.125rem;
  font-weight: 700;
  color: var(--yellow)
}
.brunch__logo svg {
  fill: var(--yellow);
  width: 110px;
  height: 22px;
  margin-right: -10px
}
.brunch__descr {
  width: 70%;
  max-width: 589px;
  line-height: 1.4;
  margin-bottom: 20px
}
.brunch__descr::before {
  content: "";
  display: block;
  height: 1px;
  background: var(--white);
  max-width: 80%;
  margin-bottom: 15px
}
.brunch__place {
  margin-bottom: 20px
}
.brunch__geo {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px
}
.brunch__geo::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 25 25'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M22 10.59c0 3.23-1.71 6.4-4.53 9.4a29.6 29.6 0 0 1-4.42 3.84.98.98 0 0 1-1.1 0l-.4-.28A29.6 29.6 0 0 1 7.54 20C4.7 16.99 3 13.82 3 10.59a9.63 9.63 0 0 1 5.86-8.86 9.46 9.46 0 0 1 10.36 2.08A9.64 9.64 0 0 1 22 10.59Zm-8.79 10.64c1-.8 1.95-1.68 2.83-2.61 2.5-2.67 3.99-5.41 3.99-8.03a7.63 7.63 0 0 0-4.65-7.02 7.49 7.49 0 0 0-8.2 1.65 7.63 7.63 0 0 0-2.2 5.37c0 2.62 1.48 5.36 3.98 8.03a27.63 27.63 0 0 0 3.54 3.16l.71-.55Zm-.71-6.78a3.84 3.84 0 0 1-3.82-3.86 3.84 3.84 0 0 1 3.82-3.86 3.84 3.84 0 0 1 3.82 3.86 3.84 3.84 0 0 1-3.82 3.86Zm0-2a1.86 1.86 0 0 0 1.85-1.86 1.86 1.86 0 0 0-1.85-1.87 1.86 1.86 0 0 0-1.85 1.87 1.86 1.86 0 0 0 1.85 1.87Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h25v25H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0 no-repeat
}
.brunch__tel {
  position: relative;
  padding-left: 35px;
  height: 25px
}
.brunch__tel::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 25'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M18.48 10.3h-1.46a2.2 2.2 0 0 0-2.2-2.18V6.65a3.66 3.66 0 0 1 3.66 3.66Zm2.92 0h-1.46a5.12 5.12 0 0 0-5.12-5.1V3.72a6.58 6.58 0 0 1 6.58 6.58ZM19.94 22h-.13C5.46 21.17 3.42 9.06 3.14 5.36A2.2 2.2 0 0 1 5.33 3h3.85a1.46 1.46 0 0 1 1.36.92l1.1 2.73a1.46 1.46 0 0 1-.31 1.58L9.77 9.8a6.84 6.84 0 0 0 5.54 5.56l1.58-1.57a1.46 1.46 0 0 1 1.59-.3l2.75 1.1a1.46 1.46 0 0 1 .9 1.36v3.86a2.2 2.2 0 0 1-2.2 2.19ZM5.33 4.46a.73.73 0 0 0-.73.8c.33 4.32 2.49 14.55 15.3 15.28a.73.73 0 0 0 .77-.69v-3.9l-2.76-1.1-2.1 2.08-.34-.04c-6.36-.8-7.22-7.16-7.22-7.22L8.2 9.3l2.07-2.1-1.1-2.75H5.33Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.13 0h25v25h-25z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0 no-repeat
}
.brunch__tel a {
  color: currentColor
}
.brunch__button {
  margin-top: auto
}
.brunch__bgr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background: var(--black-brown)
}
.brunch__bgr img {
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover
}
@media (min-width:577px) {
  .brunch {
    padding: 30px;
    min-height: 432px
  }
  .brunch__logo {
    font-size: 3.125rem
  }
  .brunch__logo svg {
    width: 170px;
    height: 34px;
    margin-right: -15px
  }
  .brunch__place {
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: right;
    margin-bottom: 0
  }
  .brunch__geo::after {
    left: auto;
    right: 0
  }
  .brunch__geo {
    padding-left: 0;
    padding-right: 35px;
    height: 25px
  }
  .brunch__tel::after {
    left: auto;
    right: 0
  }
  .brunch__tel {
    padding-left: 0;
    padding-right: 35px;
    height: 25px
  }
}
@media (min-width:768px) {
  .brunch {
    padding: 50px 50px 50px 34px
  }
  .brunch__logo {
    font-size: 3.75rem
  }
  .brunch__logo svg {
    width: 222px;
    height: 45px;
    margin-right: -20px
  }
  .brunch__place {
    right: 50px;
    top: 50px
  }
}
@media (min-width:1024px) {
  .brunch {
    margin-bottom: 110px
  }
}