.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px
}
.quote__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  gap: 20px;
  height: 70px
}
.quote__a-photo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.quote__a-photo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  outline: 4px solid var(--yellow)
}
.quote__name {
  position: relative;
  color: var(--black-brown);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.02em
}
.quote__tooltip {
  display: inline-block
}
.quote__tooltip::before {
  content: "";
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' fill-opacity='.6' d='M7.31 5.51a.97.97 0 0 0-.32.38.5.5 0 0 1-.9-.45c.14-.26.35-.55.67-.76.33-.22.74-.35 1.24-.35.44 0 .91.13 1.3.42a1.63 1.63 0 0 1 .66 1.33c0 .7-.34 1.15-.68 1.48l-.4.34-.09.08-.29.27v.92a.5.5 0 1 1-1 0v-.99a.8.8 0 0 1 .17-.49c.14-.18.32-.34.47-.47l.13-.1.31-.28c.25-.24.38-.45.38-.76a.63.63 0 0 0-.27-.53A1.18 1.18 0 0 0 8 5.33c-.33 0-.54.08-.69.18Zm1.36 5.82a.67.67 0 1 1-1.34 0 .67.67 0 0 1 1.34 0Z'/%3E%3Cpath fill='%23333' fill-opacity='.6' d='M8 .67a7.33 7.33 0 1 1 0 14.66A7.33 7.33 0 0 1 8 .67ZM1.67 8a6.33 6.33 0 1 0 12.67 0A6.33 6.33 0 0 0 1.67 8Z'/%3E%3C/svg%3E") center no-repeat
}
.quote__tooltip:hover span {
  visibility: visible;
  opacity: 1
}
.quote__tooltip span {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 260px;
  background: var(--black60);
  color: var(--white);
  padding: 10px;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: -.02em;
  line-height: 1.3;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out
}
.quote__position {
  color: var(--black-brown70)
}
.quote__text {
  color: var(--black-brown70);
  line-height: 1.3;
  letter-spacing: -.02em
}
@media (min-width:768px) {
  .quote__tooltip span {
    bottom: 60%;
    left: 105%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
@media (min-width:1280px) {
  .quote {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
}
@media (min-width:1440px) {
  .quote {
    gap: 40px
  }
}