.product-carousel {
  --f-carousel-spacing: 12px;
  --f-carousel-slide-width: 300px;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 80px
}
.product-carousel .f-carousel__viewport {
  padding-right: 32px
}
.product-carousel .f-carousel__slide:first-child {
  margin-left: 16px
}
.product-carousel .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.product-carousel .f-carousel__slide .item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.product-carousel._extra {
  --f-carousel-spacing: 12px;
  --f-carousel-slide-width: 260px
}
.product-carousel._extra .f-carousel__slide .item,
.product-carousel._extra .f-carousel__slide .item__gallery-wrapper {
  background: 0 0
}
.product-carousel._extra .f-carousel__slide .item {
  padding: 0
}
body:not(.is-touch) .product-carousel._extra .f-carousel__slide .item:hover .item__details {
  opacity: 1
}
.product-carousel._extra .f-carousel__slide .item__image-wrapper {
  padding-top: 260px
}
.product-carousel._extra .f-carousel__slide .item__info {
  padding-left: 0;
  padding-right: 0
}
.product-carousel._extra .f-carousel__slide .item__title {
  margin-bottom: 23px
}
.product-carousel._extra .f-carousel__slide .item__title a {
  font-size: .875rem;
  line-height: 1.3;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.product-carousel._extra .f-carousel__slide .item__oldprice,
.product-carousel._extra .f-carousel__slide .item__price {
  font-size: .9375rem
}
.product-carousel._extra .f-carousel__slide .item__details {
  position: relative;
  top: 0;
  max-height: none;
  padding-bottom: 2px;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out!important;
  -o-transition: all .25s ease-in-out!important;
  transition: all .25s ease-in-out!important
}
body.is-touch .product-carousel._extra .f-carousel__slide .item__details {
  opacity: 1
}
.product-carousel._extra .f-carousel__slide .item__buttons {
  margin-top: 5px
}
.product-carousel._extra .f-carousel__slide .item .label {
  font-size: .8125rem;
  height: 18px;
  padding: 0 8px
}
.product-carousel._extra::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 66px;
  z-index: 1;
  opacity: .8;
  background: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),color-stop(75%,#f3f7fa));
  background: -o-linear-gradient(left,rgba(0,0,0,0) 0,#f3f7fa 75%);
  background: linear-gradient(90deg,rgba(0,0,0,0) 0,#f3f7fa 75%)
}
@media (min-width:768px) {
  .product-carousel {
    --f-carousel-spacing: 16px;
    margin-left: -16px;
    margin-right: -16px
  }
  .product-carousel._extra {
    --f-carousel-spacing: 16px;
    --f-carousel-slide-width: 300px
  }
  .product-carousel._extra .f-carousel__slide .item__image-wrapper {
    padding-top: 300px
  }
}
@media (min-width:1024px) {
  .product-carousel._extra {
    --f-carousel-slide-width: 168px
  }
  .product-carousel._extra .f-carousel__slide .item__image-wrapper {
    padding-top: 165px
  }
}