.carousel-info-model {
  overflow: hidden
}
.carousel-info-model:hover .carousel-info-model-wrapper {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
.carousel-info-model .carousel-info-model-wrapper {
  overflow: hidden;
  will-change: transform;
  -webkit-animation: infScroll var(--speed) infinite linear;
  animation: infScroll var(--speed) infinite linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
@-webkit-keyframes infScroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@keyframes infScroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
.carousel-info-model picture {
  display: block;
  width: -webkit-max-content!important;
  width: -moz-max-content!important;
  width: max-content!important
}
.carousel-info-model img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 310px
}
.carousel-info-model__name {
  color: var(--black-brown);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1
}
.carousel-info-model__name svg {
  width: 162px;
  height: 32px;
  fill: var(--yellow)
}
.carousel-info-model .f-carousel__dots {
  bottom: -42px
}
@media (min-width:768px) {
  .carousel-info-model img {
    height: 225px
  }
}
@media (min-width:1024px) {
  .carousel-info-model img {
    height: 210px
  }
}
@media (min-width:1536px) {
  .carousel-info-model img {
    height: 300px
  }
}
@media (min-width:1620px) {
  .carousel-info-model img {
    height: 290px
  }
}
@media (min-width:1920px) {
  .carousel-info-model img {
    height: 370px
  }
}