.carousel-info-model {
  --f-carousel-dots-width: 10px;
  --f-carousel-slide-width: 80%;
  --f-carousel-spacing: 12px
}
.carousel-info-model img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 240px
}
.carousel-info-model__name {
  color: var(--black-brown);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1
}
.carousel-info-model__name svg {
  width: 162px;
  height: 32px;
  fill: var(--yellow)
}
.carousel-info-model .f-carousel__dots {
  bottom: -42px
}
@media (min-width:577px) {
  .carousel-info-model {
    --f-carousel-spacing: 16px;
    --f-carousel-slide-width: auto
  }
}
@media (min-width:768px) {
  .carousel-info-model img {
    height: 240px
  }
}
@media (min-width:1620px) {
  .carousel-info-model img {
    height: 330px
  }
}