@charset "UTF-8";
.main-carousel {
  --f-carousel-dots-width: 22px;
  --f-carousel-slide-height: 540px;
  margin-bottom: 30px!important;
  margin-left: -12px;
  margin-right: -12px
}
.main-carousel .f-progress {
  bottom: 0;
  top: auto
}
.main-carousel .f-carousel__dot {
  width: 16px;
  height: 5px;
  border-radius: 24px
}
.main-carousel li.is-current .f-carousel__dot {
  background-color: var(--black60)
}
.main-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background: var(--gray)
}
.main-slide_col-1 {
  position: relative;
  height: 100%
}
.main-slide_v2 {
  color: var(--black-brown);
  background: var(--white);
  position: relative
}
.main-slide_v2::before {
  display: none!important
}
.main-slide_v2 svg {
  fill: currentColor;
  width: 105px;
  height: 23px;
  margin-bottom: -1px
}
.main-slide_v2.type-2::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  background: var(--white);
  -webkit-clip-path: polygon(0 0,0 100%,100% 0);
  clip-path: polygon(0 0,0 100%,100% 0);
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1)
}
.main-slide_col-1 .main-slide__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 12px 12px 110px;
  text-align: center;
  margin-top: 35px;
  z-index: 2
}
.main-slide_col-2 .main-slide__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px;
  text-align: center;
  min-height: 333px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.main-slide_v2 .main-slide__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  height: 100%
}
.main-slide_v2.type-2 .main-slide__text {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center
}
.main-slide_v2.type-2 .main-slide__text::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background: var(--white);
  -webkit-clip-path: polygon(0 0,0 100%,100% 0);
  clip-path: polygon(0 0,0 100%,100% 0)
}
.main-slide_col-1 .main-slide__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
.main-slide_col-2 .main-slide__img {
  height: 280px
}
.main-slide_v2 .main-slide__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
.main-slide_v2 .main-slide__img img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom
}
.main-slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.main-slide__wrapper {
  display: -ms-grid;
  display: grid;
  gap: 31px;
  margin: 14px 0
}
.main-slide_col-2 .main-slide__wrapper {
  justify-items: center
}
.main-slide_v2.type-1 .main-slide__wrapper {
  display: block;
  margin: 0;
  background: var(--white);
  width: 100%;
  padding: 23px 30px 30px;
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,90% 100%,80% 70%,80% 100%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 100%,90% 100%,80% 70%,80% 100%,0 100%)
}
.main-slide_v2.type-2 .main-slide__wrapper {
  margin: 0;
  background: var(--white);
  width: 100%;
  padding: 23px 15px 30px;
  gap: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.main-slide__body {
  display: -ms-grid;
  display: grid;
  gap: 7px
}
.main-slide_col-2 .main-slide__body {
  justify-items: center
}
.main-slide_v2 .main-slide__body {
  justify-items: center
}
.main-slide__header {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px
}
.main-slide_v2 .main-slide__header {
  -webkit-text-stroke: .5px;
  font-size: 1.875rem;
  margin-bottom: 10px
}
.main-slide_v2.type-2 .main-slide__header {
  font-size: clamp(1.875rem,10dvw,2.6875rem);
  line-height: 1.2
}
.main-slide__subheader {
  font-size: 1.0625rem
}
.main-slide_v2 .main-slide__subheader {
  -webkit-text-stroke: 2px;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: .7;
  margin-top: -5px;
  margin-left: -3px;
  margin-bottom: 20px
}
.main-slide__addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
  max-width: 600px;
  font-size: .875rem
}
.main-slide__addresses > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  text-decoration: none;
  text-shadow: none
}
.main-slide_v2.type-2 .main-slide__addresses > a {
  border: 2px solid var(--yellow);
  background: var(--yellow);
  border-radius: 50px;
  padding: 8px 8px 7px
}
.main-slide_v2.type-2 .main-slide__addresses > a:hover {
  background: var(--white)
}
.main-slide__addresses > a::before {
  content: "";
  display: block;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  background: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 28'%3E%3Cpath d='M11 .875A10.325 10.325 0 0 0 .688 11.188a10.208 10.208 0 0 0 2.077 6.187s.281.37.327.424L11 27.125l7.912-9.33c.04-.05.323-.42.323-.42v-.003a10.205 10.205 0 0 0 2.078-6.184A10.324 10.324 0 0 0 11 .874Zm0 14.063a3.75 3.75 0 1 1 0-7.5 3.75 3.75 0 0 1 0 7.5Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 28'%3E%3Cpath d='M11 .875A10.325 10.325 0 0 0 .688 11.188a10.208 10.208 0 0 0 2.077 6.187s.281.37.327.424L11 27.125l7.912-9.33c.04-.05.323-.42.323-.42v-.003a10.205 10.205 0 0 0 2.078-6.184A10.324 10.324 0 0 0 11 .874Zm0 14.063a3.75 3.75 0 1 1 0-7.5 3.75 3.75 0 0 1 0 7.5Z'/%3E%3C/svg%3E");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%
}
.main-slide__note {
  font-size: .9375rem;
  opacity: .6
}
.main-slide_v2 .main-slide__note {
  opacity: 1;
  font-weight: 600;
  padding-right: 30%
}
.main-slide_v2 .main-slide__note b,
.main-slide_v2 .main-slide__note strong {
  -webkit-text-stroke: .5px
}
.main-slide__note-bottom {
  font-size: 1rem;
  max-width: 500px;
  margin-bottom: 16px
}
.main-slide__note-bottom b,
.main-slide__note-bottom strong {
  -webkit-text-stroke: .3px
}
.main-slide_v2 .main-slide__button {
  margin-top: 25px
}
.main-slide.text-white::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 65%;
  opacity: .6;
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(#211e18));
  background: -o-linear-gradient(bottom,rgba(0,0,0,0) 0,#211e18 100%);
  background: linear-gradient(0deg,rgba(0,0,0,0) 0,#211e18 100%);
  z-index: 1
}
@media (min-width:425px) {
  .main-carousel {
    --f-carousel-slide-height: 613px
  }
  .main-slide_v2 .btn {
    font-size: 1.25rem;
    padding: 15px 30px 13px
  }
  .main-slide_v2 .btn span::after {
    width: 20px;
    height: 20px;
    -ms-flex-preferred-size: 20px;
    flex-basis: 20px;
    margin-left: 10px
  }
  .main-slide_v2 svg {
    width: 150px;
    height: 30px
  }
  .main-slide_v2.type-2::after {
    top: 63%;
    width: 160px;
    height: 100px
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    top: 63%;
    width: 160px;
    height: 100px
  }
  .main-slide_v2 .main-slide__img img {
    -o-object-fit: cover;
    object-fit: cover
  }
}
@media (min-width:577px) {
  .main-slide_v2 .main-slide__text {
    padding: 23px 30px 30px
  }
  .main-slide_col-1 .main-slide__img img {
    -o-object-position: left;
    object-position: left
  }
  .main-slide_col-2 .main-slide__img img {
    -o-object-position: left;
    object-position: left
  }
  .main-slide_v2.type-1 .main-slide__wrapper {
    padding: 21px 53px 21px 30px;
    margin-left: -30px;
    max-width: 514px;
    --pos-1-y: calc(100% - 120px);
    --pos-2-x: calc(100% - 70px);
    --pos-2-y: calc(100% - 85px);
    --pos-3-y: var(--pos-2-y);
    -webkit-clip-path: polygon(0 0,100% 0,100% var(--pos-1-y),var(--pos-2-x) var(--pos-2-y),100% var(--pos-3-y),100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% var(--pos-1-y),var(--pos-2-x) var(--pos-2-y),100% var(--pos-3-y),100% 100%,0 100%)
  }
  .main-slide_v2.type-1 .main-slide__header {
    font-size: 2.0625rem
  }
  .main-slide_v2 .main-slide__subheader {
    font-size: 4.6875rem
  }
  .main-slide__addresses {
    font-size: .875rem
  }
  .main-slide_v2 .main-slide__note {
    font-size: 1rem;
    padding-right: 0
  }
}
@media (min-width:768px) {
  .main-carousel {
    --f-carousel-slide-height: 448px;
    margin-bottom: 20px!important;
    margin-left: 0;
    margin-right: 0
  }
  .main-slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .main-slide_v2 svg {
    width: 150px;
    height: 30px
  }
  .main-slide_v2.type-2::after {
    top: 175px;
    width: 160px;
    height: 100px
  }
  .main-slide_col-1 .main-slide__text {
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 12px;
    text-align: left;
    width: 60%;
    margin: 35px 0 57px 64px
  }
  .main-slide_col-2 .main-slide__text {
    padding: 40px 60px;
    width: 50%;
    height: auto;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
  }
  .main-slide_v2 .main-slide__text {
    background: var(--white);
    padding: 35px 20px 35px 30px;
    width: 60%;
    max-width: 550px
  }
  .main-slide_v2.type-1 .main-slide__text {
    --pos-1-y: calc(100% - 185px);
    --pos-2-x: calc(100% - 100px);
    --pos-2-y: calc(100% - 100px);
    --pos-3-y: var(--pos-2-y);
    -webkit-clip-path: polygon(0 0,100% 0,100% var(--pos-1-y),var(--pos-2-x) var(--pos-2-y),100% var(--pos-3-y),100% 100%,0 100%);
    clip-path: polygon(0 0,100% 0,100% var(--pos-1-y),var(--pos-2-x) var(--pos-2-y),100% var(--pos-3-y),100% 100%,0 100%)
  }
  .main-slide_v2.type-2 .main-slide__text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    top: 175px;
    width: 160px;
    height: 100px;
    left: calc(100% - 2px)
  }
  .main-slide_col-2 .main-slide__img {
    width: 50%;
    height: auto
  }
  .main-slide_v2 .main-slide__img {
    right: -390px
  }
  .main-slide_v2 .main-slide__img img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
  }
  .main-slide_v2.type-1 .main-slide__wrapper {
    background: 0 0;
    padding: 0;
    margin-left: 0;
    max-width: none;
    -webkit-clip-path: none;
    clip-path: none
  }
  .main-slide_v2.type-2 .main-slide__wrapper {
    padding: 0
  }
  .main-slide__header {
    font-size: 2.625rem
  }
  .main-slide_v2.type-1 .main-slide__header {
    -webkit-text-stroke: 1px;
    font-size: 2.625rem;
    font-size: clamp(2.125rem,4.5dvw,2.625rem);
    margin-bottom: 15px
  }
  .main-slide_v2.type-2 .main-slide__header {
    -webkit-text-stroke: 1px;
    font-size: 2.625rem;
    font-size: clamp(2.125rem,4.5dvw,2.625rem);
    margin-bottom: 15px
  }
  .main-slide_v2 .main-slide__subheader {
    font-size: 5.9375rem;
    font-size: clamp(4.6875rem,9dvw,5.9375rem);
    margin-bottom: 30px
  }
  .main-slide__addresses {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 16px
  }
  .main-slide_v2 .main-slide__note {
    font-size: 1.125rem;
    padding-left: 2px;
    padding-right: 30px
  }
  .main-slide.text-white::before {
    top: auto;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#211e18));
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#211e18 100%);
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,#211e18 100%)
  }
}
@media (min-width:1024px) {
  .main-carousel {
    --f-carousel-slide-height: 600px;
    margin-bottom: 70px!important
  }
  .main-slide_v2 svg {
    width: 220px;
    height: 43px
  }
  .main-slide_v2.type-2::after {
    top: 240px;
    width: 190px;
    height: 130px
  }
  .main-slide_v2 .main-slide__text {
    padding: 55px 30px 55px 40px;
    max-width: 550px
  }
  .main-slide_v2.type-1 .main-slide__text {
    --pos-1-y: calc(100% - 250px);
    --pos-2-x: calc(100% - 130px);
    --pos-2-y: calc(100% - 140px)
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    top: 240px;
    width: 190px;
    height: 130px
  }
  .main-slide_v2 .main-slide__img {
    right: 0
  }
  .main-slide_v2 .main-slide__img img {
    -o-object-position: 140%;
    object-position: 140%
  }
  .main-slide__header {
    font-size: 3.125rem
  }
  .main-slide_v2.type-1 .main-slide__header {
    -webkit-text-stroke: 2px;
    font-size: 3.3125rem
  }
  .main-slide_v2.type-2 .main-slide__header {
    -webkit-text-stroke: 2px;
    font-size: 3rem;
    line-height: 1.1
  }
  .main-slide__addresses {
    font-size: 1.125rem
  }
  .main-slide__addresses > a::before {
    width: 20px;
    height: 20px
  }
  .main-slide_v2 .main-slide__note {
    font-size: 1.3125rem;
    padding-right: 0
  }
}
@media (min-width:1280px) {
  .main-slide_v2.type-2::after {
    width: 250px
  }
  .main-slide_v2 .main-slide__text {
    padding: 60px 25px 50px 50px;
    width: 55%;
    max-width: 730px
  }
  .main-slide_v2.type-1 .main-slide__text {
    --pos-1-y: calc(100% - 265px);
    --pos-2-x: calc(100% - 135px);
    --pos-2-y: calc(100% - 155px)
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    width: 250px
  }
  .main-slide_v2 .main-slide__img img {
    -o-object-position: 130%;
    object-position: 130%
  }
  .main-slide__header {
    font-size: 4rem
  }
  .main-slide_v2.type-2 .main-slide__header {
    font-size: 3.75rem
  }
  .main-slide__subheader {
    font-size: 1.125rem
  }
  .main-slide_v2 .main-slide__subheader {
    font-size: 6.875rem
  }
  .main-slide_v2 .main-slide__note {
    font-size: 1.625rem
  }
}
@media (min-width:1440px) {
  .main-slide_v2.type-2::after {
    width: 280px
  }
  .main-slide_v2 .main-slide__text {
    padding: 60px 85px 60px 60px;
    width: 51%;
    max-width: 790px
  }
  .main-slide_v2.type-1 .main-slide__text {
    --pos-1-y: calc(100% - 265px);
    --pos-2-x: calc(100% - 150px);
    --pos-2-y: calc(100% - 155px)
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    width: 280px
  }
  .main-slide_v2 .main-slide__img {
    right: -650px
  }
  .main-slide_v2 .main-slide__img img {
    -o-object-position: center;
    object-position: center
  }
  .main-slide__addresses {
    font-size: 1.1875rem
  }
}
@media (min-width:1620px) {
  .main-carousel {
    --f-carousel-slide-height: 500px
  }
  .main-slide_v2.type-2::after {
    top: 200px;
    width: 190px;
    height: 100px
  }
  .main-slide_col-1 .main-slide__text {
    margin-left: 100px
  }
  .main-slide_v2 .main-slide__text {
    padding: 45px 85px 45px 60px;
    width: 50%;
    max-width: 865px
  }
  .main-slide_v2.type-1 .main-slide__text {
    --pos-1-y: calc(100% - 260px);
    --pos-2-x: calc(100% - 135px);
    --pos-2-y: calc(100% - 170px)
  }
  .main-slide_v2.type-2 .main-slide__text::after {
    top: 200px;
    width: 250px;
    height: 100px
  }
  .main-slide_v2 .main-slide__img {
    right: -725px
  }
  .main-slide_v2 .main-slide__note {
    font-size: 1.75rem
  }
}
@media (max-width:767px) {
  .main-slide_col-2 .main-slide__text .label {
    position: absolute;
    top: -15px;
    z-index: 1
  }
  .main-slide_v2.type-2 .main-slide__text {
    padding: 0
  }
  .main-slide_col-1 .main-slide__wrapper {
    max-width: 600px;
    justify-items: center
  }
  .main-slide__button .main-slide__note-bottom {
    display: none
  }
  .main-slide_col-1 .main-slide__button {
    position: absolute;
    bottom: 35px
  }
  .main-slide_v2.type-2 .main-slide__button {
    padding: 0 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:576px) {
  .main-slide_v2.type-1 .main-slide__button {
    padding: 0 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}