@charset "UTF-8";
.carousel-gallery-thumbs {
  --f-carousel-slide-width: 100%;
  --f-carousel-slide-height: auto;
  margin-top: 36px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.carousel-gallery-thumbs .f-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.carousel-gallery-thumbs img {
  width: 100%
}
.carousel-gallery-thumbs + .f-thumbs:not(.is-modern) {
  --f-thumb-width: 114px;
  --f-thumb-height: 64px;
  margin-top: 16px
}
.carousel-gallery-thumbs + .f-thumbs:not(.is-modern) .f-thumbs__slide {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
  transition: border-color .2s ease
}
.carousel-gallery-thumbs + .f-thumbs:not(.is-modern) .f-thumbs__slide.is-nav-selected {
  border-color: var(--black)
}
.carousel-gallery-thumbs + .f-thumbs:not(.is-modern) .f-thumbs__slide:hover {
  border-color: var(--black)
}
.carousel-gallery-thumbs + .f-thumbs:not(.is-modern) .f-thumbs__slide__button {
  border-radius: 4px
}
.carousel-gallery-thumbs + .f-thumbs.is-vertical:not(.is-modern) {
  margin-top: 0;
  height: 560px
}
.carousel-gallery-thumbs + .f-thumbs.is-vertical:not(.is-modern)::after {
  content: "";
  display: block;
  position: absolute;
  height: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear,left bottom,left top,from(#f6f8f9),to(rgba(0,0,0,0)));
  background: -o-linear-gradient(bottom,#f6f8f9 0,rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg,#f6f8f9 0,rgba(0,0,0,0) 100%)
}
.popup-gallery {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--gray)
}
.popup-gallery.is-active {
  display: block;
  z-index: 11;
  padding-top: 15px
}
.popup-gallery.is-active::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  right: 0;
  background: var(--gray)
}
.popup-gallery.is-active .container {
  height: 100%
}
:root {
  --product-view-height: calc(85vh - 100px)
}
.photos .gallery-thumbs-popup {
  height: var(--product-view-height,100%);
  min-height: 300px;
  max-height: 650px
}
.gallery-thumbs-popup .f-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.gallery-thumbs-popup .f-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.gallery-thumbs-popup .f-carousel__slide img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) {
  --f-thumb-width: 114px;
  --f-thumb-height: 64px
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) .f-thumbs__slide .f-thumbs__slide__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
  transition: border-color .2s ease
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) .f-thumbs__slide.is-nav-selected .f-thumbs__slide__img {
  border-color: var(--black)
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) .f-thumbs__slide:hover .f-thumbs__slide__img {
  border-color: var(--black)
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) .f-thumbs__slide__button {
  border-radius: 4px
}
.gallery-thumbs-popup + .f-thumbs:not(.is-modern) .f-thumbs__slide__img {
  -o-object-fit: contain;
  object-fit: contain;
  background: var(--gray);
  width: auto;
  margin: 0 auto
}
.gallery-thumbs-popup + .f-thumbs.is-classic.is-vertical {
  height: var(--product-view-height,100%);
  min-height: 300px;
  max-height: 650px
}
.gallery-thumbs-popup + .f-thumbs.is-classic {
  --f-thumb-width: 195px;
  --f-thumb-height: 115px;
  --f-thumb-gap: 12px
}
.gallery-thumbs-popup + .f-thumbs.is-classic .f-carousel__nav .f-button[disabled] {
  display: none
}
.gallery-thumbs-popup + .f-thumbs.is-vertical .f-thumbs__track {
  padding: 0
}
.gallery-thumbs-popup + .f-thumbs .f-button {
  --f-button-svg-height: 16px;
  --f-button-next-pos: 0;
  --f-button-prev-pos: 0;
  --f-button-bg: var(--gray);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.gallery-thumbs-popup + .f-thumbs .f-button svg {
  stroke: var(--black);
  stroke-width: 1.5px
}
.gallery-thumbs-popup + .f-thumbs .f-button:hover {
  background: var(--white);
  border: 1px solid var(--black30)
}
.gallery-thumbs-popup + .f-thumbs .f-button:active {
  background: var(--gray);
  border: 1px solid var(--black60);
  color: var(--black60)!important
}
.gallery-thumbs-popup + .f-thumbs .f-button:active svg {
  opacity: .5
}
.gallery-thumbs-popup + .f-thumbs .f-button:disabled {
  pointer-events: none
}
.gallery-thumbs-popup .labels {
  top: 13px;
  left: 14px;
  bottom: auto
}
@media (min-width:768px) {
  .carousel-gallery-thumbs {
    --f-carousel-slide-width: 50%;
    --f-carousel-slide-height: auto;
    margin: 0 -8px
  }
  .carousel-gallery-thumbs .f-carousel__slide {
    padding: 0 8px
  }
  .carousel-gallery-thumbs .f-carousel__dots {
    padding-left: var(--f-carousel-spacing)
  }
  .gallery-thumbs-popup.f-carousel {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
}
@media (min-width:1024px) {
  .carousel-gallery-thumbs {
    --f-carousel-slide-width: 100%;
    --f-carousel-slide-height: auto;
    margin: 0
  }
  .carousel-gallery-thumbs .f-carousel__slide {
    padding: 0
  }
  .carousel-gallery-thumbs .f-carousel__dots {
    display: none
  }
  ._vertical .carousel-gallery-thumbs .f-carousel__slide {
    --f-carousel-slide-height: 560px
  }
  ._vertical .carousel-gallery-thumbs .f-carousel__slide > div {
    height: 100%
  }
  .carousel-gallery-thumbs + .f-thumbs.is-vertical:not(.is-modern) {
    --f-thumb-width: 135px;
    --f-thumb-height: 180px;
    width: 151px
  }
  .gallery-thumbs-popup .f-carousel__slide {
    height: var(--product-view-height,100%);
    min-height: 300px;
    max-height: 650px
  }
}
@media (min-width:1280px) {
  .carousel-gallery-thumbs + .f-thumbs.is-vertical:not(.is-modern) {
    --f-thumb-width: 157px;
    --f-thumb-height: 157px;
    width: 173px
  }
}