@charset "UTF-8";
.product-main-gallery {
  --f-carousel-slide-height: auto;
  --f-carousel-dot-width: 9px;
  --f-carousel-dot-height: 9px;
  --f-carousel-dots-width: 16px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.product-main-gallery .f-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.product-main-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top;
  object-position: top
}
.product-main-gallery .item-note {
  margin: 0 auto
}
.product-main-gallery .item-note:empty {
  display: none
}
.product-main-gallery + .f-thumbs:not(.is-modern) {
  --f-thumb-width: 114px;
  --f-thumb-height: 64px;
  margin-top: 16px
}
.product-main-gallery + .f-thumbs:not(.is-modern) .f-thumbs__slide {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
  transition: border-color .2s ease
}
.product-main-gallery + .f-thumbs:not(.is-modern) .f-thumbs__slide.is-nav-selected {
  border-color: var(--black)
}
.product-main-gallery + .f-thumbs:not(.is-modern) .f-thumbs__slide:hover {
  border-color: var(--black)
}
.product-main-gallery + .f-thumbs:not(.is-modern) .f-thumbs__slide__button {
  border-radius: 4px;
  opacity: 1
}
.product-main-gallery + .f-thumbs.is-vertical .f-thumbs__track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0
}
.product-main-gallery + .f-thumbs.is-vertical:not(.is-modern) {
  --f-thumb-width: 100px;
  --f-thumb-height: 100px;
  margin-top: 0;
  height: 572px
}
.product-main-gallery + .f-thumbs.is-classic .f-carousel__nav .f-button[disabled] {
  display: none
}
.thumb-video::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: var(--white) url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.5 15.5C11.6421 15.5 15 12.1421 15 8C15 3.85786 11.6421 0.5 7.5 0.5C3.35786 0.5 0 3.85786 0 8C0 12.1421 3.35786 15.5 7.5 15.5ZM10.7345 8.70019C11.0937 8.48506 11.0937 7.94723 10.7345 7.7321L6.28878 5.06986C5.92953 4.85473 5.48047 5.12364 5.48047 5.5539V10.8784C5.48047 11.3087 5.92953 11.5776 6.28878 11.3624L10.7345 8.70019Z' fill='%23333333'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  opacity: .8;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
@media (min-width:768px) {
  .product-main-gallery {
    --f-carousel-slide-height: auto;
    margin: 0 -8px
  }
  .product-main-gallery .f-carousel__slide {
    padding: 0 8px
  }
  .product-main-gallery .f-carousel__dots {
    padding-left: var(--f-carousel-spacing)
  }
}
@media (min-width:1024px) {
  .product-main-gallery {
    --f-carousel-slide-height: auto;
    margin: 0
  }
  .product-main-gallery .f-carousel__slide {
    padding: 0
  }
  ._vertical .product-main-gallery .f-carousel__slide {
    --f-carousel-slide-height: 568px
  }
  ._vertical .product-main-gallery .f-carousel__slide > div {
    height: 100%
  }
}
@media (min-width:1280px) {
  .product-main-gallery .f-carousel__dots {
    display: none
  }
}
@media (max-width:767px) {
  .product-main-gallery .f-carousel__nav {
    display: block;
    opacity: 1
  }
}