@charset "UTF-8";
.cart-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--black10)
}
.cart-tools a {
  font-size: .875rem;
  margin-right: 8px;
  background: var(--white);
  padding: 8px
}
.cart-item {
  position: relative;
  background: var(--white);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px
}
.cart-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.cart-item__text {
  margin: 0 16px 32px 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.cart-item__name {
  display: block;
  font-weight: 700;
  margin-bottom: 12px;
  text-decoration: none
}
.cart-item__props ul {
  list-style: none;
  margin: 0 0 12px;
  padding: 0
}
.cart-item__props ul li {
  padding: 0;
  font-size: .8125rem;
  color: var(--black60)
}
.cart-item__props span {
  color: var(--black);
  padding-left: 3px
}
.cart-item__props img {
  display: inline;
  margin: 0 6px -1px 0;
  border-radius: 4px
}
.cart-item__descr {
  font-size: .8125rem;
  line-height: 1.3
}
.cart-item__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 168px;
  flex: 0 0 168px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin-bottom: 12px
}
.cart-item__img img {
  border-radius: 4px;
  border: 1px solid var(--black10)
}
.cart-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.cart-item__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px
}
.cart-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}
.cart-item__price {
  font-size: .9375rem;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 5px
}
.cart-item__oldprice {
  font-size: .9375rem;
  color: var(--black60);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  white-space: nowrap
}
.cart-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.cart-total__header {
  font-size: 1.25rem;
  margin-bottom: 13px;
  color: var(--black-real);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.cart-total__title {
  font-weight: 700;
  margin-right: 6px
}
.cart-total__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}
.cart-total__sum-mob span:first-child {
  font-size: .875rem;
  color: var(--black-real)
}
.cart-total__sum-mob span {
  font-size: .9375rem;
  color: var(--black60);
  margin-right: 8px
}
.cart-total__price {
  font-weight: 700;
  white-space: nowrap;
  margin-right: 8px
}
.cart-total__oldprice {
  font-size: 80%;
  color: var(--black60);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  white-space: nowrap;
  display: none
}
.cart-total__sum {
  color: var(--black60);
  margin-bottom: 23px;
  display: none
}
.cart-total__sum div {
  margin-bottom: 8px
}
.cart-pack span::after {
  content: "•";
  color: var(--black30)
}
.cart-pack span:last-child::after {
  content: ""
}
.amount-element {
  --svg-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M14 1a.75.75 0 0 1-.75.75h-12a.75.75 0 0 1 0-1.5h12A.75.75 0 0 1 14 1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  --svg-plus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M8 1a.75.75 0 0 0-1.5 0v5.25H1.25a.75.75 0 1 0 0 1.5H6.5V13A.75.75 0 0 0 8 13V7.75h5.25a.75.75 0 0 0 0-1.5H8V1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  border: 1px solid var(--black10);
  border-radius: 4px;
  background: var(--white);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.amount-element._lg {
  width: 117px;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.amount-element._lg button {
  height: 40px
}
.amount-element._lg button::before {
  opacity: .6;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.amount-element._lg button:hover::before {
  opacity: 1
}
.amount-element._lg button:focus-visible::before {
  opacity: 1
}
.amount-element input[type=number] {
  cursor: default;
  background: var(--white);
  width: 25px;
  height: 20px;
  padding: 0;
  text-align: center;
  border: 0;
  -webkit-appearance: textfield!important;
  -moz-appearance: textfield!important;
  appearance: textfield!important
}
.amount-element input[type=number]::-webkit-inner-spin-button,
.amount-element input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none
}
.amount-element button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--white);
  border: 0!important
}
.amount-element button::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px
}
.amount-element button.js-btn-minus::before {
  background: var(--svg-minus) no-repeat center
}
.amount-element button.js-btn-plus::before {
  background: var(--svg-plus) no-repeat center
}
@media (min-width:768px) {
  .cart-tools {
    padding-bottom: 56px
  }
  .cart-item__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .cart-item__text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
  }
  .cart-item__img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
  .cart-total {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
  .cart-total__header {
    width: 50%;
    margin-bottom: 0
  }
  .cart-total__sum-mob {
    width: 100%
  }
  .cart-total__button {
    width: 50%
  }
}
@media (min-width:1024px) {
  .cart-tools {
    margin-top: 26px
  }
  .cart-tools a {
    margin-right: 16px;
    background: 0 0;
    padding: 0
  }
  .cart-total {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 50px
  }
  .cart-total__header {
    font-size: 1.4375rem;
    line-height: 1;
    margin-bottom: 22px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%
  }
  .cart-total__title {
    margin-right: 12px
  }
  .cart-total__sum-mob {
    display: none
  }
  .cart-total__oldprice {
    display: block
  }
  .cart-total__sum {
    display: block
  }
  .cart-total__button {
    width: 100%
  }
}
@media (min-width:1280px) {
  .cart-item__price {
    font-size: 1.25rem
  }
  .cart-item__oldprice {
    font-size: 1.25rem
  }
}
@media (max-width:767px) {
  .cart-item__remove {
    position: absolute;
    top: 16px;
    right: 16px
  }
}