.interiors-head__sub {
  position: relative;
  padding: 24px 0;
  margin-bottom: 10px
}
.interiors-head__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: 33px;
  padding-bottom: 16px
}
.interiors__block .interior__image {
  border-radius: 2px
}
.interiors-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-bottom: 96px
}
.interiors-top__left {
  background: var(--yellow);
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.interiors-top__right {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0
}
.interiors-top__text .label {
  position: absolute;
  top: -15px;
  left: 15px;
  z-index: 1
}
.interiors-top__text h2 {
  margin-bottom: 24px
}
.interiors-top .interior {
  margin: 0
}
.interiors-top .interior__image {
  min-height: 351px
}
.interior {
  position: relative;
  height: 100%;
  margin-bottom: 12px
}
.interior__name {
  position: absolute;
  z-index: 1;
  color: var(--white);
  top: 12px;
  left: 12px;
  right: 12px
}
.interior__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.interior-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 36px
}
.interior-description__text {
  max-width: 485px;
  margin-bottom: 21px
}
.interior-description__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start
}
.furniture {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 8px
}
.furniture .btn-plus {
  position: absolute;
  right: 16px;
  bottom: 8px
}
.furniture__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8px;
  overflow-x: scroll
}
.furniture__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 64px;
  flex: 0 1 64px;
  width: 64px;
  max-width: 237px;
  margin-right: 8px;
  border-radius: 4px;
  background: var(--white);
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.interiors-body .furniture__item {
  display: none
}
.furniture__item:last-child {
  margin-right: 0
}
.furniture__item.is-active {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 237px;
  flex: 1 0 237px
}
.furniture__item img {
  border-radius: 4px
}
.furniture__item div {
  font-size: .75rem;
  color: var(--black60);
  margin: 7px 24px 7px 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden
}
.fur-popup__header {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 25px;
  padding-right: 40px
}
.fur-popup__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 16px
}
.fur-popup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-shadow: none!important
}
.fur-popup__item img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid var(--black10);
  margin-right: 12px
}
.fur-popup__title {
  font-size: .875rem;
  line-height: 1.3;
  margin-bottom: 5px
}
.fur-popup__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: .8125rem;
  font-weight: 700;
  margin-bottom: 4px
}
.fur-popup__price {
  color: var(--black-real);
  margin-right: 8px;
  white-space: nowrap
}
.fur-popup__price._discount {
  color: var(--red)
}
.fur-popup__oldprice {
  color: var(--black60);
  text-decoration: line-through;
  white-space: nowrap
}
.fur-popup__article {
  color: var(--black60);
  font-size: .75rem
}
.tag-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;
  padding: 0 16px;
  line-height: 1;
  margin: 0 8px 8px 0;
  border-radius: 60px;
  background: var(--gray);
  border: 1px solid transparent;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.tag-category:hover {
  background: #e9ebec;
  text-shadow: none
}
.tag-category.is-active {
  border-color: var(--black-real);
  font-weight: 700
}
span.tag-category:hover {
  pointer-events: none;
  background: var(--gray)
}
.pagination {
  margin: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.pagination__more {
  margin-bottom: 40px
}
.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pagination__arrow svg {
  width: 20px;
  height: 18px;
  stroke: var(--black60);
  stroke-width: 1.5px
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pagination__list * {
  margin: 0;
  padding: 0
}
.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--black60);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--white)
}
.pagination__link:active,
.pagination__link:focus,
.pagination__link:hover {
  color: var(--black);
  text-shadow: none;
  background: var(--gray)
}
.pagination__link:active svg,
.pagination__link:focus svg,
.pagination__link:hover svg {
  stroke: var(--black)
}
.pagination__arrow .pagination__link {
  width: 44px
}
.pagination__link.is-active {
  color: var(--black);
  text-shadow: none;
  background: var(--gray)
}
.pagination__link.is-disabled {
  pointer-events: none
}
.pagination span.pagination__link {
  pointer-events: none
}
@media (min-width:577px) {
  .interiors__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 6vw;
    grid-auto-rows: 6dvw;
    grid-gap: 16px;
    margin-bottom: 16px
  }
  .interiors__block .interior:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/5/2
  }
  .interiors__block .interior:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/8/3
  }
  .interiors__block .interior:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/12/2
  }
  .interiors__block .interior:nth-child(4) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 8/2/12/3
  }
  .fur-popup__header {
    font-size: 1.5rem;
    width: 80%;
    padding: 0;
    margin: 0 auto 38px;
    text-align: center
  }
  .fur-popup__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    gap: 32px 12px;
    margin-bottom: 14px
  }
  .fur-popup__item img {
    width: 120px;
    height: 120px
  }
}
@media (min-width:768px) {
  .interiors-top__left {
    padding: 26px 24px 32px
  }
  .interiors-top__text {
    margin-right: 125px
  }
  .interiors-top__button {
    margin-top: 27px
  }
  .interior {
    margin: 0
  }
  .furniture {
    bottom: 16px
  }
  .furniture__list {
    padding: 0 24px
  }
  .fur-popup__item img {
    width: 150px;
    height: 150px
  }
}
@media (min-width:1024px) {
  .interiors-head__tags {
    margin-top: 47px;
    padding-right: 25px
  }
  .interiors__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
    grid-gap: 0
  }
  .interiors__block .interior:nth-child(4n+1) {
    width: calc(67% - 16px);
    height: 480px
  }
  .interiors__block .interior:nth-child(4n+2) {
    width: calc(33% - 16px);
    height: 480px
  }
  .interiors__block .interior:nth-child(4n+3),
  .interiors__block .interior:nth-child(4n+4) {
    width: calc(50% - 16px);
    height: 616px
  }
  .interiors-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 8px
  }
  .interiors-top__left {
    width: 33%;
    padding: 40px 24px 24px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
  }
  .interiors-top__right {
    width: 67%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
  .interiors-top__text {
    margin-right: 56px
  }
  .interior {
    margin: 8px
  }
  .interior__name {
    top: 19px;
    left: 24px
  }
  .interior__image {
    max-height: none
  }
  .interior-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-bottom: 2px solid var(--black10);
    padding-bottom: 55px
  }
  .interior-description__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
    max-width: none;
    margin: 0 16px 0 0
  }
  .furniture {
    left: 0;
    right: 0;
    bottom: 24px
  }
  .furniture .btn-plus {
    display: none
  }
  .interiors-body .furniture__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 64px;
    flex: 0 1 64px;
    width: 64px;
    max-width: 237px;
    margin-right: 12px;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
  }
}
@media (max-width:1023px) {
  .interiors-top__button .btn {
    width: 50%
  }
}
@media (max-width:767px) {
  .interiors-top__button .btn {
    width: 100%
  }
}