.pdfs__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 2px solid var(--black10);
  padding-top: 8px
}
.pdfs__header {
  color: var(--black60)
}
.pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px 24px 24px 32px;
  background: var(--white);
  border-radius: 8px;
  margin: 24px 0
}
.pdf__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 164px
}
.pdf__descr .btn {
  margin-top: 24px
}
.pdf__top {
  color: var(--black60);
  margin-bottom: 12px
}
.pdf__top span {
  margin-right: 16px
}
.pdf__name {
  margin-bottom: 0
}
.pdf__period {
  margin-bottom: 0;
  color: var(--black30)
}
.pdf__cover {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  margin-bottom: 24px
}
.pdf__cover img {
  border-radius: 2px;
  width: auto;
  max-height: 392px;
  -o-object-fit: contain;
  object-fit: contain
}
@media (min-width:768px) {
  .pdf {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 16px 0
  }
  .pdf__cover {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 0
  }
}
@media (min-width:1024px) {
  .pdfs__period {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 16px
  }
  .pdfs__header {
    padding-right: 40px
  }
  .pdfs__list {
    width: 66%;
    -ms-flex-negative: 0;
    flex-shrink: 0
  }
  .pdf {
    margin: 0 0 16px
  }
  .pdf__name {
    margin-bottom: 10px
  }
}
@media (max-width:1023px) {
  .pdfs__header {
    font-size: .875rem;
    line-height: 1.3
  }
  .pdf__top {
    font-size: .875rem;
    line-height: 1.3;
    margin-bottom: 8px
  }
}
@media (max-width:576px) {
  .pdf__descr .btn {
    width: 100%
  }
}