.product {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px
}
.product__header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.product__header-wrap .article {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  border: 0;
  margin: 0 0 15px;
  padding: 0;
  background: 0 0;
  min-height: auto;
  font-size: .9375rem;
  color: var(--black60)
}
.product__desc {
  letter-spacing: -.3px;
  line-height: 1.4;
  max-width: 700px
}
.product__details {
  width: 100%
}
.product__details p:last-child {
  margin-bottom: 0
}
.product__options {
  max-width: 518px;
  margin: 0 auto;
  position: relative
}
.product__name * {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: inherit;
  margin: 0 30px 15px 0
}
.product__photos {
  position: relative;
  margin-bottom: 64px
}
.product__photos .labels {
  top: 12px;
  left: 14px;
  bottom: auto
}
.product__gallery-preview {
  display: none
}
.product__gallery-showall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.product__gallery-showall a {
  font-weight: 700
}
.product__gallery-showall a:hover {
  text-shadow: none
}
.product__main-gallery._vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}
.product__3d {
  margin-bottom: 64px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
  text-decoration: none
}
.product__3d > div:nth-child(2) {
  margin: 16px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.product__3d > div:nth-child(2) img {
  -o-object-fit: cover;
  object-fit: cover
}
.product__features {
  margin-bottom: 64px;
  max-height: 565px;
  background: var(--white);
  padding: 16px
}
.product__equip {
  margin-bottom: 64px
}
.product .equip__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 41px
}
.product .equip__img {
  margin-bottom: 17px
}
.product .equip__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.product .equip__text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.product .equip__note {
  font-size: .875rem;
  opacity: .6;
  margin-bottom: 13px
}
.product .equip__header {
  color: var(--black-real);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px
}
.product .equip__body {
  font-size: .875rem;
  line-height: 1.3
}
.product .equip._type-2 .h2,
.product .equip._type-2 h2 {
  margin-bottom: 32px
}
.product .equip._type-2 .equip__row {
  margin-bottom: 20px
}
.product .equip._type-2 .equip__header {
  font-size: 1.125rem;
  text-transform: none
}
.product .equip._type-2 .equip__text {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0
}
.product__tabs {
  margin-bottom: 64px
}
.product__reviews {
  margin-bottom: 64px;
  max-height: 620px
}
.product__content-gallery {
  padding-bottom: 50px
}
.product__content-gallery._vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}
.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px
}
.product__top .available {
  margin: 0 12px 0 0;
  margin-bottom: 5px
}
.product__top .article {
  border: 0;
  margin: 0 0 5px;
  padding: 0;
  background: 0 0;
  min-height: auto;
  font-size: .8125rem;
  line-height: 1.2;
  color: var(--black60)
}
.product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 12px
}
.product__price {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  margin-right: 8px;
  white-space: nowrap
}
.product__oldprice {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  color: var(--black30);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  white-space: nowrap
}
.product__fav {
  position: absolute;
  right: 0;
  top: 32px
}
.product__loan {
  white-space: nowrap;
  margin-bottom: 12px
}
.product__loan span {
  margin-right: 6px;
  opacity: .5
}
.product__props {
  margin: 20px 0 16px
}
.product__props .prop {
  margin-bottom: 0;
  padding: 10px 0 12px;
  border-bottom: 1px solid var(--black10)
}
.product__props .prop:last-child {
  border-bottom: 0
}
.product__props .prop__label {
  margin: 0 0 10px;
  font-size: .9375rem
}
.product__purchase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 42px;
  margin-bottom: 16px
}
.product__buy button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  min-width: 145px;
  height: 42px
}
.product__amount {
  height: 42px
}
.product__amount .amount-element {
  background: var(--gray)
}
.product__amount .amount-element button,
.product__amount .amount-element input[type=number] {
  background: var(--gray)
}
.product__delivery {
  margin-bottom: 19px
}
.product__delivery .available {
  font-size: .875rem
}
.product__showroom {
  font-size: .875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 32px
}
.product__showroom a {
  text-decoration: underline;
  text-decoration-color: var(--black30);
  text-underline-offset: 1px;
  color: var(--black60);
  margin: 0 12px 5px 0
}
.product__showroom a:first-child {
  margin-left: 12px
}
.product__more a {
  font-size: .8125rem
}
.product__more a svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  fill: var(--black60)
}
.product__more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  border-top: 2px solid var(--black10)
}
.product__kit {
  padding: 15px 0 31px;
  border-top: 2px solid var(--black10)
}
.product__kit-name {
  color: var(--black60)
}
.product__kit-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4,1fr);
  gap: 8px;
  margin-top: 15px
}
.product__kit-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--black10);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.product__kit-list a.is-active {
  border-color: var(--black)
}
.product__kit-list a:hover {
  border-color: var(--black)
}
.product__kit-list a picture {
  width: 100%
}
.product__kit-list a img,
.product__kit-list a picture img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -o-object-fit: cover;
  object-fit: cover
}
.product__text-block {
  margin-bottom: 44px
}
.product__text-block .h1,
.product__text-block h1 {
  line-height: .9;
  margin-bottom: 0
}
.product__text-block p {
  font-size: 1rem
}
.product__text-block .col {
  margin-bottom: 20px
}
.product__carousel-info-model {
  margin-bottom: 125px
}
.product__wide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px
}
.product__wide-image._with-text img,
.product__wide-image._with-text picture {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 422px
}
.product__wide-image._filter-black,
.product__wide-image._filter-blur {
  position: relative
}
.product__wide-image._filter-black::before,
.product__wide-image._filter-blur::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
.product__wide-image._filter-blur::before {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px)
}
.product__wide-image._filter-black::before {
  background: rgba(0,0,0,.4)
}
.product__wide-image._on-hover {
  position: relative
}
.product__wide-image._on-hover .text-over {
  opacity: 0
}
.product__wide-image._on-hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-backdrop-filter .2s ease;
  transition: -webkit-backdrop-filter .2s ease;
  -o-transition: backdrop-filter .2s ease;
  transition: backdrop-filter .2s ease;
  transition: backdrop-filter .2s ease,-webkit-backdrop-filter .2s ease
}
.product__wide-image._on-hover:hover::before {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(0,0,0,.4)
}
.product__wide-image._on-hover:hover .text-over {
  opacity: 1
}
.product__about-cards {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  margin-bottom: 64px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr
}
.product__quote {
  margin-bottom: 64px
}
.product__about-tiles {
  margin-bottom: 64px
}
.product__about-tiles-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 32px
}
.product__about-tiles-header > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-bottom: 0;
  max-width: 490px
}
.product__about-tiles-header > div:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.product__carousel-info-marker {
  margin-bottom: 64px
}
.product__features-table {
  margin-bottom: 64px
}
.product__advices {
  max-height: 250px;
  margin-bottom: 64px
}
.photos {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.photos__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px
}
.photos__header {
  font-size: 1.25rem;
  font-weight: 700
}
.photos__header span {
  position: relative;
  margin-left: 16px
}
.photos__header span::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--black60)
}
.photos__close {
  width: 40px;
  height: 40px;
  margin-right: -10px
}
.photos__close .btn {
  top: auto;
  right: -10px;
  z-index: 1
}
.photos__carousel {
  height: calc(100% - 50px)
}
.props-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--black10)
}
.props-wrapper .prop {
  border-bottom: 0;
  padding-bottom: 0
}
.features {
  margin: 32px 0 64px
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 8px 0 22px;
  border-top: 2px solid var(--black10)
}
.features__row:first-child {
  border: none
}
.f-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 26px;
  flex: 0 0 26px;
  font-weight: 700;
  color: var(--black-real)
}
.f-value {
  color: var(--black-real)
}
.f-value div {
  margin-bottom: 8px
}
.f-value div:last-child {
  margin-bottom: 0
}
.f-value span {
  color: var(--black70)
}
.f-value i {
  font-size: 1rem;
  font-style: normal;
  margin: 0 7px
}
.f-value._sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.f-value._sizes div {
  margin: 0
}
.f-value._sizes i {
  margin: 0 12px
}
.f-table {
  margin-bottom: 40px
}
.f-row {
  font-size: .875rem;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--gray-dark);
  padding: 14px 0;
  color: var(--black60)
}
.f-row:last-child {
  border-bottom: 0
}
.f-row > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%
}
.f-row > div:nth-child(2) {
  color: var(--black);
  text-align: right;
  max-width: 350px
}
.manuals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 64px
}
.manuals__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: var(--gray);
  padding: 8px 8px 8px 16px;
  min-height: 88px
}
.manuals__item .h5 {
  font-size: .9375rem;
  margin-bottom: 12px
}
.manuals__item > div:nth-child(1) {
  margin: 6px 8px 6px 0
}
.manuals__item > div:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.manuals__item img {
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover
}
.manuals__link {
  text-decoration: none;
  margin-right: 9px
}
.manuals__link svg {
  width: 16px;
  height: 16px;
  margin: 0 4px -2px 0
}
.manuals__link + span {
  color: var(--black60)
}
.warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--gray);
  padding: 16px;
  margin-bottom: 64px
}
.warranty__stamp {
  position: relative;
  width: 30%
}
.warranty__stamp svg {
  position: absolute;
  right: -5px;
  bottom: -30px;
  width: 72px;
  height: 72px
}
.warranty .h3 {
  margin-bottom: 10px
}
.warranty p {
  margin-bottom: 5px;
  color: var(--black-real);
  line-height: 1.1
}
.warranty a {
  color: var(--black60)
}
.warranty > div:nth-child(2) {
  margin-left: 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.warranty img {
  border-radius: 4px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left
}
.block-collapsible {
  position: relative;
  overflow: hidden;
  padding-bottom: 64px!important;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.block-collapse {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 0 16px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}
.block-collapse::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  width: 100%;
  height: 65px;
  z-index: 1;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#fff));
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#fff 100%);
  background: linear-gradient(180deg,rgba(0,0,0,0) 0,#fff 100%)
}
.is-opened .block-collapse::before {
  background: 0 0!important
}
.block-collapse__btn {
  width: 100%;
  border: 0;
  background: 0 0;
  color: var(--bright-blue);
  font-weight: 700;
  padding: 0;
  border-top: 2px solid var(--black10);
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out
}
.block-collapse__btn:active {
  color: var(--bright-blue60)
}
.block-collapse__btn:active span::after {
  opacity: .6
}
.block-collapse__btn span {
  position: relative;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap
}
.block-collapse__btn span ~ span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.block-collapse__btn span::after {
  content: "";
  display: block;
  height: 11px;
  width: 11px;
  margin-left: 4px;
  background: var(--svg-angle-bright-blue) center no-repeat;
  -webkit-transform: translateY(2px) rotate(-90deg);
  -ms-transform: translateY(2px) rotate(-90deg);
  transform: translateY(2px) rotate(-90deg);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.block-collapse__btn.is-closed span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.block-collapse__btn.is-closed span ~ span {
  display: none
}
.block-collapse__btn.is-closed span::after {
  -webkit-transform: translateY(0) rotate(90deg);
  -ms-transform: translateY(0) rotate(90deg);
  transform: translateY(0) rotate(90deg)
}
.product__advices .block-collapse {
  background: var(--gray);
  padding: 0
}
.product__advices .block-collapse::before {
  content: "";
  display: block;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#f6f8f9));
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#f6f8f9 100%);
  background: linear-gradient(180deg,rgba(0,0,0,0) 0,#f6f8f9 100%)
}
.product__advices .block-collapse__btn {
  border: 0;
  color: var(--yellow)
}
.product__advices .block-collapse__btn span {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.product__advices .block-collapse__btn span::after {
  content: "";
  display: block;
  background-image: var(--svg-angle-yellow)
}
.reviews {
  margin-top: 32px
}
.reviews__row {
  padding: 12px 16px;
  margin-bottom: 12px;
  background: var(--white);
  border-radius: 4px
}
.reviews__row:last-child {
  margin-bottom: 0
}
.r-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px
}
.r-header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 75%;
  overflow-wrap: anywhere;
  word-break: break-word
}
.r-header__person img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 11px
}
.r-header__person span {
  font-size: 1.125rem;
  margin-right: 11px
}
.r-header__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}
.r-header__rating svg {
  width: 16px;
  height: 16px
}
.r-header__link {
  margin: 7px 0
}
.r-header__link a {
  font-size: .8125rem;
  line-height: 1;
  color: var(--black60)
}
.r-body {
  margin-bottom: 17px
}
.r-body p {
  margin-bottom: 8px;
  max-width: 90%;
  overflow-wrap: anywhere;
  word-break: break-word
}
.r-date {
  color: var(--black60)
}
.pack__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-bottom: 16px
}
.pack__row:first-child {
  border-bottom: 1px solid var(--black10);
  padding-bottom: 35px
}
.pack__row:last-child {
  margin-bottom: 0
}
.pack__row:nth-child(2) .pack__header {
  display: none
}
.pack__col-1 {
  width: 30%;
  min-width: 130px;
  margin-right: 16px
}
.pack__col-2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pack__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left;
  color: var(--black60);
  margin-right: 15px;
  width: 70px
}
.pack__header div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 4px
}
.pack__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left
}
.pack__body div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 4px
}
.pack__group {
  font-weight: 700
}
.pack__group span {
  font-weight: 500;
  color: var(--black60)
}
.pack__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pack__name i {
  font-style: normal;
  color: var(--black60);
  margin-right: 8px
}
.text-over {
  position: absolute;
  max-width: 470px;
  text-align: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 30px;
  z-index: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out
}
.text-over span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--black);
  z-index: -1
}
.text-over span::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 47px;
  margin-top: 5px;
  background: var(--svg-brush-1) center 0/100% 47px no-repeat;
  z-index: -1
}
.text-over p {
  font-size: .9375rem
}
.p-about-card {
  color: var(--white);
  letter-spacing: -.02em;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 250px;
  padding: 30px 14px
}
.p-about-card__text {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  z-index: 1;
  max-width: 305px
}
.p-about-card__text span {
  display: block;
  margin-bottom: 16px;
  font-size: 2.125rem
}
.p-about-card__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}
.p-about-card__image::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,rgba(0,0,0,.7)),color-stop(82.5%,rgba(0,0,0,0)));
  background: -o-linear-gradient(top,rgba(0,0,0,.7) 30%,rgba(0,0,0,0) 82.5%);
  background: linear-gradient(180deg,rgba(0,0,0,.7) 30%,rgba(0,0,0,0) 82.5%);
  -webkit-transition: -webkit-backdrop-filter .2s ease;
  transition: -webkit-backdrop-filter .2s ease;
  -o-transition: backdrop-filter .2s ease;
  transition: backdrop-filter .2s ease;
  transition: backdrop-filter .2s ease,-webkit-backdrop-filter .2s ease
}
.p-about-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.p-about-card:hover .p-about-card__image::before {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,.7)
}
.p-about-card:hover .p-about-hover {
  opacity: 1
}
.p-about-hover {
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 16px
}
.about-tiles {
  display: -ms-grid;
  display: grid;
  gap: 16px 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr
}
.about-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 1px 31px 2px rgba(0,0,0,.06),0 1px 12px 0 transparent;
  box-shadow: 0 1px 31px 2px rgba(0,0,0,.06),0 1px 12px 0 transparent
}
.about-tile__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.about-tile__img img,
.about-tile__img picture {
  display: block;
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%
}
.about-tile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 15px 30px;
  background: var(--white);
  color: var(--black-brown)
}
.about-tile__num {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1
}
.about-tile__header {
  margin-bottom: 7px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1
}
.about-tile__text {
  color: var(--black60);
  font-size: .9375rem;
  line-height: 1.3
}
.brush {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1
}
.brush::before {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 50px;
  z-index: -1
}
.brush_1::before {
  background: var(--svg-brush-1) center/auto 30px no-repeat
}
.brush_2::before {
  background: var(--svg-brush-2) center/auto 45px no-repeat
}
.brush_3::before {
  background: var(--svg-brush-3) center/auto 45px no-repeat
}
.brush_4::before {
  background: var(--svg-brush-4) center/auto 54px no-repeat
}
.brush_5::before {
  background: var(--svg-brush-5) center/auto 54px no-repeat
}
.brush_first::before,
.brush_last::before {
  background-position-x: 0;
  left: -10px
}
.brush_center {
  background-position-x: 50%
}
.about-texts__article {
  margin-bottom: 32px
}
.about-texts__article-content {
  margin-top: 32px
}
.about-texts .table {
  border-spacing: 0;
  margin-top: 24px
}
.about-texts .table th {
  padding: 0 10px 15px;
  text-align: left
}
.about-texts .table td {
  border-top: 1px solid #e7e7e7;
  padding: 15px 10px
}
.amount-element {
  --svg-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M14 1a.75.75 0 0 1-.75.75h-12a.75.75 0 0 1 0-1.5h12A.75.75 0 0 1 14 1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  --svg-plus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M8 1a.75.75 0 0 0-1.5 0v5.25H1.25a.75.75 0 1 0 0 1.5H6.5V13A.75.75 0 0 0 8 13V7.75h5.25a.75.75 0 0 0 0-1.5H8V1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  border: 1px solid var(--black10);
  border-radius: 4px;
  background: var(--white);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.amount-element._lg {
  width: 117px;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.amount-element._lg button {
  height: 40px
}
.amount-element._lg button::before {
  opacity: .6;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.amount-element._lg button:hover::before {
  opacity: 1
}
.amount-element._lg button:focus-visible::before {
  opacity: 1
}
.amount-element input[type=number] {
  cursor: default;
  background: var(--white);
  width: 35px;
  height: 20px;
  padding: 0;
  text-align: center;
  border: 0;
  -webkit-appearance: textfield!important;
  -moz-appearance: textfield!important;
  appearance: textfield!important
}
.amount-element input[type=number]::-webkit-inner-spin-button,
.amount-element input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none
}
.amount-element button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--white);
  border: 0!important
}
.amount-element button::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px
}
.amount-element button.js-btn-minus::before {
  background: var(--svg-minus) no-repeat center
}
.amount-element button.js-btn-plus::before {
  background: var(--svg-plus) no-repeat center
}
@media (min-width:425px) {
  .product__header-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
  }
  .product__header-wrap .article {
    text-align: right;
    margin: 1px 0 0
  }
  .product__3d {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .product__3d > div:nth-child(2) {
    margin: 0 0 0 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
  .f-value._sizes i {
    margin: 0 24px
  }
  .warranty {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .warranty__stamp {
    width: auto
  }
  .warranty__stamp svg {
    right: 8px;
    bottom: -50px;
    width: 92px;
    height: 92px
  }
  .pack__col-1 {
    width: 50%
  }
}
@media (min-width:577px) {
  .features__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
  }
  .f-name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 165px;
    flex: 0 0 165px;
    margin-right: 24px
  }
  .pack__row:nth-child(n+3) .pack__header {
    display: none
  }
  .pack__row:nth-child(2) .pack__header {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .pack__col-1 {
    width: 165px
  }
  .pack__col-2 {
    display: block
  }
  .pack__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: 16px;
    margin-right: 0;
    width: auto
  }
  .pack__header div {
    margin-bottom: 0
  }
  .pack__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
  }
  .pack__body div {
    margin-bottom: 0
  }
}
@media (min-width:768px) {
  .product__main-gallery {
    overflow-x: hidden
  }
  .product .equip__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: 48px
  }
  .product .equip__row:nth-child(odd) .equip__text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding: 0 24px 0 0
  }
  .product .equip__img {
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-bottom: 0
  }
  .product .equip__text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-left: 24px;
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%
  }
  .product .equip._type-2 .equip__row:nth-child(odd) .equip__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
  }
  .product .equip._type-2 .equip__row {
    height: 300px;
    margin-bottom: 0
  }
  .product__content-gallery {
    overflow-x: hidden
  }
  .product__wide-image._with-text img,
  .product__wide-image._with-text picture {
    min-height: 550px
  }
  .product__about-cards {
    grid-template-columns: repeat(auto-fill,minmax(calc(33.3333333333% - 10px),1fr))
  }
  .f-value._sizes {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
  }
  .f-value._sizes i {
    margin: 0 7px
  }
  .manuals {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
  .text-over p {
    font-size: 1.125rem
  }
  .p-about-card {
    height: 365px
  }
  .p-about-card__text {
    font-size: 1.125rem
  }
  .p-about-card__text span {
    font-size: 1.5rem
  }
  .p-about-hover {
    font-size: .9375rem
  }
  .about-tiles {
    grid-template-columns: repeat(auto-fill,minmax(calc(33.3333333333% - 10px),1fr))
  }
  .about-tile__num {
    font-size: 1rem;
    margin-bottom: 13px
  }
  .about-tile__header {
    font-size: 1rem
  }
  .about-tile__text {
    font-size: .8125rem
  }
  .brush::before {
    display: block
  }
}
@media (min-width:1024px) {
  .product__header-wrap .article {
    margin: 4px 0 0
  }
  .product__details {
    --gap: 32px;
    --width: 69%;
    width: calc(var(--width) - var(--gap));
    margin-right: var(--gap)
  }
  .product__options {
    --width: 31%;
    max-width: none;
    width: var(--width);
    margin: 0
  }
  .product__options form {
    position: sticky;
    top: 120px;
    margin-right: -5px;
    max-height: calc(100vh - 180px);
    max-height: calc(100dvh - 180px)
  }
  .product__options form > div {
    margin-right: 2px
  }
  .product__name * {
    font-size: 1.5rem;
    margin-right: 0
  }
  .product__gallery-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 32px
  }
  .product__gallery-preview > div {
    width: calc(50% - 6px);
    background: var(--white)
  }
  .product__gallery-preview > div img {
    margin: 10px auto
  }
  .product__gallery-preview > div:nth-child(even) {
    margin: 12px 6px 0 0
  }
  .product__gallery-preview > div:nth-child(odd) {
    margin: 12px 0 0 6px
  }
  .product__gallery-preview > div:first-child {
    width: 100%;
    margin: 0
  }
  .product__gallery-preview > div:first-child img {
    max-height: 465px
  }
  .product__main-gallery {
    overflow-x: auto
  }
  .product__content-gallery {
    overflow-x: auto;
    margin-bottom: 125px
  }
  .product__top {
    margin-bottom: 11px
  }
  .product__price {
    font-size: 2.125rem
  }
  .product__oldprice {
    font-size: 1.5rem
  }
  .photos__carousel {
    display: -ms-grid;
    display: grid;
    gap: 50px;
    -ms-grid-columns: 117px minmax(0,1fr);
    grid-template-columns: 117px minmax(0,1fr)
  }
  .reviews__row {
    padding: 16px 24px
  }
}
@media (min-width:1280px) {
  .product__photos .labels {
    left: 140px
  }
  .product__3d {
    padding: 14px 14px 14px 24px
  }
  .product__features {
    padding: 16px 24px
  }
  .manuals__item {
    padding: 10px 16px 10px 24px
  }
  .manuals__item .h5 {
    font-weight: 500;
    font-size: 1.125rem
  }
  .warranty {
    padding: 10px 16px 16px 24px
  }
  .block-collapse {
    padding: 0 24px
  }
  .p-about-card__text {
    font-size: 1.25rem
  }
  .p-about-hover {
    font-size: 1.0625rem
  }
  .about-tile__num {
    font-size: 1.125rem
  }
  .about-tile__header {
    font-size: 1.125rem
  }
  .brush_first::before,
  .brush_last::before {
    background-position-x: -7px
  }
  .brush_last {
    padding-right: 20px
  }
  .brush_last::before {
    left: auto;
    background-position-x: right
  }
}
@media (min-width:1440px) {
  .product__details {
    --gap: 64px
  }
  .product__text-block._cols-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px 80px
  }
  .product__text-block._cols-xxl .col {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
  }
  .product__text-block._cols-xxl .col:nth-child(2) {
    margin-top: 3px
  }
}
@media (min-width:1620px) {
  .product__details {
    --gap: 88px;
    --width: 71%
  }
  .product__options {
    --width: 29%
  }
  .product .equip._type-2 .equip__row {
    height: 325px
  }
  .product__kit-list {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5,1fr)
  }
  .p-about-card {
    height: 450px
  }
  .p-about-card__text {
    font-size: 1.5rem
  }
  .p-about-hover {
    font-size: 1.25rem
  }
  .about-tile__img img,
  .about-tile__img picture {
    height: 220px
  }
}
@media (min-width:1920px) {
  .product .equip._type-2 .equip__row {
    height: 380px
  }
  .about-tile__num {
    font-size: 1.25rem;
    margin-bottom: 10px
  }
  .about-tile__header {
    font-size: 1.25rem
  }
  .about-tile__text {
    font-size: .9375rem
  }
}
@media (max-width:767px) {
  .f-value._sizes div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
  }
  .f-value._sizes span {
    margin-bottom: 5px
  }
}
@media (max-width:424px) {
  .product__header-wrap .h3 {
    margin-bottom: 5px
  }
}