.product {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.product__header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.product__header-wrap .article {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  border: 0;
  margin: 0 0 15px;
  padding: 0;
  background: 0 0;
  min-height: auto;
  font-size: .9375rem;
  color: var(--black60)
}
.product__desc {
  letter-spacing: -.3px;
  line-height: 1.4
}
.product__details {
  width: 100%
}
.product__details p:last-child {
  margin-bottom: 0
}
.product__options {
  max-width: 518px;
  margin: 0 auto;
  position: relative
}
.product__name {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 30px 15px 0
}
.product__photos {
  display: none;
  position: relative;
  margin-bottom: 64px
}
.product__photos .labels {
  top: 12px;
  left: 14px;
  bottom: auto
}
.product__gallery-preview {
  display: none
}
.product__gallery-showall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.product__gallery-showall a {
  font-weight: 700
}
.product__gallery-showall a:hover {
  text-shadow: none
}
.product__3d {
  margin-bottom: 64px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px
}
.product__3d > div:nth-child(2) {
  margin: 16px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.product__3d > div:nth-child(2) img {
  -o-object-fit: cover;
  object-fit: cover
}
.product__features {
  margin-bottom: 64px;
  max-height: 565px;
  background: var(--white);
  padding: 16px
}
.product__equip {
  margin-bottom: 64px
}
.product .equip__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 41px
}
.product .equip__img {
  margin-bottom: 17px
}
.product .equip__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.product .equip__text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.product .equip__note {
  font-size: .875rem;
  opacity: .6;
  margin-bottom: 13px
}
.product .equip__header {
  color: var(--black-real);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px
}
.product .equip__body {
  font-size: .875rem;
  line-height: 1.3
}
.product__tabs {
  margin-bottom: 64px
}
.product__reviews {
  margin-bottom: 64px;
  max-height: 620px
}
.product__content-gallery {
  margin-bottom: 125px;
  padding-bottom: 50px
}
.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5px
}
.product__top .available {
  margin: 0 12px 0 0
}
.product__top .article {
  border: 0;
  margin: 0;
  padding: 0;
  background: 0 0;
  min-height: auto;
  font-size: .8125rem;
  color: var(--black60)
}
.product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 12px
}
.product__price {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  margin-right: 8px;
  white-space: nowrap
}
.product__oldprice {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  color: var(--black30);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  white-space: nowrap
}
.product__fav {
  position: absolute;
  right: 0;
  top: 32px
}
.product__loan {
  white-space: nowrap;
  margin-bottom: 12px
}
.product__loan span {
  margin-right: 6px;
  opacity: .5
}
.product__props {
  margin: 20px 0 16px
}
.product__props .prop {
  margin-bottom: 0;
  padding: 10px 0 12px;
  border-bottom: 1px solid var(--black10)
}
.product__props .prop:last-child {
  border-bottom: 0
}
.product__props .prop__label {
  margin: 0 0 10px;
  font-size: .9375rem
}
.product__purchase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 42px;
  margin-bottom: 16px
}
.product__buy button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  min-width: 145px;
  height: 42px;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.product__amount {
  height: 42px
}
.product__delivery {
  margin-bottom: 19px
}
.product__delivery .available {
  font-size: .875rem
}
.product__showroom {
  font-size: .875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 32px
}
.product__showroom a {
  text-decoration: underline;
  text-decoration-color: var(--black30);
  text-underline-offset: 1px;
  color: var(--black60);
  margin: 0 12px 5px 0
}
.product__showroom a:first-child {
  margin-left: 12px
}
.product__more {
  margin-bottom: 32px
}
.product__more a {
  font-size: .8125rem
}
.product__more a svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  fill: var(--black60)
}
.product__more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  border-top: 2px solid var(--black10)
}
.photos {
  height: 100%
}
.photos__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px
}
.photos__header {
  font-size: 1.25rem;
  font-weight: 700
}
.photos__header span {
  position: relative;
  margin-left: 16px
}
.photos__header span::before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--black60)
}
.photos__close {
  width: 40px;
  height: 40px;
  margin-right: -10px
}
.photos__close .btn {
  top: auto;
  right: -10px;
  z-index: 1
}
.props-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--black10)
}
.props-wrapper .prop {
  border-bottom: 0;
  padding-bottom: 0
}
.features {
  margin: 32px 0 64px
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 8px 0 22px;
  border-top: 2px solid var(--black10)
}
.features__row:first-child {
  border: none
}
.f-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 26px;
  flex: 0 0 26px;
  font-weight: 700;
  color: var(--black-real)
}
.f-value {
  color: var(--black-real)
}
.f-value div {
  margin-bottom: 8px
}
.f-value div:last-child {
  margin-bottom: 0
}
.f-value span {
  color: var(--black70)
}
.f-value i {
  font-size: 1rem;
  font-style: normal;
  margin: 0 7px
}
.f-value._sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.f-value._sizes div {
  margin: 0
}
.f-value._sizes i {
  margin: 0 12px
}
.manuals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-bottom: 64px
}
.manuals__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: var(--gray);
  padding: 8px 8px 8px 16px;
  min-height: 88px
}
.manuals__item .h5 {
  font-size: .9375rem;
  margin-bottom: 12px
}
.manuals__item > div:nth-child(1) {
  margin: 6px 8px 6px 0
}
.manuals__item > div:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.manuals__item img {
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover
}
.manuals__link {
  text-decoration: none;
  margin-right: 9px
}
.manuals__link svg {
  width: 16px;
  height: 16px;
  margin: 0 4px -2px 0
}
.manuals__link + span {
  color: var(--black60)
}
.warranty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--gray);
  padding: 16px;
  margin-bottom: 64px
}
.warranty__stamp {
  position: relative;
  width: 30%
}
.warranty__stamp svg {
  position: absolute;
  right: -5px;
  bottom: -30px;
  width: 72px;
  height: 72px
}
.warranty .h3 {
  margin-bottom: 10px
}
.warranty p {
  margin-bottom: 5px;
  color: var(--black-real);
  line-height: 1.1
}
.warranty a {
  color: var(--black60)
}
.warranty > div:nth-child(2) {
  margin-left: 8px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.warranty img {
  border-radius: 4px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left
}
.block-collapsible {
  position: relative;
  overflow: hidden;
  padding-bottom: 64px!important;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.block-collapse {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 0 16px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}
.block-collapse::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  width: 100%;
  height: 65px;
  z-index: 1;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(#fff));
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0,#fff 100%);
  background: linear-gradient(180deg,rgba(0,0,0,0) 0,#fff 100%)
}
.is-opened .block-collapse::before {
  background: 0 0
}
.block-collapse__btn {
  width: 100%;
  border: 0;
  background: 0 0;
  color: var(--bright-blue);
  font-weight: 700;
  padding: 0;
  border-top: 2px solid var(--black10);
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out
}
.block-collapse__btn:active {
  color: var(--bright-blue60)
}
.block-collapse__btn:active span::after {
  opacity: .6
}
.block-collapse__btn span {
  position: relative;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap
}
.block-collapse__btn span ~ span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.block-collapse__btn span::after {
  content: "";
  display: block;
  height: 11px;
  width: 11px;
  margin-left: 4px;
  background: var(--svg-angle-bright-blue) center no-repeat;
  -webkit-transform: translateY(2px) rotate(-90deg);
  -ms-transform: translateY(2px) rotate(-90deg);
  transform: translateY(2px) rotate(-90deg);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out
}
.block-collapse__btn.is-closed span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.block-collapse__btn.is-closed span ~ span {
  display: none
}
.block-collapse__btn.is-closed span::after {
  -webkit-transform: translateY(0) rotate(90deg);
  -ms-transform: translateY(0) rotate(90deg);
  transform: translateY(0) rotate(90deg)
}
.reviews {
  margin-top: 32px
}
.reviews__row {
  padding: 12px 16px;
  margin-bottom: 12px;
  background: var(--white);
  border-radius: 4px
}
.reviews__row:last-child {
  margin-bottom: 0
}
.r-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px
}
.r-header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 75%;
  overflow-wrap: anywhere;
  word-break: break-word
}
.r-header__person img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 11px
}
.r-header__person span {
  font-size: 1.125rem;
  margin-right: 11px
}
.r-header__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap
}
.r-header__rating svg {
  width: 16px;
  height: 16px
}
.r-header__link {
  margin: 7px 0
}
.r-header__link a {
  font-size: .8125rem;
  line-height: 1;
  color: var(--black60)
}
.r-body {
  margin-bottom: 17px
}
.r-body p {
  margin-bottom: 8px;
  max-width: 540px;
  overflow-wrap: anywhere;
  word-break: break-word
}
.r-date {
  color: var(--black60)
}
.pack__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-bottom: 16px
}
.pack__row:first-child {
  border-bottom: 1px solid var(--black10);
  padding-bottom: 35px
}
.pack__row:last-child {
  margin-bottom: 0
}
.pack__row:nth-child(2) .pack__header {
  display: none
}
.pack__col-1 {
  width: 30%;
  min-width: 130px;
  margin-right: 16px
}
.pack__col-2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pack__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left;
  color: var(--black60);
  margin-right: 15px;
  width: 70px
}
.pack__header div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 4px
}
.pack__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left
}
.pack__body div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 4px
}
.pack__group {
  font-weight: 700
}
.pack__group span {
  font-weight: 500;
  color: var(--black60)
}
.pack__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.pack__name i {
  font-style: normal;
  color: var(--black60);
  margin-right: 8px
}
.amount-element {
  --svg-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M14 1a.75.75 0 0 1-.75.75h-12a.75.75 0 0 1 0-1.5h12A.75.75 0 0 1 14 1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  --svg-plus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23333' fill-rule='evenodd' d='M8 1a.75.75 0 0 0-1.5 0v5.25H1.25a.75.75 0 1 0 0 1.5H6.5V13A.75.75 0 0 0 8 13V7.75h5.25a.75.75 0 0 0 0-1.5H8V1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  border: 1px solid var(--black10);
  border-radius: 4px;
  background: var(--gray);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.amount-element._white {
  background: var(--white)
}
.amount-element._white button,
.amount-element._white input[type=number] {
  background: var(--white)
}
.amount-element._lg {
  width: 117px;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.amount-element._lg button {
  height: 40px;
  opacity: .6
}
.amount-element input[type=number] {
  cursor: default;
  background: var(--gray);
  width: 25px;
  height: 20px;
  padding: 0;
  text-align: center;
  border: 0;
  -webkit-appearance: textfield!important;
  -moz-appearance: textfield!important;
  appearance: textfield!important
}
.amount-element input[type=number]::-webkit-inner-spin-button,
.amount-element input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none
}
.amount-element button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--gray);
  border: 0!important
}
.amount-element button::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px
}
.amount-element button.js-btn-minus::before {
  background: var(--svg-minus) no-repeat center
}
.amount-element button.js-btn-plus::before {
  background: var(--svg-plus) no-repeat center
}
@media (min-width:425px) {
  .product__header-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
  }
  .product__header-wrap .article {
    text-align: right;
    margin: 1px 0 0
  }
  .product__3d {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .product__3d > div:nth-child(2) {
    margin: 0 0 0 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
  .f-value._sizes i {
    margin: 0 24px
  }
  .warranty {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .warranty__stamp {
    width: auto
  }
  .warranty__stamp svg {
    right: 8px;
    bottom: -50px;
    width: 92px;
    height: 92px
  }
  .pack__col-1 {
    width: 50%
  }
}
@media (min-width:577px) {
  .features__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
  }
  .f-name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 165px;
    flex: 0 0 165px;
    margin-right: 24px
  }
  .pack__row:nth-child(n+3) .pack__header {
    display: none
  }
  .pack__row:nth-child(2) .pack__header {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .pack__col-1 {
    width: 165px
  }
  .pack__col-2 {
    display: block
  }
  .pack__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: 16px;
    margin-right: 0;
    width: auto
  }
  .pack__header div {
    margin-bottom: 0
  }
  .pack__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
  }
  .pack__body div {
    margin-bottom: 0
  }
}
@media (min-width:768px) {
  .product .equip__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-bottom: 48px
  }
  .product .equip__row:nth-child(odd) .equip__text {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding: 0 24px 0 0
  }
  .product .equip__img {
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-bottom: 0
  }
  .product .equip__text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-left: 24px;
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%
  }
  .product__content-gallery {
    overflow-x: hidden
  }
  .f-value._sizes {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
  }
  .f-value._sizes i {
    margin: 0 7px
  }
  .manuals {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:1024px) {
  .product__header-wrap .article {
    margin: 4px 0 0
  }
  .product__details {
    max-width: 790px;
    margin-right: 32px
  }
  .product__options {
    max-width: none;
    width: 400px;
    margin: 0
  }
  .product__options form {
    position: sticky;
    top: 100px;
    margin: 0 0 50px
  }
  .product__name {
    font-size: 1.5rem;
    margin-right: 0
  }
  .product__photos {
    display: block
  }
  .product__gallery-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 0 32px
  }
  .product__gallery-preview > div {
    width: calc(50% - 6px)
  }
  .product__gallery-preview > div:nth-child(even) {
    margin: 12px 6px 0 0
  }
  .product__gallery-preview > div:nth-child(odd) {
    margin: 12px 0 0 6px
  }
  .product__gallery-preview > div:first-child {
    width: 100%;
    background: var(--white);
    margin: 0
  }
  .product__gallery-preview > div:first-child img {
    max-height: 465px;
    margin: 0 auto
  }
  .product__content-gallery {
    overflow-x: auto
  }
  .product__top {
    margin-bottom: 11px
  }
  .product__price {
    font-size: 2.125rem
  }
  .product__oldprice {
    font-size: 1.5rem
  }
  .photos__carousel {
    display: -ms-grid;
    display: grid;
    gap: 50px;
    -ms-grid-columns: 195px minmax(0,1fr);
    grid-template-columns: 195px minmax(0,1fr)
  }
  .reviews__row {
    padding: 16px 24px
  }
}
@media (min-width:1280px) {
  .product__3d {
    padding: 14px 14px 14px 24px
  }
  .product__features {
    padding: 16px 24px
  }
  .manuals__item {
    padding: 10px 16px 10px 24px
  }
  .manuals__item .h5 {
    font-weight: 500;
    font-size: 1.125rem
  }
  .warranty {
    padding: 10px 16px 16px 24px
  }
  .block-collapse {
    padding: 0 24px
  }
}
@media (max-width:767px) {
  .f-value._sizes div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
  }
  .f-value._sizes span {
    margin-bottom: 5px
  }
}
@media (max-width:424px) {
  .product__header-wrap .h3 {
    margin-bottom: 5px
  }
}