.showrooms__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1,1fr);
  gap: 8px;
  margin-bottom: 112px
}
.sr-card {
  background: var(--gray);
  min-height: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border-radius: 0 4px 4px 0
}
.sr-card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px
}
.sr-card__desc span {
  color: var(--black60)
}
.sr-card__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 11px
}
.sr-card__address a {
  text-decoration: none
}
.sr-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 4px
}
.sr-card__icon span {
  font-size: .875rem;
  line-height: 1.3;
  color: var(--black60);
  white-space: nowrap;
  margin-left: 4px
}
.sr-card__street {
  font-weight: 700
}
.sr-card__hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1,1fr)
}
.sr-card__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1,1fr);
  gap: 2px;
  font-size: .875rem;
  line-height: 1.4;
  margin-top: 16px
}
.sr-card__contacts span {
  display: block
}
.sr-card__note {
  border-top: 1px solid var(--black-real10);
  margin-top: 20px
}
.sr-card__note .note {
  font-size: .875rem;
  line-height: 1.3;
  margin: 16px 0;
  padding-left: 16px
}
.sr-card__gallery {
  display: none;
  position: relative
}
.sr-card__gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-radius: 4px;
  z-index: 2
}
.sr-card__gallery-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 8px
}
body.is-touch .sr-card__gallery-item:not(:first-child) {
  display: none
}
.sr-card__gallery-item.is-active img {
  opacity: 1
}
.sr-card__gallery-item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none
}
.sr-card__gallery-nav {
  display: block;
  position: relative;
  height: 100%
}
body:not(.is-touch) .sr-card__gallery-nav {
  margin: 0 3px 0 0
}
body:not(.is-touch) .sr-card__gallery-nav:last-child {
  margin-right: 0
}
.sr-card__gallery-nav::before {
  content: "";
  cursor: pointer;
  display: block;
  height: 1px;
  background-color: rgba(255,255,255,.3);
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1
}
body.is-touch .sr-card__gallery-nav::before {
  display: none
}
body:not(.is-touch) .is-active .sr-card__gallery-nav::before {
  background: var(--white)
}
.heading._showroom {
  background: var(--gray);
  border-radius: 8px;
  margin-bottom: 112px;
  margin-left: -12px;
  margin-right: -12px
}
.heading._showroom .heading__left {
  background: 0 0;
  padding-top: 32px
}
.heading._showroom .heading__right {
  width: 100%;
  padding: 4px
}
.heading._showroom .heading__carousel {
  position: relative
}
.heading._showroom .heading__map {
  position: relative;
  height: 100%
}
.heading._showroom .heading__map [class$=inner-panes] {
  border-radius: 4px;
  border: 1px solid var(--black10)
}
.heading._showroom .heading__text {
  margin-right: 0
}
.heading._showroom .heading__button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1,1fr);
  gap: 8px
}
.heading._showroom .heading__button .btn {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%
}
.heading._showroom .sr-card {
  display: block;
  min-height: auto;
  background: 0 0;
  border-radius: 0
}
.heading._showroom .sr-card__desc {
  display: block;
  padding: 0
}
.heading._showroom .sr-card__address {
  display: block;
  margin-bottom: 20px
}
.heading._showroom .sr-card__icon {
  margin-bottom: 4px
}
.heading._showroom .sr-card__street {
  font-size: 1.25rem
}
.heading._showroom .sr-card__hours {
  gap: 5px
}
.heading._showroom .sr-card__contacts {
  font-size: .9375rem;
  line-height: 1.2;
  gap: 5px;
  margin-top: 20px
}
.heading._showroom .sr-card__contacts span {
  margin-right: 3px
}
.heading._showroom .sr-card__note {
  margin-top: 20px
}
.showroom-trigger {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: none!important;
  margin: 1px 0 8px
}
.icon-map {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.icon-map svg {
  width: 10px;
  height: 14px;
  fill: currentColor
}
@media (min-width:375px) {
  .heading._showroom .heading__button {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr)
  }
}
@media (min-width:425px) {
  .heading._showroom .sr-card__contacts span {
    display: inline
  }
}
@media (min-width:577px) {
  .showrooms__list {
    gap: 12px
  }
  .sr-card {
    min-height: 260px
  }
  .sr-card__desc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .sr-card__address {
    display: block
  }
  .sr-card__icon {
    margin: 0 0 9px 0
  }
  .sr-card__street {
    font-size: 1.125rem
  }
  .sr-card__gallery {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .heading._showroom {
    margin-left: auto;
    margin-right: auto
  }
}
@media (min-width:768px) {
  .heading._showroom .heading__right {
    padding: 11px
  }
  .heading._showroom .sr-card__address {
    margin-bottom: 28px
  }
  .heading._showroom .sr-card__contacts {
    margin-top: 28px
  }
  .heading._showroom .sr-card__note {
    margin-top: 28px
  }
}
@media (min-width:1024px) {
  .showrooms__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    gap: 16px
  }
  .heading._showroom .heading__right {
    padding: 8px
  }
  .heading._showroom .sr-card__address {
    margin-bottom: 32px
  }
  .heading._showroom .sr-card__street {
    max-width: 77%
  }
  .heading._showroom .sr-card__contacts {
    margin-top: 32px
  }
  .heading._showroom .sr-card__note {
    margin-top: 32px
  }
  .showroom-trigger {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    overflow: hidden;
    color: var(--white)!important;
    margin: 0
  }
  .showroom-trigger::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear,left bottom,left top,from(#000),color-stop(33%,rgba(255,255,255,0)));
    background: -o-linear-gradient(bottom,#000 0,rgba(255,255,255,0) 33%);
    background: linear-gradient(0deg,#000 0,rgba(255,255,255,0) 33%);
    opacity: .5
  }
  .showroom-trigger span {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 8px
  }
}
@media (max-width:1023px) {
  .showroom-trigger {
    width: 100%;
    height: 40px;
    background: var(--white);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 4px;
    text-decoration: none;
    margin: 1px 0 12px
  }
  .showroom-trigger::after {
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    width: 8px;
    height: 11px;
    background: var(--svg-angle) center no-repeat
  }
  .showroom-trigger img {
    width: auto;
    height: 32px;
    border-radius: 2px
  }
  .showroom-trigger span {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    font-size: .875rem;
    margin-left: 12px
  }
}
@media (max-width:576px) {
  .heading._showroom .heading__left {
    padding-left: 12px;
    padding-right: 12px
  }
}