.product {
	justify-content: space-between;

	// .product__header-wrap
	&__header-wrap {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;

		@include respond-to(sm) {
			flex-flow: row wrap;
		}

		.article {
			order: 1;
			border: 0;
			margin: 0 0 15px;
			padding: 0;
			background: transparent;
			min-height: auto;
			font-size: rem(15);
			color: $black60;

			@include respond-to(sm) {
				text-align: right;
				margin: 1px 0 0;
			}

			@include respond-to(lg) {
				margin: 4px 0 0;
			}
		}

		.h3 {
			@include respond-to(sm, "max") {
				margin-bottom: 5px;
			}
		}
	}

	//.product__desc
	&__desc {
		letter-spacing: -0.3px;
		line-height: 1.4;
	}

	// .product__details
	&__details {
		width: 100%;

		@include respond-to(lg) {
			max-width: 790px;
			margin-right: 32px;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	// .product__options
	&__options {
		max-width: 518px;
		margin: 0 auto;
		position: relative;

		@include respond-to(lg) {
			max-width: none;
			width: 400px;
			margin: 0;
		}
	}

	// .product__name
	&__name {
		font-size: rem(18);
		font-weight: 600;
		line-height: 1;
		margin: 0 30px 15px 0;

		@include respond-to(lg) {
			font-size: rem(24);
			margin-right: 0;
		}
	}
	// .product__photos
	&__photos {
		display: none;
		position: relative;
		margin-bottom: 64px;

		@include respond-to(lg) {
			display: block;
		}

		.labels {
			top: 12px;
			left: 14px;
			bottom: auto;
		}
	}

	// .product__gallery
	&__gallery {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $gray;

		&.is-active {
			display: block;
			z-index: 5;
			padding-top: 15px;

			.container {
				height: 100%;
			}
		}
	}

	// .product__gallery-preview
	&__gallery-preview {
		display: none;

		@include respond-to(lg) {
			display: flex;
			flex-flow: row wrap;
			margin: 0 0 32px;

			& > div {
				width: calc(50% - 6px);
			}

			& > div:nth-child(even) {
				margin: 12px 6px 0 0;
			}

			& > div:nth-child(odd) {
				margin: 12px 0 0 6px;
			}

			& > div:first-child {
				width: 100%;
				background: $white;
				margin: 0;

				img {
					max-height: 465px;
					margin: 0 auto;
				}
			}
		}
	}

	// .product__gallery-showall
	&__gallery-showall {
		display: flex;
		justify-content: center;

		a {
			font-weight: 700;

			@include on-hover {
				text-shadow: none;
			}
		}
	}

	// .product__3d
	&__3d {
		margin-bottom: 64px;
		background: $white;
		display: flex;
		flex-direction: column;
		padding: 16px;

		@include respond-to(xl) {
			padding: 14px 14px 14px 24px;
		}

		& > div:nth-child(2) {
			margin: 16px 0 0;
			flex: 0 0 auto;

			img {
				object-fit: cover;
			}
		}

		@include respond-to(sm) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			& > div:nth-child(2) {
				margin: 0 0 0 16px;
				flex: 0 0 auto;
			}
		}
	}

	// .product__features
	&__features {
		margin-bottom: 64px;
		max-height: 565px;
		background: $white;
		padding: 16px;

		@include respond-to(xl) {
			padding: 16px 24px;
		}
	}
	// .product__equip
	&__equip {
		margin-bottom: 64px;
	}
	// .product__tabs
	&__tabs {
		margin-bottom: 64px;
	}
	// .product__reviews
	&__reviews {
		margin-bottom: 64px;
		max-height: 620px;
	}
	// .product__content-gallery
	&__content-gallery {
		margin-bottom: 125px;
		padding-bottom: 50px;

		@include respond-to(md) {
			overflow-x: hidden;
		}

		@include respond-to(lg) {
			overflow-x: auto;
		}
	}
	// .product__top
	&__top {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		margin-bottom: 5px;

		@include respond-to(lg) {
			margin-bottom: 11px;
		}

		.available {
			margin: 0 12px 0 0;
		}

		.article {
			border: 0;
			margin: 0;
			padding: 0;
			background: transparent;
			min-height: auto;
			font-size: rem(13);
			color: $black60;
		}
	}

	// .product__prices
	&__prices {
		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
		margin-bottom: 12px;

		// @include respond-to(xm) {
		// 	flex-wrap: nowrap;
		// }
	}

	// .product__price
	&__price {
		font-size: rem(24);
		line-height: 1;
		font-weight: 700;
		margin-right: 8px;
		white-space: nowrap;

		@include respond-to(lg) {
			font-size: rem(34);
		}
	}

	// .product__oldprice
	&__oldprice {
		font-size: rem(18);
		line-height: 1;
		font-weight: 700;
		color: $black30;
		text-decoration: line-through;
		text-decoration-thickness: 1px;
		white-space: nowrap;

		@include respond-to(lg) {
			font-size: rem(24);
		}
		// @include respond-to(lg, "max") {
		// 	padding-right: 35px;
		// }
	}

	// .product__fav
	&__fav {
		position: absolute;
		right: 0;
		top: 32px;
	}

	// .product__loan
	&__loan {
		white-space: nowrap;
		margin-bottom: 12px;

		span {
			margin-right: 6px;
			opacity: 0.5;
		}
	}

	// .product__props
	&__props {
		margin: 20px 0 16px;

		.prop {
			margin-bottom: 0;
			padding: 10px 0 12px;
			border-bottom: 1px solid $black10;

			&:last-child {
				border-bottom: 0;
			}
		}

		.prop__label {
			margin: 0 0 10px;
			font-size: rem(15);
		}
	}

	// .product__purchase
	&__purchase {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 18px;
		align-items: center;
		position: relative;
		height: 42px;
		margin-bottom: 16px;
	}

	// .product__buy
	&__buy {
		button {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			padding-left: 5px;
			padding-right: 5px;
			width: 100%;
			min-width: 145px;
			height: 42px;
			transition: all $transition-default;

			span {
				display: inline;
				position: relative;
				white-space: nowrap;

				& ~ span {
					display: none;
					margin-right: 16px;

					&::after {
						content: "";
						display: block;
						position: absolute;
						top: 4px;
						right: -20px;
						width: 14px;
						height: 12px;
						background: var(--svg-checked) center no-repeat;
						background-size: contain;
					}
				}
			}

			&.in-cart {
				width: calc(50% - 9px);

				span {
					display: none;

					& ~ span {
						display: inline;
					}
				}
			}
		}
	}

	// .product__amount
	&__amount {
		height: 42px;
	}

	// .product__delivery
	&__delivery {
		margin-bottom: 19px;

		.available {
			font-size: rem(14);
		}
	}

	// .product__showroom
	&__showroom {
		font-size: rem(14);
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 32px;

		a {
			text-decoration: underline;
			text-decoration-color: $black30;
			text-underline-offset: 1px;
			color: $black60;
			margin: 0 12px 5px 0;

			&:first-child {
				margin-left: 12px;
			}
		}
	}

	// .product__more
	&__more {
		margin-bottom: 32px;

		a {
			font-size: rem(13);

			svg {
				width: 20px;
				height: 20px;
				margin-right: 6px;
				fill: $black60;
			}
		}
	}

	// .product__more-item
	&__more-item {
		display: flex;
		align-items: center;
		min-height: 40px;
		border-top: 2px solid $black10;
	}
}

.photos {
	height: 100%;

	// .photos__head
	&__head {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	// .photos__header
	&__header {
		font-size: rem(20);
		font-weight: 700;

		span {
			position: relative;
			margin-left: 16px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: -12px;
				top: 12px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $black60;
			}
		}
	}

	// .photos__close
	&__close {
		width: 40px;
		height: 40px;
		margin-right: -10px;

		.btn {
			top: auto;
			right: -10px;
			z-index: 1;
		}
	}

	// .photos__carousel
	&__carousel {
		@include respond-to(lg) {
			display: grid;
			gap: 50px;
			grid-template-columns: 195px minmax(0px, 1fr);
		}
	}
}

.props-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 18px;
	padding-bottom: 30px;
	border-bottom: 1px solid $black10;

	.prop {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.features {
	margin: 32px 0 64px;

	// .features__row
	&__row {
		display: flex;
		flex-flow: column nowrap;
		padding: 8px 0 22px;
		border-top: 2px solid $black10;

		@include respond-to(xm) {
			flex-flow: row nowrap;
		}

		&:first-child {
			border: none;
		}
	}
}

.f-name {
	flex: 0 0 26px;
	font-weight: 700;
	color: $black-real;

	@include respond-to(xm) {
		flex: 0 0 165px;
		margin-right: 24px;
	}
}

.f-value {
	color: $black-real;
	// font-weight: 600;

	div {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		color: $black70;
	}

	i {
		font-size: rem(16);
		font-style: normal;
		margin: 0 7px;
	}

	&._sizes {
		display: flex;
		align-items: center;

		@include respond-to(md) {
			align-items: flex-end;
		}

		div {
			margin: 0;

			@include respond-to(md, "max") {
				display: flex;
				flex-direction: column;
				text-align: center;
			}
		}

		span {
			@include respond-to(md, "max") {
				margin-bottom: 5px;
			}
		}

		i {
			margin: 0 12px;

			@include respond-to(sm) {
				margin: 0 24px;
			}

			@include respond-to(md) {
				margin: 0 7px;
			}
		}
	}
}

.manuals {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
	margin-bottom: 64px;

	@include respond-to(md) {
		grid-template-columns: repeat(2, 1fr);
	}

	// .manuals__item
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background: $gray;
		padding: 8px 8px 8px 16px;
		min-height: 88px;

		@include respond-to(xl) {
			padding: 10px 16px 10px 24px;
		}

		.h5 {
			font-size: rem(15);
			margin-bottom: 12px;

			@include respond-to(xl) {
				font-weight: 500;
				font-size: rem(18);
			}
		}

		& > div {
			// margin: 6px 0;
		}

		& > div:nth-child(1) {
			margin: 6px 8px 6px 0;
		}

		& > div:nth-child(2) {
			flex: 0 1 auto;
		}

		img {
			border-radius: 4px;
			object-fit: cover;
		}
	}
	// .manuals__link
	&__link {
		text-decoration: none;
		margin-right: 9px;

		svg {
			width: 16px;
			height: 16px;
			margin: 0 4px -2px 0;
		}

		& + span {
			color: $black60;
		}
	}
}

.warranty {
	display: flex;
	justify-content: space-between;
	background: $gray;
	padding: 16px;
	margin-bottom: 64px;

	@include respond-to(sm) {
		align-items: center;
	}

	@include respond-to(xl) {
		padding: 10px 16px 16px 24px;
	}

	// .warranty__stamp
	&__stamp {
		position: relative;
		width: 30%;

		@include respond-to(sm) {
			width: auto;
		}

		svg {
			position: absolute;
			right: -5px;
			bottom: -30px;
			width: 72px;
			height: 72px;

			@include respond-to(sm) {
				right: 8px;
				bottom: -50px;
				width: 92px;
				height: 92px;
			}
		}
	}

	.h3 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 5px;
		color: $black-real;
		line-height: 1.1;
	}

	a {
		color: $black60;
	}

	& > div:nth-child(2) {
		margin-left: 8px;
		flex: 0 0 auto;
	}

	img {
		border-radius: 4px;
		height: 100%;
		object-fit: cover;
		object-position: left;
	}
}

.block-collapsible {
	position: relative;
	overflow: hidden;
	padding-bottom: 64px !important;
	transition: all $transition-default;
}

.block-collapse {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 64px;
	padding: 0 16px;
	background: $white;
	display: flex;
	flex-flow: row nowrap;

	@include respond-to(xl) {
		padding: 0 24px;
	}

	// @include when-inside(".product__reviews") {
	// 	padding: 0 16px;
	// }

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		width: 100%;
		height: 65px;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%);

		@include when-inside(".is-opened") {
			background: none;
		}
	}

	// .block-collapse__btn
	&__btn {
		width: 100%;
		border: 0;
		background: transparent;
		color: $bright-blue;
		font-weight: 700;
		padding: 0;
		border-top: 2px solid $black10;
		transition: color $transition-default;

		@include on-active {
			color: $bright-blue60;

			span {
				&::after {
					opacity: 0.6;
				}
			}
		}

		span {
			position: relative;
			display: none;
			justify-content: center;
			align-items: center;
			white-space: nowrap;

			& ~ span {
				display: flex;
			}

			&::after {
				content: "";
				display: block;
				height: 11px;
				width: 11px;
				margin-left: 4px;
				background: $svg-angle-bright-blue center no-repeat;
				transform: translateY(2px) rotate(-90deg);
				transition: all $transition-default;
			}
		}

		&.is-closed {
			span {
				display: flex;

				& ~ span {
					display: none;
				}

				&::after {
					transform: translateY(0) rotate(90deg);
				}
			}
		}
	}
}

.reviews {
	margin-top: 32px;

	// .reviews__row
	&__row {
		padding: 12px 16px;
		margin-bottom: 12px;
		background: $white;
		border-radius: 4px;

		@include respond-to(lg) {
			padding: 16px 24px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.r-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;

	// .r-header__person
	&__person {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		max-width: 75%;
		overflow-wrap: anywhere;
		word-break: break-word; // deprecated

		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin-right: 11px;
		}

		span {
			font-size: rem(18);
			margin-right: 11px;
		}
	}
	// .r-header__rating
	&__rating {
		display: flex;
		flex-flow: row nowrap;

		svg {
			width: 16px;
			height: 16px;
		}
	}
	// .r-header__link
	&__link {
		margin: 7px 0;

		a {
			font-size: rem(13);
			line-height: 1;
			color: var(--black60);
		}
	}
}
.r-body {
	margin-bottom: 17px;

	p {
		margin-bottom: 8px;
		max-width: 540px;
		overflow-wrap: anywhere;
		word-break: break-word; // deprecated
	}
}
.r-date {
	color: $black60;
}

.pack {
	// .pack__row
	&__row {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 16px;

		&:first-child {
			border-bottom: 1px solid $black10;
			padding-bottom: 35px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(n + 3) {
			.pack__header {
				@include respond-to(xm) {
					display: none;
				}
			}
		}

		&:nth-child(2) {
			.pack__header {
				display: none;

				@include respond-to(xm) {
					margin-bottom: 0;
					display: flex;
				}
			}
		}
	}
	// .pack__col-1
	&__col-1 {
		width: 30%;
		min-width: 130px;
		margin-right: 16px;

		@include respond-to(sm) {
			width: 50%;
		}

		@include respond-to(xm) {
			width: 165px;
		}
	}
	// .pack__col-2
	&__col-2 {
		flex: 1;
		display: flex;

		@include respond-to(xm) {
			display: block;
		}
	}
	// .pack__header
	&__header {
		display: flex;
		flex-flow: column nowrap;
		text-align: left;
		color: $black60;
		margin-right: 15px;
		width: 70px;

		@include respond-to(xm) {
			flex-flow: row nowrap;
			margin-bottom: 16px;
			margin-right: 0;
			width: auto;
		}

		div {
			flex: 1;
			margin-bottom: 4px;
			@include respond-to(xm) {
				margin-bottom: 0;
			}
		}
	}
	// .pack__body
	&__body {
		display: flex;
		flex-flow: column nowrap;
		text-align: left;

		@include respond-to(xm) {
			flex-flow: row nowrap;
		}

		div {
			flex: 1;
			margin-bottom: 4px;
			@include respond-to(xm) {
				margin-bottom: 0;
			}
		}
	}
	// .pack__group
	&__group {
		font-weight: 700;

		span {
			font-weight: 500;
			color: $black60;
		}
	}
	// .pack__name
	&__name {
		display: flex;

		i {
			font-style: normal;
			color: $black60;
			margin-right: 8px;
		}
	}
}
