.product-model {
	margin-top: 50px;
	width: 100%;
	text-align: left;

	@import "components/buttons";
}

.product {
	//! .product__equip
	&__equip {
		margin-bottom: 64px;
		max-width: 1214px;
		margin-left: auto;
		margin-right: auto;

		.equip {
			// .equip__row
			&__row {
				display: flex;
				flex-direction: column;
				margin-bottom: 41px;

				@include respond-to(md) {
					flex-flow: row nowrap;
					margin-bottom: 48px;
				}

				&:nth-child(odd) {
					.equip__text {
						@include respond-to(md) {
							order: 0;
							padding: 0 24px 0 0;
						}
					}
				}
			}
			// .equip__img
			&__img {
				margin-bottom: 17px;

				@include respond-to(md) {
					width: 50%;
					flex: 1 1 50%;
					margin-bottom: 0;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
			// .equip__text
			&__text {
				order: 1;

				@include respond-to(md) {
					align-self: center;
					padding-left: 24px;
					width: 50%;
					flex: 1 1 50%;
				}
			}
			// .equip__note
			&__note {
				font-size: rem(14);
				opacity: 0.6;
				margin-bottom: 13px;
			}
			// .equip__header
			&__header {
				color: $black-real;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 11px;
			}
			// .equip__body
			&__body {
				font-size: rem(14);
				line-height: 1.3;
			}

			&._type-2 {
				.h2,
				h2 {
					margin-bottom: 32px;
				}

				.equip__row {
					margin-bottom: 20px;

					&:nth-child(odd) {
						.equip__text {
							@include respond-to(md) {
								order: 1;
							}
						}
					}

					@include respond-to(md) {
						height: 300px;
						margin-bottom: 0;
					}

					@include respond-to(xxxl) {
						height: 325px;
					}

					@include respond-to(wide) {
						height: 380px;
					}
				}

				.equip__header {
					font-size: rem(18);
					text-transform: none;
				}

				.equip__text {
					order: 0;
				}
			}
		}
	}

	//! .product__text-block
	&__text-block {
		margin-bottom: 44px;

		h1,
		.h1 {
			line-height: 0.9;
			margin-bottom: 0;
			font-size: rem(50);
		}

		// h2,
		// .h2 {
		// 	line-height: 0.9;
		// 	margin-bottom: 0;
		// }

		h3,
		.h3 {
			font-size: rem(30);
		}

		.text-yellow {
			text-shadow: $shadow-700;
		}

		p {
			font-size: rem(15);
		}

		&._cols-xxl {
			@include respond-to(xxl) {
				display: flex;
				gap: 40px 80px;

				.col {
					flex: 1 1 100%;

					&:nth-child(2) {
						margin-top: 14px;
					}
				}
			}
		}

		.col {
			margin-bottom: 20px;
		}
	}

	//! .product__carousel-info-model
	&__carousel-info-model {
		margin-bottom: 125px;
	}

	//! .product__wide-image
	&__wide-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 64px;

		&._with-text {
			picture,
			img {
				height: auto;
				object-fit: cover;
				min-height: 422px;

				@include respond-to(md) {
					min-height: 550px;
				}
			}
		}

		&._filter-blur,
		&._filter-black {
			position: relative;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}

		// _filter-blur
		&._filter-blur {
			&::before {
				backdrop-filter: blur(4px);
			}
		}

		// _filter-black
		&._filter-black {
			&::before {
				background: rgba(0, 0, 0, 0.4);
			}
		}

		// _on-hover
		&._on-hover {
			position: relative;

			.text-over {
				opacity: 0;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: backdrop-filter 0.2s ease;
			}

			@include on-hover {
				&::before {
					backdrop-filter: blur(4px);
					background: rgba(0, 0, 0, 0.4);
				}

				.text-over {
					opacity: 1;
				}
			}
		}
	}

	//! .product__about-cards
	&__about-cards {
		display: grid;
		gap: 10px;
		margin-bottom: 64px;
		grid-template-columns: 1fr;

		@include respond-to(md) {
			grid-template-columns: repeat(auto-fill, minmax(calc((100% / 3) - 10px), 1fr));
		}
	}

	//! .product__quote
	&__quote {
		margin-bottom: 64px;
	}

	//! .product__about-tiles
	&__about-tiles {
		margin-bottom: 64px;
	}

	//! .product__carousel-info-marker
	&__carousel-info-marker {
		margin-bottom: 64px;
	}

	//! .product__features-table
	&__features-table {
		margin-bottom: 64px;
	}

	//! .product__advices
	&__advices {
		max-height: 250px;
		margin-bottom: 64px;
	}
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 32px;

	& > div {
		flex: 1 1 100%;
		margin-bottom: 0;
		max-width: 490px;

		&:nth-child(2) {
			flex: 0 0 auto;
		}
	}

	.btn {
		margin-right: 1px;
	}
}

// new features table
.f-table {
	margin-bottom: 40px;

	&._cols-xxl {
		@include respond-to(xxl) {
			display: flex;
			gap: 0 50px;
		}

		@include respond-to(xxxl) {
			gap: 0 140px;
		}

		@include respond-to(wide) {
			gap: 0 300px;
		}
	}
}

.f-col {
	flex: 1 1 100%;

	&:nth-child(2) {
		@include respond-to(xxl, "max") {
			.f-row {
				&:nth-child(1) {
					border-top: 1px solid $gray-dark;
				}
			}
		}
	}
}

.f-row {
	font-size: rem(14);
	line-height: 1.3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	border-bottom: 1px solid $gray-dark;
	padding: 14px 0;
	color: $black60;

	&:last-child {
		border-bottom: 0;
	}

	& > div {
		flex: 1 1 100%;

		&:nth-child(2) {
			color: $black;
			text-align: right;
			max-width: 350px;
		}
	}
}

.block-collapsible {
	position: relative;
	overflow: hidden;
	padding-bottom: 64px !important;
	transition: all $transition-default;
}

.block-collapse {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 64px;
	padding: 0 16px;
	background: $white;
	display: flex;
	flex-flow: row nowrap;

	@include respond-to(xl) {
		padding: 0 24px;
	}

	// @include when-inside(".product__reviews") {
	// 	padding: 0 16px;
	// }

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		width: 100%;
		height: 65px;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%);

		@include when-inside(".is-opened") {
			background: none !important;
		}
	}

	// .block-collapse__btn
	&__btn {
		width: 100%;
		border: 0;
		background: transparent;
		color: $bright-blue;
		font-weight: 700;
		padding: 0;
		border-top: 2px solid $black10;
		transition: color $transition-default;

		@include on-active {
			color: $bright-blue60;

			span {
				&::after {
					opacity: 0.6;
				}
			}
		}

		span {
			position: relative;
			display: none;
			justify-content: center;
			align-items: center;
			white-space: nowrap;

			& ~ span {
				display: flex;
			}

			&::after {
				content: "";
				display: block;
				height: 11px;
				width: 11px;
				margin-left: 4px;
				background: $svg-angle-bright-blue center no-repeat;
				transform: translateY(2px) rotate(-90deg);
				transition: all $transition-default;
			}
		}

		&.is-closed {
			span {
				display: flex;

				& ~ span {
					display: none;
				}

				&::after {
					transform: translateY(0) rotate(90deg);
				}
			}
		}
	}

	@include when-inside(".product__advices") {
		padding: 0;

		&::before {
			content: "";
			display: block;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%);
		}

		&__btn {
			border: 0;
			color: $yellow;

			span {
				justify-content: flex-start;

				&::after {
					content: "";
					display: block;
					background-image: $svg-angle-yellow;
				}
			}
		}
	}
}

.text-over {
	position: absolute;
	max-width: 470px;
	text-align: center;
	box-sizing: content-box;
	padding: 50px 30px;
	z-index: 0;
	transition: opacity $transition-default;

	span {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $black;
		z-index: -1;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 47px;
			margin-top: 5px;
			background: $svg-brush-1 center 0px / 100% 47px no-repeat;
			z-index: -1;
		}
	}

	p {
		font-size: rem(15);

		@include respond-to(md) {
			font-size: rem(18);
		}
	}
}

.p-about-card {
	color: $white;
	letter-spacing: -0.02em;
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 250px;
	padding: 30px 14px;

	@include respond-to(md) {
		height: 365px;
	}

	@include respond-to(xxxl) {
		height: 450px;
	}

	// .p-about-card__text
	&__text {
		font-size: rem(20);
		line-height: 1;
		font-weight: 600;
		z-index: 1;
		max-width: 305px;

		@include respond-to(md) {
			font-size: rem(18);
		}

		@include respond-to(xl) {
			font-size: rem(20);
		}

		@include respond-to(xxxl) {
			font-size: rem(24);
		}

		span {
			display: block;
			margin-bottom: 16px;
			font-size: rem(34);

			@include respond-to(md) {
				font-size: rem(24);
			}
		}
	}

	// .p-about-card__image
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 82.5%);
			transition: backdrop-filter 0.2s ease;
			// transition: all 0.2s ease;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@include on-hover {
		.p-about-card__image {
			&::before {
				backdrop-filter: blur(10px);
				background: rgba(0, 0, 0, 0.7);
			}
		}

		.p-about-hover {
			opacity: 1;
		}
	}
}

.p-about-hover {
	opacity: 0;
	transition: all $transition-default;
	font-size: rem(16);
	line-height: 1.2;
	font-weight: 500;
	margin-top: 16px;

	@include respond-to(md) {
		font-size: rem(15);
	}

	@include respond-to(xl) {
		font-size: rem(17);
	}

	@include respond-to(xxxl) {
		font-size: rem(20);
	}
}

.about-tiles {
	display: grid;
	gap: 16px 12px;
	grid-template-columns: 1fr;

	@include respond-to(md) {
		grid-template-columns: repeat(auto-fill, minmax(calc((100% / 3) - 10px), 1fr));
	}
}

.about-tile {
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 31px 2px rgba(0, 0, 0, 0.06), 0 1px 12px 0 rgba(0, 0, 0, 0);

	// .about-tile__img
	&__img {
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		picture {
			display: block;
			width: 100%;
			height: 170px;
			object-fit: cover;
			flex: 1 1 100%;

			@include respond-to(xxl) {
				height: 240px;
			}

			@include respond-to(xxxl) {
				height: 260px;
			}
		}
	}

	// .about-tile__body
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 20px 15px 30px;
		background: $white;
		color: $black-brown;
	}

	// .about-tile__num
	&__num {
		margin-bottom: 10px;
		font-size: rem(18);
		font-weight: 700;
		line-height: 1;

		@include respond-to(md) {
			font-size: rem(16);
			margin-bottom: 13px;
		}

		@include respond-to(xl) {
			font-size: rem(18);
		}

		@include respond-to(wide) {
			font-size: rem(20);
			margin-bottom: 10px;
		}
	}

	// .about-tile__header
	&__header {
		margin-bottom: 7px;
		font-size: rem(18);
		font-weight: 700;
		line-height: 1;

		@include respond-to(md) {
			font-size: rem(16);
		}

		@include respond-to(xl) {
			font-size: rem(18);
		}

		@include respond-to(wide) {
			font-size: rem(20);
		}
	}

	// .about-tile__text
	&__text {
		color: $black60;
		font-size: rem(15);
		line-height: 1.3;

		@include respond-to(md) {
			font-size: rem(13);
		}

		@include respond-to(wide) {
			font-size: rem(15);
		}
	}
}

.brush {
	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: 1;

	&::before {
		position: absolute;
		content: "";
		display: none;
		width: 100%;
		height: 50px;
		z-index: -1;

		@include respond-to(md) {
			display: block;
		}
	}

	// .brush_1
	&_1 {
		&::before {
			background: $svg-brush-1 center / auto 30px no-repeat;
		}
	}

	// .brush_2
	&_2 {
		&::before {
			background: $svg-brush-2 center / auto 45px no-repeat;
		}
	}

	// .brush_3
	&_3 {
		&::before {
			background: $svg-brush-3 center / auto 45px no-repeat;
		}
	}

	// .brush_4
	&_4 {
		&::before {
			background: $svg-brush-4 center / auto 54px no-repeat;
		}
	}

	// .brush_5
	&_5 {
		&::before {
			background: $svg-brush-5 center / auto 54px no-repeat;
		}
	}

	// .brush_first
	&_first,
	&_last {
		&::before {
			background-position-x: 0;
			left: -10px;

			@include respond-to(xl) {
				background-position-x: -7px;
			}
		}
	}

	// .brush_last
	&_last {
		@include respond-to(xl) {
			padding-right: 20px;

			&::before {
				left: auto;
				background-position-x: right;
			}
		}
	}

	// .brush_center
	&_center {
		background-position-x: 50%;
	}
}

.carousel-info-model {
	// --f-carousel-dots-width: 10px;
	// --f-carousel-slide-width: 80%;
	// --f-carousel-spacing: #{$min-padding};

	// @include respond-to(xm) {
	// 	--f-carousel-spacing: #{$max-padding};
	// 	--f-carousel-slide-width: auto;
	// }

	// .f-progress {
	// 	display: none;
	// }

	// бесконечный скролл
	overflow: hidden;

	@include on-hover {
		.carousel-info-model-wrapper {
			animation-play-state: paused;
		}
	}

	.carousel-info-model-wrapper {
		overflow: hidden;
		will-change: transform;
		animation: infScroll var(--speed) infinite linear;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		width: fit-content;
	}

	@keyframes infScroll {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-50%);
		}
	}

	picture {
		display: block;
		width: max-content !important;
	}

	img {
		object-fit: cover;
		// width: auto;
		height: 310px;

		@include respond-to(md) {
			height: 225px;
		}

		@include respond-to(lg) {
			height: 210px;
		}

		// @include respond-to(xxl2) {
		// 	height: 300px;
		// }

		// @include respond-to(xxxl) {
		// 	height: 290px;
		// }

		// @include respond-to(wide) {
		// 	height: 370px;
		// }

		// for PRO:
		@include respond-to(xxl) {
			height: 342px;
		}

		@include respond-to(xxxl2) {
			height: 500px;
		}

		@include respond-to(wide) {
			height: 500px;
		}
	}

	// .carousel-info-model__name
	&__name {
		color: $black-brown;
		font-size: rem(40);
		font-weight: 700;
		line-height: 1.1;

		svg {
			width: 162px;
			height: 32px;
			fill: $yellow;
		}
	}

	.f-carousel__dots {
		bottom: -42px;
	}
}


.carousel-info-marker {
	@include respond-to(xxl) {
		--f-carousel-slide-width: 623px !important;
	}

	// @include respond-to(xxxl) {
	// 	--f-carousel-slide-width: auto !important;
	// 	--f-carousel-slide-height: 613px !important;
	// }
}

.info-marker__btn {
	cursor: pointer;
}

.f-carousel__dots {
	li::before {
		display: none !important;
	}
}
