.js-accordion {
	&.on {
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 32px;
			height: 32px;
			background: $white;
			position: absolute;
			right: 0;
			border-radius: 50%;
		}
	}

	// .js-accordion__trigger
	&__trigger {
		@include when-inside(".js-accordion.on") {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			text-align: left;

			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 15px;
				height: 14px;
				border-left: 2px solid #858585;
				transition: all $transition-default;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 9px;
				width: 14px;
				border-top: 2px solid #858585;
			}

			&.is-opened {
				&::before {
					transform: rotate(90deg);
				}
			}

			& + * {
				max-height: 0;
				overflow: hidden;
				transition: max-height $transition-default;
			}
		}
	}
}

// footer accordion
@include respond-to(md, "max") {
	.f-menu.js-accordion.on::before {
		top: 10px;
	}

	.f-menu.js-accordion.on .js-accordion__trigger {
		padding: 17px 45px 17px 0;
	}
}
