.labels {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	left: 2px;
	bottom: 0;
	z-index: 5;
}

.label {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 28px;
	margin: 4px 2px;
	padding: 8px;
	border-radius: 30px;
	font-size: rem(13);
	white-space: nowrap;
	font-weight: 600;
	background: $white;
	color: $black;
	text-shadow: none;
	text-decoration: none;

	// .label_yellow-light
	&_yellow-light {
		background: $yellow-light;
		color: #4e3700;
	}

	// .label_yellow
	&_yellow {
		background: $yellow;
		color: #78622e;
	}

	// .label_red
	&_red {
		background: #ffddc5;
		color: $red;
	}

	// .label_green
	&_green {
		background: #d2f8cc;
		color: #159400;
	}

	// .label_gray
	&_gray {
		background: $gray-dark;
		color: $black60;
	}

	// .label_white
	&_white {
		background: $white;
		color: $black;
	}

	// .label_black60
	&_black60 {
		background: $black60;
		color: $white;
	}

	// .label_big
	&_big {
		font-size: rem(15);
		font-weight: 500;
		height: 34px;
		padding: 5px 13px;
	}

	// .label_rotate
	&_rotate {
		transform: rotate(-5deg);
	}

	// .label_link
	&_link {
		transition: all $transition-default;

		@include on-hover {
			background: $yellow;
		}
	}
}

.label-logo {
	margin-left: 8px;
	width: 70px;
	height: 15px;
	fill: $black;

	@include when-inside(".label_green") {
		fill: #159400;
	}
}
