// https://moderncss.dev/pure-css-custom-checkbox-style/
// https://codepen.io/shshaw/pen/zYKJGgG

:root {
  --form-control-color: #{$default-color};
  --form-control-disabled-bd: #{$default-color};
  --form-control-disabled-bg: #{$white};
}

input[type="checkbox"] {
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: $white;
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 22px;
	height: 22px;
	border: 1px solid currentColor;
	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 18px;
	height: 18px;
	background-color: $white;
	transform: scale(0);
	transform-origin: center;
	transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
	background-color: var(--form-control-color);
	border-color: transparent;
	transition-delay: 0s;
	clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);

}

input[type="checkbox"]:disabled {
	color: var(--form-control-disabled-bd);
	cursor: not-allowed;
	background-color: var(--form-control-disabled-bg);
}

// input[type="checkbox"]:focus {
// 	outline: max(2px, 0.15em) solid currentColor;
// 	outline-offset: max(2px, 0.15em);
// }