.cookie {
	position: fixed;
	display: grid;
	grid-auto-flow: row;
	align-items: center;
	justify-items: center;
	text-align: center;
	gap: 20px;
	left: $min-padding;
	right: $min-padding;
	bottom: 0;
	padding: 24px;
	background: $white;
	box-shadow: 0 28px 76px 0 rgba(37, 52, 50, 0.2);
	border-radius: 4px;
	z-index: 100;

	@include respond-to(sm) {
		bottom: 24px;
		max-width: 490px;
		grid-auto-flow: column;
		text-align: left;
		padding: 24px 32px;
	}

	@include respond-to(md) {
		left: $max-padding;
	}

	// .cookie__description
	&__description {
	}

	// .cookie__buttons
	&__buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;
		justify-content: space-between;
		flex-grow: 1;
	}

	// .cookie__accept
	&__accept {
	}

	// .cookie__more
	&__more {
	}
}
