fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.form {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		&::placeholder {
			color: $placeholder-color;
		}
	}

	textarea {
		min-height: 82px;
		resize: vertical;
	}

	// .form__fieldset
	&__fieldset {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 16px;
		}
	}
}

.form-item {
	position: relative;
	margin-bottom: 12px;

	// .form-item__info
	&__info {
		width: 100%;

		p {
			line-height: 1.2;
			margin-bottom: 2px;

			small {
				display: block;
			}
		}

		a,
		span {
			color: $black60;
		}
	}

	// .form-item__name
	&__name {
		display: flex;
		flex-direction: column;

		@include respond-to(md) {
			flex-flow: row wrap;
			justify-content: space-between;
		}

		p {
			margin-right: 16px;

			@include respond-to(md) {
				max-width: 75%;
			}
		}
	}

	// .form-item__body
	&__body {
		@include respond-to(lg) {
			width: 75%;
		}
	}

	// .form-item__actions
	&__actions {
		margin: 9px 0 0 30px;
	}

	// .form-item__query-result
	&__query-result {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 1;
		margin-top: 3px;
		padding: 4px 0;
		max-height: 300px;
		background: $white;
		border-radius: 4px;
		box-shadow: 0 0 0 1px $black10, 0 20px 20px 0 rgba(0, 0, 0, 0.1);

		@include when-inside(".form-item.is-active") {
			display: block;
		}

		div {
			cursor: pointer;
			padding: 7px 12px 8px;

			@include on-hover {
				background: $gray;
			}
		}
	}

	&:last-child {
		margin-bottom: 0;

		textarea {
			margin-top: 14px;
		}
	}

	label {
		width: 100%;

		~ .form-item-flex {
			margin-top: 12px;
		}
	}
}

.form-item-flex {
	display: flex;
	flex-direction: column;

	input[type="text"] {
		margin: 0 0 8px;
	}

	.btn {
		width: 100%;
	}

	@include respond-to(lg) {
		flex-direction: row;
		justify-content: space-between;

		input[type="text"] {
			width: auto;
			flex: 1;
			margin: 0 8px 0 0;
		}

		.btn {
			width: auto;
		}
	}
}

.form-items-row {
	display: grid;
	grid-auto-flow: column;
	// margin-bottom: 12px;
	// grid-template-columns: repeat(3, 1fr);
	gap: 12px;

	// .form-item {
	// 	margin-bottom: 0;
	// }

	// &:last-child {
	// 	margin-bottom: 0;
	// }
}

.form-agreement {
	margin-top: 26px;

	@include respond-to(lg) {
		margin-top: 15px;
	}

	label,
	a {
		color: $black60;
	}

	input[type="checkbox"] ~ span {
		display: block;
		font-size: rem(13.5);

		// @include respond-to(xl) {
		// 	font-size: rem(13.5);
		// }

		&::before,
		&::after {
			margin-top: -2px;
		}
	}
}

// .required {
// 	border-color: $default-color !important;
// }

// default textarea, input (white)
.textarea,
.input {
	position: relative;
	background-color: $white;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0 1px $black30;
	font-size: rem(15);
	letter-spacing: -0.28px;
	padding: 12px;
	height: 40px;
	transition: box-shadow $transition-default, border-radius $transition-default, background-color $transition-default;

	@include on-hover {
		background-color: $gray;
		box-shadow: 0 0 0 1px $yellow;
	}

	@include on-focus {
		background-color: $white;
		box-shadow: 0 0 0 2px $yellow;
	}

	@include when-inside(".form-item.is-active") {
		background-color: $white;
		box-shadow: 0 0 0 2px $yellow;
	}

	&.is-error {
		color: $red-coral-dark;
		box-shadow: 0 0 0 2px $red-coral-dark;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
		background-color: $white;
		box-shadow: 0 0 0 1px $black30;
	}

	// .textarea_gray
	// .input_gray
	&_gray {
		background-color: $gray;

		@include on-hover {
			background-color: $white;
			box-shadow: 0 0 0 1px $yellow;
		}
		@include on-focus {
			background-color: $gray;
			box-shadow: 0 0 0 2px $yellow;
		}
	}

	// .textarea_fill
	// .input_fill
	&_fill {
		width: 100%;
	}

	// поиск в шапке на десктопе
	// .input_nav-search
	&_nav-search {
		background-position: 9px center;
		background-repeat: no-repeat;
		background-size: 16px;
		height: 32px;

		@include respond-to(lg, "max") {
			width: 100%;
			background-image: $svg-nav-search-mobile;
			padding: 12px 12px 12px 32px;
			height: 42px;

			@include on-focus {
				background-image: none;
				padding-left: 12px;
			}
		}

		@include respond-to(lg) {
			width: 190px;
			border-radius: 32px;
			// border-color: $black10;
			font-size: rem(13);
			line-height: 1;
			padding: 6px 12px 6px 32px;
			background-color: $white;
			background-image: $svg-nav-search;
			box-shadow: 0 0 0 1px $black10;

			@include on-hover {
				border-color: $yellow;
			}
			@include on-focus {
				background-color: $white;
				border-color: $yellow;
			}
			@include on-active {
				border-color: $yellow-dark;
			}
			@include when-inside(".is-active") {
				width: 485px;
				height: 40px;
				font-size: rem(15);
			}
		}

		@include when-inside(".is-active") {
			@include on-focus {
				background-image: none;
				padding: 12px;
			}

			border-radius: 4px;
			margin-right: 13px;
			padding: 12px 12px 12px 32px;
		}
	}
}

// .input {
// 	@include when-inside('.form-item') {
// 		margin-bottom: 12px;
// 	}
// }

.textarea {
}

@import "form-labels";
@import "form-checkboxes";
@import "form-selects";
@import "form-upload";
