.link-arrow {
	display: flex;
	align-items: center;
	width: fit-content;

	&::after {
		content: "";
		display: block;
		margin-left: 5px;
		width: 13px;
		height: 13px;
		flex: 0 0 13px;
		background-image: $arrow-black;
		background-repeat: no-repeat;
		transition: all $transition-default;
		margin-bottom: 1px;
	}

	@include on-event {
		&::after {
			transform: rotate(45deg);
		}
	}
}

.link-angle {
	display: flex;
	align-items: center;
	width: fit-content;
	// transition: text-shadow $transition-default;

	&::after {
		content: "";
		display: block;
		position: absolute;
		padding-left: 15px;
		right: -12px;
		margin-top: 2px;
		width: 20px;
		height: 10px;
		background: $angle right center no-repeat;
		// transition: transform $transition-default;
	}

	@include on-event {
		text-decoration-color: transparent;
		// text-shadow: $shadow-700;
		// font-weight: 700;

		&::after {
			// transform: translateX(2px);
		}
	}
}

.link-back {
	display: flex;
	align-items: center;
	width: fit-content;
	padding-left: 25px;

	&::before {
		content: "";
		display: block;
		position: absolute;
		padding-right: 25px;
		left: 0;
		margin-top: 1px;
		width: 16px;
		height: 16px;
		background: $arrow-long left center no-repeat;
	}

	@include on-event {
		text-decoration-color: transparent;
	}
}

.link-classic {
	text-decoration: underline;
	text-decoration-color: $black30;
	text-underline-offset: 1px;

	@include on-hover {
		text-decoration-color: $black60;
	}
}
