.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	&::before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		margin: 30px 0;
		background: $svg-loader no-repeat;
		animation: loaderRotate 1s infinite linear;
	}
}

@keyframes loaderRotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.skeleton {
	.s-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 5px;

		.s-t {
			width: 100%;
		}
	}

	.s-t {
		width: 40%;
		height: 10px;
		margin: 5px 0 0 0;
		border-radius: 4px;
		animation: loaderSkeleton 1s linear infinite alternate;
	}

	.s-b {
		height: 25px;
		margin: 5px 0 5px 0;
		border-radius: 4px;
		animation: loaderSkeleton 1s linear infinite alternate;
	}

	.s-btn {
		height: 45px;
		margin-top: 35px;
		border-radius: 4px;
		animation: loaderSkeleton 1s linear infinite alternate;
	}
}

@keyframes loaderSkeleton {
	0% {
		background-color: hsla(201, 20%, 80%, 0.6);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
