.note {
	position: relative;
	border-radius: 8px;
	padding: 8px 8px 8px 16px;
	margin: 24px 0;
	background: $white;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 8px;
		bottom: 8px;
		left: 8px;
		width: 3px;
		background: $black;
		border-radius: 2px;
	}

	// .note_yellow
	&_yellow {
		background: $yellow-light;

		&::before {
			background: $yellow-dark;
		}
	}
}
