.tag-category {
	display: flex;
	align-items: center;
	height: 42px;
	padding: 0 16px;
	line-height: 1;
	margin: 0 8px 8px 0;
	border-radius: 60px;
	background: $gray;
	border: 1px solid transparent;
	text-decoration: none;
	white-space: nowrap;
	transition: all $transition-default;

	@include on-hover {
		background: #e9ebec;
		text-shadow: none;
	}

	&.is-active {
		border-color: $black-real;
		font-weight: 700;
	}
}

span.tag-category {
	@include on-hover {
		pointer-events: none;
		background: $gray;
	}
}