.catalog-head {
	// .catalog-head__root
	&__root {
		padding: 24px 0;
		position: relative;
		margin-bottom: 58px;

		@include respond-to(lg) {
			background: $gray;

			&::after {
				content: "";
				display: block;
				position: absolute;
				width: 85px;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 0.7;
				background: linear-gradient(270deg, #f6f8f9 0%, rgba(246, 248, 249, 0) 100%);
			}
		}
	}

	// .catalog-head__sub
	&__sub {
		position: relative;
		padding: 24px 0;
		margin-bottom: 10px;
	}

	// .catalog-head__tags
	&__tags {
		display: flex;
		flex-flow: row nowrap;
		margin-top: 33px;
		padding-bottom: 16px;
		border-bottom: 2px solid $black10;

		@include respond-to(lg) {
			margin-top: 47px;
			padding-right: 25px;
		}
	}

	// .catalog-head__collapse
	&__collapse {
	}

	// .catalog-head__name
	&__name {
		@include respond-to(lg) {
			@include when-inside(".catalog-head__root") {
				padding: 0 32px;
			}
		}
	}

	// .catalog-head__slider
	&__slider {
		margin-top: 42px;

		@include respond-to(lg) {
			max-height: 300px;
			overflow-y: hidden;
		}
	}
}

.catalog-head-carousel {
	display: flex;
	padding-bottom: 20px;

	.f-carousel__slide {
		display: flex;

		@include respond-to(lg, "max") {
			min-width: 120px;
		}

		a {
			flex: 1;
			display: flex;
			flex-flow: column nowrap;
			text-align: center;
			align-items: center;
			background-color: $gray;
			text-decoration: none;
			text-shadow: none;
			border-radius: 4px;
			transition: all 0.1s;

			@include on-hover {
				background-color: $white;
			}

			@include respond-to(lg, "max") {
				width: 120px;
				padding: 5px 0 0;
				border: 1px solid transparent;

				@include on-hover {
					border-color: $black30;

					div {
						opacity: 0.5;
					}
				}
			}
		}

		img {
			border-radius: 4px;
			width: 100%;

			@include respond-to(lg, "max") {
				width: 72px;
				height: 72px;
				object-fit: cover;
			}
		}

		div {
			padding: 4px 10px 10px;
			font-size: rem(13);
			transition: opacity 0.1s;

			@include respond-to(lg) {
				font-size: rem(15);
				font-weight: 600;
			}
		}
	}

	@include respond-to(lg, "max") {
		display: grid;
		gap: 8px;
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
		overflow-x: auto;
	}

	@include respond-to(lg) {
		min-height: 200px;
		overflow: hidden;
		--f-carousel-spacing: 12px;
		--f-carousel-slide-width: 152px;

		.f-carousel__viewport {
			padding: 0 85px 0 32px;
		}

		.f-carousel__slide {
			@include respond-to(lg, "max") {
				border: 1px solid black;
				padding: 10px;
				margin-bottom: 5px;
			}
			// display: flex;
			// flex-flow: column nowrap;
			// text-align: center;
			// background: $gray;

			// a {
			// display: flex;
			// flex-flow: column nowrap;
			// text-align: center;
			// flex: 1;
			// 	background-color: $gray;
			// 	text-decoration: none;
			// 	text-shadow: none;
			// 	border-radius: 4px;
			// 	transition: background-color 0.1s;

			// 	@include on-hover {
			// 		background-color: $white;
			// 	}
			// }

			// div {
			// 	padding: 4px 10px 10px;
			// 	font-weight: 600;
			// }
		}
	}
}

.tag-category {
	display: flex;
	align-items: center;
	height: 42px;
	padding: 0 16px;
	line-height: 1;
	margin: 0 8px 8px 0;
	border-radius: 60px;
	background: $gray;
	border: 1px solid transparent;
	text-decoration: none;
	white-space: nowrap;
	transition: all $transition-default;

	@include on-hover {
		background: #e9ebec;
		text-shadow: none;
	}

	&.is-active {
		border-color: $black-real;
		font-weight: 700;
	}
}

.catalog-bar {
	margin: 8px 0 9px;

	// .catalog-bar__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		@include respond-to(sm, "max") {
			font-size: rem(14);
		}
	}

	// .catalog-bar__sort
	&__sort {
		@include respond-to(xl, "max") {
			order: 1;
		}
	}

	// .catalog-bar__btn
	&__btn {
		@include respond-to(xl) {
			display: none;
		}
	}

	// .catalog-bar__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		min-height: 26px;
	}
}

.catalog-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;

	@include respond-to(lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.tags-collapse {
	padding-right: 30px;
	overflow-x: scroll;
	border-bottom: none;

	&::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		height: 42px;
		width: 30px;
		z-index: 1;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 60%);
	}

	&.is-opened {
		width: 100%;
		height: auto;
		padding-right: 12px;
		flex-wrap: wrap;
		overflow-x: hidden;

		.js-tags-collapse {
			&::after {
				transform: translateY(2px) rotate(-90deg);
			}
		}
	}
}
// collapse
.js-tags-collapse {
	display: none;

	@include when-inside(".tags-collapse") {
		display: block;
		position: absolute;
		z-index: 1;
		width: 25px;
		height: 42px;
		right: 0;
		padding: 0;
		border: none;
		user-select: none;
		background: transparent;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: calc(50% - 7px);
			right: 1px;
			width: 11px;
			height: 14px;
			background: $svg-angle center no-repeat;
			transform: translateY(1px) rotate(90deg);
			transition: transform $transition-default;
		}
	}
}
