.catalog-head {
	// .catalog-head__root
	&__root {
		padding: 24px 0;
		position: relative;
		margin-bottom: 58px;

		@include respond-to(lg) {
			&::after {
				content: "";
				display: block;
				position: absolute;
				width: 85px;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 0.7;
				background: linear-gradient(270deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}

	// .catalog-head__name
	&__name {
		@include respond-to(lg) {
			@include when-inside(".catalog-head__root") {
				padding: 0 32px;
			}
		}
	}

	// .catalog-head__slider
	// &__slider {
	// 	margin-top: 42px;

	// 	@include respond-to(lg) {
	// 		max-height: 300px;
	// 		overflow-y: hidden;
	// 	}
	// }

	// .catalog-head__categories
	&__categories {
		margin-top: 42px;

		@include respond-to(lg) {
			max-height: 300px;
			overflow-y: hidden;
		}
	}
}

// .catalog-head-carousel {
// 	display: flex;
// 	padding-bottom: 20px;

// 	.f-carousel__slide {
// 		display: flex;

// 		@include respond-to(lg, "max") {
// 			min-width: 120px;
// 			opacity: 1;
// 		}

// 		a {
// 			flex: 1;
// 			display: flex;
// 			flex-flow: column nowrap;
// 			text-align: center;
// 			align-items: center;
// 			text-decoration: none;
// 			text-shadow: none;
// 			border-radius: 4px;
// 			transition: all 0.1s;
// 			// border: 2px solid transparent;

// 			@include on-hover {
// 				// border-color: $black10;
// 				background: $gray;
// 			}

// 			@include respond-to(lg, "max") {
// 				width: 120px;
// 				padding: 5px 0 0;
// 				border: 1px solid transparent;

// 				@include on-hover {
// 					border-color: $black30;

// 					div {
// 						opacity: 0.5;
// 					}
// 				}
// 			}
// 		}

// 		img {
// 			border-radius: 4px;
// 			width: 100%;
// 			mix-blend-mode: multiply;

// 			@include respond-to(lg, "max") {
// 				width: 72px;
// 				height: 72px;
// 				object-fit: cover;
// 			}
// 		}

// 		div {
// 			padding: 4px 10px 10px;
// 			font-size: rem(13);
// 			transition: opacity 0.1s;

// 			@include respond-to(lg) {
// 				font-size: rem(15);
// 				font-weight: 600;
// 			}

// 			@include respond-to(xxxl) {
// 				font-size: rem(16);
// 			}
// 		}
// 	}

// 	@include respond-to(lg, "max") {
// 		display: grid;
// 		gap: 8px;
// 		// --grid-w: 140px;
// 		// grid-template-columns: repeat(auto-fill, minmax(var(--grid-w), 1fr));
// 		grid-auto-flow: column;
// 		grid-template-rows: 1fr 1fr;
// 		overflow-x: auto;
// 	}

// 	@include respond-to(lg) {
// 		min-height: 200px;
// 		overflow: hidden;
// 		--f-carousel-spacing: #{$min-padding};
// 		--f-carousel-slide-width: 152px;

// 		.f-carousel__viewport {
// 			padding: 0 85px 0 32px;
// 		}

// 		.f-carousel__slide {
// 			@include respond-to(lg, "max") {
// 				border: 1px solid black;
// 				padding: 10px;
// 				margin-bottom: 5px;
// 			}
// 		}
// 	}

// 	@include respond-to(xxxl) {
// 		--f-carousel-spacing: 24px;
// 		--f-carousel-slide-width: 200px;
// 	}
// }

.head-categories {
	display: flex;
	padding-bottom: 20px;
	overflow-x: auto;

	@include respond-to(lg, "max") {
		display: grid;
		gap: 8px;
		// --grid-w: 140px;
		// grid-template-columns: repeat(auto-fill, minmax(var(--grid-w), 1fr));
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
	}

	@include respond-to(lg) {
		min-height: 200px;
		padding: 0 30px 10px 0;

		// overflow: hidden;
		// --f-carousel-spacing: #{$min-padding};
		// --f-carousel-slide-width: 152px;

		// .f-carousel__viewport {
		// 	padding: 0 85px 0 32px;
		// }

		// .f-carousel__slide {
		// 	@include respond-to(lg, "max") {
		// 		border: 1px solid black;
		// 		padding: 10px;
		// 		margin-bottom: 5px;
		// 	}
		// }
	}

	@include respond-to(xxxl) {
		// --f-carousel-spacing: 24px;
		// --f-carousel-slide-width: 200px;
	}

	// .head-categories__item
	&__item {
		display: flex;

		@include respond-to(lg, "max") {
			min-width: 120px;
			opacity: 1;
		}

		@include respond-to(lg) {
			width: 150px;
			flex: 0 0 auto;
			margin: 0 12px;

			&:first-child {
				margin-left: 0;
			}
		}

		@include respond-to(xxxl) {
			width: 200px;
		}

		a {
			flex: 1;
			display: flex;
			flex-flow: column nowrap;
			text-align: center;
			align-items: center;
			text-decoration: none;
			text-shadow: none;
			border-radius: 4px;
			transition: all 0.1s;
			// border: 2px solid transparent;

			@include on-hover {
				// border-color: $black10;
				background: $gray;
			}

			@include respond-to(lg, "max") {
				width: 120px;
				padding: 5px 0 0;
				border: 1px solid transparent;

				@include on-hover {
					border-color: $black30;

					div {
						opacity: 0.5;
					}
				}
			}
		}

		img {
			border-radius: 4px;
			width: 100%;
			mix-blend-mode: multiply;

			@include respond-to(lg, "max") {
				width: 72px;
				height: 72px;
				object-fit: cover;
			}
		}

		div {
			padding: 4px 10px 10px;
			font-size: rem(13);
			transition: opacity 0.1s;

			@include respond-to(lg) {
				font-size: rem(15);
				font-weight: 600;
			}

			@include respond-to(xxxl) {
				font-size: rem(16);
			}
		}
	}
}

.catalog-search-form {
	form {
		display: flex;
		flex-flow: column wrap;
		margin-bottom: 32px;

		@include respond-to(sm) {
			flex-flow: row nowrap;
		}
	}

	input {
		flex: 1;
		margin-bottom: 10px;

		@include respond-to(sm) {
			margin: 0 12px 0 0;
		}
	}

	button {
		width: 100%;

		@include respond-to(sm) {
			width: auto;
		}
	}
}

.catalog-bar {
	margin: 8px 0 9px;

	// .catalog-bar__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;

		@include respond-to(sm, "max") {
			font-size: rem(14);
		}
	}

	// .catalog-bar__sort
	&__sort {
		@include respond-to(xl, "max") {
			order: 1;
		}
	}

	// .catalog-bar__btn
	&__btn {
		@include respond-to(xl) {
			display: none;
		}
	}

	// .catalog-bar__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		min-height: 26px;
	}
}

.catalog-items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;

	@include respond-to(lg) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include respond-to(xxxl) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.catalog-bottom {
	margin-top: 50px;
}
