// -----------------------------------------------------------------------------
// Файл с описанием контейнера и сетки
// -----------------------------------------------------------------------------

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
	min-width: $min-width;
	width: 100%; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	padding: 0; /* 3 */
	flex: 1;

	&._gray {
		background: $gray;
	}

	&._carousels {
		& > div {
			z-index: 11;
			position: relative;

			& + div {
				z-index: 10;

				& + div {
					z-index: 9;

					& + div {
						z-index: 8;

						& + div {
							z-index: 7;

							& + div {
								z-index: 6;

								& + div {
									z-index: 5;
								}
							}
						}
					}
				}
			}
		}
	}
}

/**
 * Content
 */
.content {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $min-padding; // 12
	padding-right: $min-padding;
	position: relative;

	@include respond-to(md) {
		padding-left: $max-padding; // 16
		padding-right: $max-padding;
	}

	&_wide {
		max-width: 100%;
	}

	&_padding-md-0 {
		@include respond-to(md, "max") {
			padding-left: 0;
			padding-right: 0;
		}
	}

	/**
	* Catalog columns
	*/
	// .content_columns
	&_columns {
		display: flex;
		flex-flow: row nowrap;
	}

	// .content__sidebar
	&__sidebar {
		@include respond-to(xl) {
			order: 0;
			width: 260px;
		}
	}

	// .content__main
	&__main {
		width: 100%;

		@include respond-to(xl) {
			order: 1;
			width: calc(100% - 260px - 56px);
			margin-left: 56px;
		}
	}

	// .col-main
	// .col-sidebar
}

/**
 * Inner pages columns (cart, order)
 */
.order {
	@include respond-to(lg) {
		margin-top: 36px;
	}

	// .order__main
	&__main {
		width: 100%;

		@include respond-to(lg) {
			width: calc(100% - 300px - 57px);
			max-width: 786px;
			// flex: 1 1 786px;
			margin-right: 57px;
		}

		.tabs {
			margin-top: 0;
		}

		.h3 {
			margin-bottom: 32px;
		}
	}

	// .order__sidebar
	&__sidebar {
	}

	// .order__sticky
	&__sticky {
		position: sticky;
		top: 100px;
	}
}

.mobile-fixed {
	@include respond-to(lg, "max") {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 11;
		background: $white;
		border-top: 1px solid $black10;
		padding: 16px 12px 12px;
	}

	@include respond-to(md) {
		padding: 24px 16px 29px;
	}

	@include respond-to(lg) {
		padding: 0;
	}
}
