// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
// .clearfix::after {
// 	clear: both;
// 	content: "";
// 	display: table;
// }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
// .hide-text {
// 	overflow: hidden;
// 	padding: 0; /* 1 */
// 	text-indent: 101%;
// 	white-space: nowrap;
// }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
// .visually-hidden {
// 	appearance: none;
// 	clip: rect(0 0 0 0);
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	border: 0;
// 	padding: 0;
// 	overflow: hidden;
// 	position: absolute;
// }

/**
 * Visibility
 */
.hidden {
	display: none !important;
}

// .hidden-lg
.hidden-lg {
	@include respond-to(lg) {
		display: none !important;
	}
}

.invisible {
	opacity: 0;
	z-index: -1;
	transition: all $transition-default;
}

// .hidden-img-lg {
// 	@include respond-to(lg) {
// 		img {
// 			display: none !important;
// 		}
// 	}
// }

// .visible-lg
// .visible-lg {
// 	display: none !important;
// 	@include respond-to(lg) {
// 		display: block !important;
// 	}
// }

/**
 * Other
 */
// .nowrap {
// 	white-space: nowrap;
// }

.noscroll {
	// height: 100vh;
	overflow: hidden;
	position: fixed;
	width: 100vw;
}

// .relative {
// 	position: relative;
// }

/**
 * Scrollbar
 */
.scrollblock {
	overflow: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;

	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: $gray-dark-second $gray-light;

	/* Chrome, Edge and Safari */
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active {
		background-color: $gray-light;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $gray-dark-second;
	}

	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active {
		background-color: #b8c3ca;
	}
}

/**
 * Animations
 */
// .blink {
// 	animation: fadeEffect 0.8s;
// }

// @keyframes fadeEffect {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }

/**
 * Backgrounds
 */
.bg-gray-xxl {
	@include respond-to(xxl) {
		background-color: $gray;
	}
}

// black overlay
.overlay {
	&::before {
		content: "";
		display: block;
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(51, 51, 51, 0.1);
		opacity: 0;
		transition: opacity $transition-default;
	}
	&.is-active {
		&::before {
			opacity: 1;
		}
	}
}
