/**
 * Basic typography style for text
 */

/*
https://learn.javascript.ru/css-units
rem - от html
em - от текущего шрифта
% - от размера шрифта родителя / margin-left - от родительской ширины / line-height - от текущего размера шрифта (не от родителя) / width/height - от ширины/высоты родителя/окна (при position:fixed)
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

/// Default font size for rem() function (body font-size 100%)
/// перенес в variables
// $browser-context: 16;

body {
	color: $text-color;
	font: normal rem(15) / 1.2 $ff-text;
	font-weight: 500;
}

/**
 * Basic styles for headings
 */
%h1-heading {
	font-size: rem(64);
	line-height: 0.9;
	font-weight: 700;
	letter-spacing: -1.28px;
}

%h2-heading {
	font-size: rem(34);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.68px;
}

%h3-heading {
	font-size: rem(24);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.48px;
}

%h4-heading {
	font-size: rem(20);
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.4px;
}

%h5-heading {
	font-size: rem(18);
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.3px;
}

%h6-heading {
	font-size: rem(16);
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: -0.3px;
}

/**
 * Basic styles for links
 */
%text-links {
	color: $href-color;

	@include on-event {
		color: $href-color-hover;
	}
}

%text-links-solid {
	position: relative;
	color: $href-color;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-underline-offset: 5px;
	// padding-bottom: 1px;
	// border-bottom: 1px solid transparent;
	text-shadow:none;
	// transition: color 0.15s ease, text-shadow 0.15s ease, text-decoration-color 0.15s ease;
	transition: all 0.15s ease;

	@include on-event {
		text-shadow: $shadow-600;
		text-decoration-color: inherit;
		// border-bottom-color: $href-color;
	}
}

%text-links-dashed {
	@extend %text-links-solid;
	border-bottom-style: dashed;
}

/**
 * Text others
 */
h1 {
	@extend %h1-heading;
}

h2 {
	@extend %h2-heading;
}

h3 {
	@extend %h3-heading;
}

h4 {
	@extend %h4-heading;
}

h5 {
	@extend %h5-heading;
}

h6 {
	@extend %h6-heading;
}

a {
	@extend %text-links-solid;
}

p {
	letter-spacing: -0.3px;
	margin-bottom: 16px;
}

ul,
ol {
	display: block;
	list-style-type: disc;
	margin-bottom: 20px;
	padding-left: 20px;

	li {
		margin-bottom: 5px;
		padding-left: 5px;
	}
}

ol {
	list-style-type: decimal;
}

/**
 * Text positions
 */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-uppercase {
	text-transform: uppercase;
}

/**
 * Text colors
 */
.text-black {
	color: $black;
}

.text-white {
	color: $white !important;
}