.error-page {
	display: flex;
	flex-flow: column wrap;

	@include respond-to(md) {
		flex-flow: row nowrap;
	}

	// .error-page__col
	&__col {
		position: relative;

		&._white {
			background: $white;
		}

		@include respond-to(md) {
			width: 50%;
			height: 0;
			padding-bottom: 50%;

			&:nth-child(1) {
				order: 2;
			}
			&:nth-child(2) {
				order: 1;
			}
		}
	}

	// .error-page__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px;

		@include respond-to(md) {
			position: absolute;
			top: 16px;
			right: 16px;
			bottom: 16px;
			left: 16px;
		}

		.label {
			font-size: rem(12);
			font-weight: 500;
			height: 18px;
			padding: 0 8px;
			margin: 0 0 0 -55px;

			@include respond-to(md) {
				font-size: rem(14);
				height: 26px;
				padding: 0 9px;
				margin: 0 0 -9px -65px;
			}

			@include respond-to(lg) {
				font-size: rem(15);
				height: 34px;
				padding: 0 13px;
				margin: 0 0 -15px -90px;
			}
		}

		svg {
			width: 70%;
			max-width: 250px;
			height: 300px;

			@include respond-to(lg) {
				width: 300px;
				max-width: none;
				height: auto;
			}
		}
	}

	// .error-page__header
	&__header {
		font-size: rem(40);
		margin-bottom: 40px;
		font-weight: 700;
		line-height: 0.9;
		text-align: center;
		z-index: 1;

		@include respond-to(lg) {
			font-size: rem(64);
			margin-bottom: 64px;
		}
	}
}
