/*! Блок "Адреса шоурумов" */
.block-showrooms {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 -#{$min-padding} 50px;

	@include respond-to(md) {
		flex-direction: row;
		height: 519px;
		margin: 0 0 50px;
	}

	@include respond-to(lg) {
		height: 480px;
	}

	// .block-showrooms__list
	&__list {
		position: relative;
		height: 332px;
		background: $gray;
		padding: 20px 5px 0 13px;
		display: flex;
		flex-direction: column;

		@include respond-to(md) {
			flex-shrink: 0;
			width: 50%;
			height: auto;
		}

		@include respond-to(lg) {
			width: 400px;
		}

		@include when-inside("._contacts") {
			@include respond-to(md) {
				flex-shrink: 0;
				margin-right: 0;
				width: 50%;
			}
		}

		& > div {
			padding: 0 5px 20px 0;
			display: grid;
			gap: 10px;
		}
	}

	// .block-showrooms__map
	&__map {
		width: 100%;
		height: 332px;
		order: -1;

		@include respond-to(md) {
			width: 50%;
			height: auto;
			order: 0;
		}

		@include respond-to(lg) {
			width: 100%;
		}
	}

	//**/
	// .block-showrooms__item
	&__item {
		display: flex;
		background: $white;
		border-radius: 4px;
		padding: 8px 32px 8px 8px;
		text-decoration: none;
		text-shadow: none !important;
		transition: all $transition-default;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 15px;
			right: 14px;
			width: 10px;
			height: 10px;
			background: $svg-angle center no-repeat;
		}

		@include on-hover {
			background: $yellow-light;
		}

		// span {
		// 	font-size: rem(14);
		// 	line-height: 1.3;
		// 	color: $black60;
		// }

		// @include respond-to(lg) {
		// 	margin-bottom: 8px;

		// 	&:last-child {
		// 		margin-bottom: 0;
		// 	}
		// }
	}

	// .block-showrooms__left
	&__left {
		margin-right: 10px;
		flex: 0 0 90px;

		// picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	// .block-showrooms__right
	&__right {
		display: grid;
		gap: 9px;
		font-size: rem(14);
		padding: 15px 0;

		& > div {
			display: flex;
		}

		span {
			color: $black60;
			line-height: 1.3;
		}
	}

	// .block-showrooms__icon
	&__icon {
		display: flex;
		justify-content: center;
		width: 18px;
		flex: 0 0 18px;
		margin-right: 8px;

		svg {
			width: 11px;
			height: 14px;
			fill: $yellow;
			margin-top: 1px;
		}
	}

	// .block-showrooms__name
	&__name {
		div {
			margin-bottom: 2px;
		}
	}

	// .block-showrooms__workhours
	&__workhours {
		display: grid;
		gap: 6px;

		span {
			font-size: rem(12);
			margin-right: 5px;
		}
	}

	// .block-showrooms__image
	&__image {
		position: relative;
		min-height: 332px;

		@include respond-to(xxl) {
			width: 50%;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center 95%;
			z-index: -1;
		}
	}

	// .block-showrooms__text
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 32px 12px 12px;
		text-align: center;

		@include respond-to(md) {
			padding: 32px 24px 24px;
			text-align: left;
		}

		@include respond-to(lg) {
			height: auto;
			padding: 32px;
		}

		@include respond-to(xxxl) {
			max-width: 70%;
		}
	}

	.map_showroom-all {
		height: 100%;
	}

	// .icon-map {
	// 	width: 18px;
	// 	height: 18px;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	margin-right: 4px;

	// 	svg {
	// 		// width: 10px;
	// 		// height: 10px;
	// 		fill: $yellow;
	// 	}
	// }

	&._contacts {
		@include respond-to(md) {
			height: 480px;
		}

		@include respond-to(lg) {
			height: 577px;
		}

		.btn {
			background: $white;

			@include respond-to(md) {
				width: auto;
			}

			@include respond-to(lg) {
				width: fit-content;
			}
		}
	}

	&._reversed {
		.block-showrooms__image {
			order: 1;
		}
	}

	.btn._dynamic_adapt_ {
		width: auto;
		margin: 16px $min-padding;
	}
}
