/*! Блок "Главная карусель" */
.main-carousel {
	--f-carousel-dots-width: 22px;
	--f-carousel-slide-height: 540px;
	// --f-carousel-slide-height: 164dvw;
	margin-bottom: 30px !important;
	margin-left: calc($min-padding * -1);
	margin-right: calc($min-padding * -1);

	@include respond-to(sm) {
		--f-carousel-slide-height: 613px;
	}

	@include respond-to(md) {
		--f-carousel-slide-height: 448px;
		// margin-bottom: 109px !important;
		margin-bottom: 20px !important;
		margin-left: 0;
		margin-right: 0;
	}

	@include respond-to(lg) {
		--f-carousel-slide-height: 600px;
		margin-bottom: 70px !important;
	}

	@include respond-to(xxxl) {
		--f-carousel-slide-height: 500px;
	}

	.f-progress {
		bottom: 0;
		top: auto;
	}

	.f-carousel__dot {
		width: 16px;
		height: 5px;
		border-radius: 24px;
	}

	li.is-current {
		.f-carousel__dot {
			background-color: $black60;
		}
	}
}

.main-slide {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $gray;
	overflow: hidden;

	@include respond-to(md) {
		flex-direction: row;
	}

	// .main-slide_col-1
	&_col-1 {
		position: relative;
		height: 100%;
	}

	// .main-slide_col-2
	&_col-2 {
	}

	// .main-slide_v2
	&_v2 {
		color: $black-brown;
		background: $white;
		position: relative;

		&::before {
			display: none !important; // old banners bg if text-white set
		}

		svg {
			fill: currentColor;
			width: 105px;
			height: 23px;
			margin-bottom: -1px;

			@include respond-to(sm) {
				width: 150px;
				height: 30px;
			}

			@include respond-to(md) {
				width: 150px;
				height: 30px;
			}

			@include respond-to(lg) {
				width: 220px;
				height: 43px;
			}
		}

		&.type-1 {
		}

		&.type-2 {
			&::after {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				background: $white;
				clip-path: polygon(0 0, 0 100%, 100% 0);
				transform: scale(-1);

				@include respond-to(sm) {
					top: 63%;
					width: 160px;
					height: 100px;
				}

				@include respond-to(md) {
					top: 175px;
					width: 160px;
					height: 100px;
				}

				@include respond-to(lg) {
					top: 240px;
					width: 190px;
					height: 130px;
				}

				@include respond-to(xl) {
					width: 250px;
				}

				@include respond-to(xxl) {
					width: 280px;
				}

				@include respond-to(xxxl) {
					top: 200px;
					width: 190px;
					height: 100px;
				}
			}
		}
	}

	// .main-slide__text
	&__text {
		@include when-inside(".main-slide_col-1") {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			padding: 12px 12px 110px;
			text-align: center;
			margin-top: 35px;
			z-index: 2;

			@include respond-to(md) {
				position: relative;
				align-items: flex-start;
				justify-content: space-between;
				// justify-content: flex-end;
				padding: 12px;
				text-align: left;
				width: 60%;
				margin: 25px 0 40px 64px;
			}

			@include respond-to(xxxl) {
				margin-left: 100px;
			}
		}

		@include when-inside(".main-slide_col-2") {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 12px;
			text-align: center;
			min-height: 333px;
			order: 1;

			@include respond-to(md) {
				padding: 40px 60px;
				width: 50%;
				height: auto;
				order: 0;
			}

			.label {
				@include respond-to(md, "max") {
					position: absolute;
					top: -15px;
					z-index: 1;
				}
			}
		}

		@include when-inside(".main-slide_v2") {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			z-index: 1;
			height: 100%;

			@include respond-to(xm) {
				padding: 23px 30px 30px;
			}

			@include respond-to(md) {
				padding: 35px 20px 35px 30px;
				width: 60%;
				max-width: 550px;
			}

			@include respond-to(lg) {
				padding: 55px 30px 55px 40px;
				max-width: 550px;
			}

			@include respond-to(xl) {
				padding: 60px 25px 50px 50px;
				width: 55%;
				max-width: 730px;
			}

			@include respond-to(xxl) {
				padding: 60px 85px 60px 60px;
				width: 51%;
				max-width: 790px;
			}

			@include respond-to(xxxl) {
				padding: 45px 85px 45px 60px;
				width: 50%;
				max-width: 865px;
			}
		}

		@include when-inside(".main-slide_v2.type-1") {
			@include respond-to(md) {
				background: $white;
				--pos-1-y: calc(100% - 185px);
				--pos-2-x: calc(100% - 100px);
				--pos-2-y: calc(100% - 100px);
				--pos-3-y: var(--pos-2-y);
				clip-path: polygon(0 0, 100% 0, 100% var(--pos-1-y), var(--pos-2-x) var(--pos-2-y), 100% var(--pos-3-y), 100% 100%, 0 100%);
			}

			@include respond-to(lg) {
				--pos-1-y: calc(100% - 250px);
				--pos-2-x: calc(100% - 130px);
				--pos-2-y: calc(100% - 140px);
			}

			@include respond-to(xl) {
				--pos-1-y: calc(100% - 265px);
				--pos-2-x: calc(100% - 135px);
				--pos-2-y: calc(100% - 155px);
			}

			@include respond-to(xxl) {
				--pos-1-y: calc(100% - 265px);
				--pos-2-x: calc(100% - 150px);
				--pos-2-y: calc(100% - 155px);
			}

			@include respond-to(xxxl) {
				--pos-1-y: calc(100% - 260px);
				--pos-2-x: calc(100% - 135px);
				--pos-2-y: calc(100% - 170px);
			}
		}

		@include when-inside(".main-slide_v2.type-2") {
			position: relative;
			align-items: center;
			text-align: center;

			@include respond-to(md, "max") {
				padding: 0;
			}

			@include respond-to(md) {
				background: $white;
				align-items: flex-start;
				text-align: left;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				background: $white;
				clip-path: polygon(0 0, 0 100%, 100% 0);

				@include respond-to(sm) {
					top: 63%;
					width: 160px;
					height: 100px;
				}

				@include respond-to(md) {
					top: 175px;
					width: 160px;
					height: 100px;
					left: calc(100% - 2px);
				}

				@include respond-to(lg) {
					top: 240px;
					width: 190px;
					height: 130px;
				}

				@include respond-to(xl) {
					width: 250px;
				}

				@include respond-to(xxl) {
					width: 280px;
				}

				@include respond-to(xxxl) {
					top: 200px;
					width: 250px;
					height: 100px;
				}
			}
		}

		@include when-inside(".ya-split") {
			margin-top: 0;
			padding: 23px 30px 30px;
			justify-content: space-between;
			height: 100%;

			@include respond-to(xm) {
				text-align: left;
				align-items: flex-start;
			}

			@include respond-to(md) {
				padding: 35px 20px 35px 30px;
				width: 100%;
				text-align: left;
				margin: 0;
			}

			@include respond-to(lg) {
				padding: 55px 30px 55px 40px;
				// max-width: 550px;
			}

			@include respond-to(xl) {
				padding: 60px 25px 50px 50px;
				// width: 55%;
				// max-width: 730px;
			}

			@include respond-to(xxl) {
				padding: 60px 85px 60px 60px;
				// width: 51%;
				// max-width: 790px;
			}

			@include respond-to(xxxl) {
				padding: 25px 85px 35px 60px;
				// width: 50%;
				// max-width: 865px;
			}
		}
	}

	// .main-slide__img
	&__img {
		@include when-inside(".main-slide_col-1") {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				@include respond-to(xm) {
					object-position: left;
				}
			}
		}

		@include when-inside(".main-slide_col-2") {
			height: 280px;

			@include respond-to(md) {
				width: 50%;
				height: auto;
			}

			img {
				@include respond-to(xm) {
					object-position: left;
				}
			}
		}

		@include when-inside(".main-slide_v2") {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			img {
				object-fit: contain;
				object-position: bottom;
			}

			@include respond-to(sm) {
				img {
					object-fit: cover;
				}
			}

			@include respond-to(md) {
				right: -390px;

				img {
					object-fit: contain;
					object-position: center;
				}
			}

			@include respond-to(lg) {
				right: 0;

				img {
					object-position: 140%;
				}
			}

			@include respond-to(xl) {
				img {
					object-position: 130%;
				}
			}

			@include respond-to(xxl) {
				right: -650px;

				img {
					object-position: center;
				}
			}

			@include respond-to(xxxl) {
				right: -725px;
			}
		}

		@include when-inside(".ya-split") {
			@include respond-to(xm) {
				img {
					object-position: right;
				}
			}
			@include respond-to(md) {
				img {
					object-position: center;
				}
			}
			@include respond-to(lg) {
				img {
					// object-position: right;
				}
			}
			@include respond-to(xl) {
				img {
					// object-position: right;
				}
			}
			@include respond-to(xxl) {
				img {
					// object-position: right;
				}
			}
			@include respond-to(xxxl) {
				img {
					// object-position: right;
				}
			}
		}

		// @include when-inside(".main-slide_v2.type-2") {
		// img {
		// 	clip-path: polygon(0 0, 100% 0, 100% 40%, 71% 59%, 100% 59%, 100% 100%, 0 100%, 0 60%, 32% 44%, 0 43%);
		// }
		// }

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .main-slide__wrapper
	&__wrapper {
		display: grid;
		gap: 25px;
		margin: 14px 0;

		@include when-inside(".main-slide_col-1") {
			@include respond-to(md, "max") {
				max-width: 600px;
				justify-items: center;
			}
		}

		@include when-inside(".main-slide_col-2") {
			justify-items: center;
		}

		@include when-inside(".main-slide_v2.type-1") {
			display: block;
			margin: 0;
			background: $white;
			width: 100%;
			padding: 23px 30px 30px;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 100%, 80% 70%, 80% 100%, 0 100%);

			@include respond-to(xm) {
				padding: 21px 53px 21px 30px;
				margin-left: -30px;
				max-width: 514px;
				--pos-1-y: calc(100% - 120px);
				--pos-2-x: calc(100% - 70px);
				--pos-2-y: calc(100% - 85px);
				--pos-3-y: var(--pos-2-y);
				clip-path: polygon(0 0, 100% 0, 100% var(--pos-1-y), var(--pos-2-x) var(--pos-2-y), 100% var(--pos-3-y), 100% 100%, 0 100%);
			}

			@include respond-to(md) {
				background: none;
				padding: 0;
				margin-left: 0;
				max-width: none;
				clip-path: none;
			}
		}

		@include when-inside(".main-slide_v2.type-2") {
			margin: 0;
			background: $white;
			width: 100%;
			padding: 23px 15px 30px;
			gap: 0;
			justify-content: center;

			@include respond-to(md) {
				padding: 0;
				justify-content: start;
			}
		}

		@include when-inside(".ya-split") {
			@include respond-to(md, "max") {
				gap: 0;
			}

			@include respond-to(xm) {
				justify-items: flex-start;
			}
		}
	}

	// .main-slide__top
	&__top {
	}

	// .main-slide__bottom
	&__bottom {
	}

	// .main-slide__body
	&__body {
		display: grid;
		gap: 7px;

		@include when-inside(".main-slide_col-2") {
			justify-items: center;
		}

		@include when-inside(".main-slide_v2") {
			justify-items: center;
		}
	}

	// .main-slide__header
	&__header {
		-webkit-text-stroke: 0.5px;
		font-size: rem(40);
		font-weight: 700;
		line-height: 1;
		color: $black-brown;
		margin-bottom: 15px;
		// line-height: 0.9;

		@include respond-to(md) {
			-webkit-text-stroke: 1px;
			font-size: rem(40);
		}

		@include respond-to(lg) {
			-webkit-text-stroke: 2px;
			font-size: rem(50);
		}

		@include respond-to(xl) {
			font-size: rem(64);
		}

		@include when-inside(".main-slide_v2") {
			font-size: rem(30);
			margin-bottom: 10px;
		}

		@include when-inside(".main-slide_v2.type-1") {
			@include respond-to(xm) {
				font-size: rem(33);
			}

			@include respond-to(md) {
				font-size: rem(42);
				font-size: clamp(rem(34), 4.2dvw, rem(42));
				margin-bottom: 15px;
			}

			@include respond-to(lg) {
				font-size: rem(53);
			}
		}

		@include when-inside(".main-slide_v2.type-2") {
			font-size: clamp(rem(30), 10dvw, rem(43));
			line-height: 1.2;

			// @include respond-to(xm) {
			// 	font-size: rem(43);
			// }

			@include respond-to(md) {
				font-size: rem(42);
				font-size: clamp(rem(34), 4.2dvw, rem(42));
				margin-bottom: 15px;
			}

			@include respond-to(lg) {
				font-size: rem(48);
				line-height: 1.1;
			}

			@include respond-to(xl) {
				font-size: rem(60);
			}
		}

		@include when-inside(".ya-split") {
			font-size: rem(32);

			@include respond-to(xm) {
				-webkit-text-stroke: 1px;
				font-size: rem(45);
			}

			@include respond-to(lg) {
				font-size: rem(60);
			}

			@include respond-to(xl) {
				font-size: rem(64);
			}
		}
	}

	// .main-slide__subheader
	&__subheader {
		font-size: rem(17);

		@include respond-to(xl) {
			font-size: rem(18);
		}

		@include when-inside(".main-slide_v2") {
			-webkit-text-stroke: 2px;
			font-size: rem(50);
			font-weight: 700;
			line-height: 0.7;
			margin-top: -5px;
			margin-left: -3px;
			margin-bottom: 20px;

			@include respond-to(xm) {
				font-size: rem(75);
			}

			@include respond-to(md) {
				font-size: rem(95);
				font-size: clamp(rem(75), 9dvw, rem(95));
				margin-bottom: 30px;
			}

			@include respond-to(xl) {
				font-size: rem(110);
			}
		}
	}

	// .main-slide__list
	&__list {
		color: $gray-modern;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 12px;
		max-width: 350px;
		font-size: rem(16);

		@include respond-to(xm) {
			justify-content: flex-start;
		}

		@include respond-to(md) {
			gap: 16px;
		}

		@include respond-to(lg) {
			font-size: rem(22);
			max-width: 470px;
		}

		@include respond-to(xxl) {
			font-size: rem(24);
		}

		& > span {
			text-shadow: none;
			background: $yellow;
			border-radius: 50px;
			padding: 7px 19px 6px;

			@include respond-to(lg) {
				padding: 11px 19px 10px;
			}
		}
	}

	// .main-slide__addresses
	&__addresses {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 12px;
		max-width: 600px;
		font-size: rem(14);

		@include respond-to(xm) {
			font-size: rem(14);
		}

		@include respond-to(md) {
			justify-content: flex-start;
			gap: 16px;
		}

		@include respond-to(lg) {
			font-size: rem(18);
		}

		@include respond-to(xxl) {
			font-size: rem(19);
		}

		& > a {
			display: flex;
			align-items: center;
			text-align: left;
			text-decoration: none;
			text-shadow: none;

			// @include when-inside(".main-slide_v2.type-2") {
			border: 2px solid $yellow;
			background: $yellow;
			border-radius: 50px;
			padding: 8px 8px 7px;

			@include on-hover {
				background: $white;
			}
			// }

			&::before {
				content: "";
				display: block;
				margin-right: 6px;
				width: 15px;
				height: 15px;
				background: currentColor;
				mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 28'%3E%3Cpath d='M11 .875A10.325 10.325 0 0 0 .688 11.188a10.208 10.208 0 0 0 2.077 6.187s.281.37.327.424L11 27.125l7.912-9.33c.04-.05.323-.42.323-.42v-.003a10.205 10.205 0 0 0 2.078-6.184A10.324 10.324 0 0 0 11 .874Zm0 14.063a3.75 3.75 0 1 1 0-7.5 3.75 3.75 0 0 1 0 7.5Z'/%3E%3C/svg%3E");
				mask-size: 100% 100%;

				@include respond-to(lg) {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	// .main-slide__note
	&__note {
		font-size: rem(15);
		opacity: 0.6;

		@include when-inside(".main-slide_v2") {
			opacity: 1;
			font-weight: 600;
			padding-right: 30%;

			@include respond-to(xm) {
				font-size: rem(16);
				padding-right: 0;
			}

			@include respond-to(md) {
				font-size: rem(18);
				padding-left: 2px;
				padding-right: 30px;
			}

			@include respond-to(lg) {
				font-size: rem(21);
				padding-right: 0;
			}

			@include respond-to(xl) {
				font-size: rem(26);
			}

			@include respond-to(xxxl) {
				font-size: rem(28);
			}
		}

		b,
		strong {
			-webkit-text-stroke: 0.5px;
		}
	}

	// .main-slide__note-xl
	&__note-xl {
	}

	// .main-slide__note-bottom
	&__note-bottom {
		font-size: rem(16);
		max-width: 500px;
		margin-bottom: 16px;

		b,
		strong {
			-webkit-text-stroke: 0.3px;
		}

		@include when-inside(".main-slide__button") {
			@include respond-to(md, "max") {
				display: none;
			}
		}
	}

	// .main-slide__button
	&__button {
		@include when-inside(".main-slide_col-1") {
			@include respond-to(md, "max") {
				position: absolute;
				bottom: 35px;
			}
		}

		@include when-inside(".main-slide_v2") {
			margin-top: 25px;
		}

		@include when-inside(".main-slide_v2.type-1") {
			@include respond-to(xm, "max") {
				padding: 0 30px 30px;
				display: flex;
				justify-content: center;
			}
		}

		@include when-inside(".main-slide_v2.type-2") {
			@include respond-to(md, "max") {
				padding: 0 30px 30px;
				display: flex;
				justify-content: center;
			}
		}

		@include when-inside(".ya-split") {
			position: static;

			@include respond-to(xm, "max") {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
		}
	}

	// .main-slide__product
	&__product {
		@include respond-to(md) {
			position: absolute;
			right: 0;
			bottom: 35px;
		}

		@include respond-to(lg) {
			bottom: 55px;
		}

		@include respond-to(xxxl) {
			bottom: 35px;
		}
	}

	&.text-white {
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 65%;
			opacity: 0.6;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #211e18 100%);
			z-index: 1;

			@include respond-to(md) {
				top: auto;
				bottom: 0;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #211e18 100%);
			}
		}
	}
}

.slide-product {
	font-size: rem(16);
	margin-bottom: 16px;
	line-height: 1;

	@include respond-to(xm) {
		font-size: rem(26);
		line-height: 1.2;
	}

	@include respond-to(md) {
		font-size: rem(18);
		margin: 0;
		padding: 12px 44px 12px 50px;
		background: $yellow;
		text-align: right;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0% 73%, 7% 40%, 0 40%);

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
		// 	right: 0;
		// 	background: var(--white);
		// 	clip-path: polygon(0 0, 0 100%, 100% 0);
		// 	top: 10px;
		// 	width: 20px;
		// 	height: 20px;
		// }
	}

	@include respond-to(lg) {
		font-size: rem(25);
	}

	@include respond-to(xxl) {
		font-size: rem(31);
	}

	@include respond-to(xxxl) {
		font-size: rem(25);
	}

	// .slide-product__name
	&__name {
		color: $black-brown;
		-webkit-text-stroke: 0.5px;
		font-weight: 700;
	}

	// .slide-product__price
	&__price {
		span {
			color: $gray-modern;
			text-decoration: line-through;
			white-space: nowrap;
		}

		strong,
		b {
			color: $red-modern;
		}
	}
}

.ya-split {
	background: #f1ede7;
}

.main-slide_v2,
.main-slide__button._large {
	.btn {
		@include respond-to(sm) {
			font-size: rem(20);
			padding: 15px 30px 13px;

			span {
				&::after {
					width: 20px;
					height: 20px;
					flex-basis: 20px;
					margin-left: 10px;
				}
			}
		}
	}
}

.banner-yandex-split-logo {
	max-width: 260px;
	width: 100%;
	margin: 10px auto 0 !important;

	@include respond-to(xm) {
		max-width: 320px;
		margin: 10px 0 0 !important;
	}

	@include respond-to(lg) {
		max-width: 420px;
	}

	@include respond-to(xl) {
		max-width: 460px;
	}

	@include respond-to(xxl) {
		max-width: 475px;
	}
}

.banner-logo {
	display: none;
	position: absolute;

	@include respond-to(md) {
		display: block;
		top: 22px;
		right: 22px;
		width: 64px;
		height: 13px;
	}

	@include respond-to(lg) {
		top: 33px;
		right: 33px;
		width: 96px;
		height: 19px;
	}

	@include respond-to(xl) {
		width: 140px;
		height: 27px;
	}
}
