/*! Карусель с превью. до 1024 2 слайда на экран, без превью (Thumbs) */

// .f-carousel.is-vertical {
// 	height: 500px;
// }
// .f-thumbs.is-vertical {
//   width: 150px;
// }

.carousel-gallery-thumbs {
	--f-carousel-slide-width: 100%;
	--f-carousel-slide-height: auto;
	margin-top: 36px;
	position: relative;

	.f-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	img {
		height: 100%;
		object-fit: cover;
	}

	& + .f-thumbs:not(.is-modern) {
		--f-thumb-width: 114px;
		--f-thumb-height: 64px;
		margin-top: 16px;

		.f-thumbs__slide {
			padding: 3px;
			border: 1px solid transparent;
			border-radius: 6px;
			transition: border-color 0.2s ease;

			&.is-nav-selected {
				border-color: $black;
			}

			@include on-hover {
				border-color: $black;
			}
		}

		.f-thumbs__slide__button {
			border-radius: 4px;
		}
	}

	// <1024
	@include respond-to(md) {
		// --f-carousel-spacing: 16px; // ломает поведение slidesPerPage
		--f-carousel-slide-width: 50%;
		--f-carousel-slide-height: auto;
		margin: 0 -8px;

		.f-carousel__slide {
			padding: 0 8px;
		}

		.f-carousel__dots {
			padding-left: var(--f-carousel-spacing);
		}
	}

	@include respond-to(lg) {
		--f-carousel-slide-width: 100%;
		--f-carousel-slide-height: auto;
		margin: 0;

		.f-carousel__slide {
			padding: 0;
		}
	}

	// >1024
	.f-carousel__dots {
		@include respond-to(lg) {
			display: none;
		}
	}
}

/*! Карусель с превью в попапе */
// контейнер
.popup-gallery {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $gray;

	&.is-active {
		display: block;
		z-index: 11;
		padding-top: 15px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			right: 0;
			background: $gray;
		}

		.container {
			height: 100%;
		}
	}
}

// карусель
:root {
	--product-view-height: calc(85vh - 100px); // 100 ~ header
}

.gallery-thumbs-popup {
	@include when-inside(".photos") {
		height: var(--product-view-height, 100%);
		min-height: 300px;
		max-height: 650px;
	}

	.f-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include respond-to(md) {
		&.f-carousel {
			order: 1;
		}
	}

	.f-carousel__slide {
		display: flex;
		justify-content: center;
		// align-items: flex-start;

		@include respond-to(lg) {
			height: var(--product-view-height, 100%);
			min-height: 300px;
			max-height: 650px;
		}

		img {
			// width: 100%;
			width: auto;
			height: 100%;
			object-fit: contain;
			object-position: top;
			// object-fit: cover;
		}
	}

	& + .f-thumbs:not(.is-modern) {
		--f-thumb-width: 114px;
		--f-thumb-height: 64px;

		.f-thumbs__slide {
			.f-thumbs__slide__img {
				box-sizing: border-box;
				border: 1px solid transparent;
				border-radius: 4px;
				transition: border-color 0.2s ease;
			}

			&.is-nav-selected {
				.f-thumbs__slide__img {
					border-color: $black;
				}
			}

			@include on-hover {
				.f-thumbs__slide__img {
					border-color: $black;
				}
			}
		}

		.f-thumbs__slide__button {
			border-radius: 4px;
		}

		.f-thumbs__slide__img {
			object-fit: contain;
			background: $gray;
			width: auto;
			margin: 0 auto;
		}
	}

	& + .f-thumbs.is-classic.is-vertical {
		height: var(--product-view-height, 100%);
		min-height: 300px;
		max-height: 650px;
	}

	& + .f-thumbs.is-classic {
		--f-thumb-width: 195px;
		--f-thumb-height: 115px;
		--f-thumb-gap: 12px;
	}

	& + .f-thumbs.is-classic .f-carousel__nav .f-button[disabled] {
		display: none;
	}

	& + .f-thumbs.is-vertical .f-thumbs__track {
		padding: 0;
	}

	// серые кнопки навигации для вертикальных превью в карточке товара
	& + .f-thumbs .f-button {
		--f-button-width: 44px;
		--f-button-height: 40px;
		--f-button-svg-width: 18px;
		--f-button-svg-height: 16px;
		--f-button-next-pos: 0;
		--f-button-prev-pos: 0;
		--f-button-bg: #{$gray};

		border-radius: 4px;
		border: 1px solid transparent;
		box-sizing: border-box;

		svg {
			stroke: $black;
			stroke-width: 1.5px;
		}

		@include on-hover {
			background: $white;
			border: 1px solid $black30;
		}

		@include on-active {
			background: $gray;
			border: 1px solid $black60;
			color: $black60 !important;

			svg {
				opacity: 0.5;
			}
		}

		@include on-disabled {
			pointer-events: none;
		}
	}

	.labels {
		top: 13px;
		left: 14px;
		bottom: auto;
	}
}
