/*! Карусель в футере */
.footer-carousel {
	margin-top: 44px;

	@include respond-to(md, "max") {
		--f-carousel-spacing: #{$min-padding};
		--f-carousel-slide-width: 87%;
		margin-left: -$min-padding;
		margin-right: -$min-padding;
	}

	@include respond-to(md) {
		--f-carousel-spacing: #{$max-padding};
		--f-carousel-slide-width: calc((100% - 32px) / 3);
	}

	@include respond-to(md, "max") {
		.f-carousel__slide:first-child {
			margin-left: $min-padding;
		}
	}

	.f-carousel__slide {
		display: flex;
		flex-direction: column;
		background: $white;
		border-radius: 10px;
		padding: 16px;
	}

	.f-carousel__dots {
		@include respond-to(md) {
			display: none;
		}
	}
}

.infocard {
	// .infocard__header
	&__header {
		font-size: rem(16);
		font-weight: 600;

		svg {
			width: 117px;
			height: 16px;
		}
	}

	// .infocard__body
	&__body {
		color: $black60;
		font-size: rem(13);
		line-height: 1.4;
		flex-grow: 1;
		margin: 9px 0 38px;

		@include respond-to(lg) {
			margin: 9px 0 12px;
		}
	}

	// .infocard__footer
	&__footer {
		display: grid;
		justify-content: start;
		gap: 13px 16px;
		grid-auto-flow: column;

		@include respond-to(md) {
			grid-auto-flow: row;
		}

		@include respond-to(lg) {
			grid-auto-flow: column;
		}

		a {
			font-size: rem(14);
		}
	}
}
