.carousel-info-model {
	// --f-carousel-dots-width: 10px;
	// --f-carousel-slide-width: 80%;
	// --f-carousel-spacing: #{$min-padding};

	// @include respond-to(xm) {
	// 	--f-carousel-spacing: #{$max-padding};
	// 	--f-carousel-slide-width: auto;
	// }

	// .f-progress {
	// 	display: none;
	// }

	// бесконечный скролл
	overflow: hidden;

	@include on-hover {
		.carousel-info-model-wrapper {
			animation-play-state: paused;
		}
	}

	.carousel-info-model-wrapper {
		overflow: hidden;
		will-change: transform;
		animation: infScroll var(--speed) infinite linear;
		display: flex;
		gap: 20px;
		justify-content: space-between;
		width: fit-content;
	}

	@keyframes infScroll {
		from {
			transform: translateX(0%);
		}
		to {
			transform: translateX(-50%);
		}
	}

	picture {
		display: block;
		width: max-content !important;
	}

	img {
		object-fit: cover;
		// width: auto;
		height: 310px;

		@include respond-to(md) {
			height: 225px;
		}

		@include respond-to(lg) {
			height: 210px;
		}

		@include respond-to(xxl2) {
			height: 300px;
		}

		@include respond-to(xxxl) {
			height: 290px;
		}

		@include respond-to(wide) {
			height: 370px;
		}

		// for PRO:
		// @include respond-to(xxl) {
		// 	height: 342px;
		// }

		// @include respond-to(xxl2) {
		// 	height: 500px;
		// }

		// @include respond-to(wide) {
		// 	height: 500px;
		// }
	}

	// .carousel-info-model__name
	&__name {
		color: $black-brown;
		font-size: rem(40);
		font-weight: 700;
		line-height: 1.1;

		svg {
			width: 162px;
			height: 32px;
			fill: $yellow;
		}
	}

	.f-carousel__dots {
		bottom: -42px;
	}
}
