/*! Карусель с превью. до 1024 2 слайда на экран, без превью (Thumbs) */

// .f-carousel.is-vertical {
// 	height: 500px;
// }
// .f-thumbs.is-vertical {
//   width: 150px;
// }

.carousel-gallery-thumbs {
	--f-carousel-slide-width: 100%;
	--f-carousel-slide-height: 416px;
	margin-top: 36px;
	position: relative;

	.f-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	img {
		height: 100%;
		object-fit: cover;
	}

	& + .f-thumbs:not(.is-modern) {
		--f-thumb-width: 114px;
		--f-thumb-height: 64px;
		margin-top: 16px;

		.f-thumbs__slide {
			padding: 3px;
			border: 1px solid transparent;
			border-radius: 6px;
			transition: border-color 0.2s ease;

			&.is-nav-selected {
				border-color: $black;
			}

			@include on-hover {
				border-color: $black;
			}
		}

		.f-thumbs__slide__button {
			border-radius: 4px;
		}
	}

	// <1024
	@include respond-to(md) {
		// --f-carousel-spacing: 16px; // ломает поведение slidesPerPage
		--f-carousel-slide-width: 50%;
		--f-carousel-slide-height: 416px;
		margin: 0 -8px;

		.f-carousel__slide {
			padding: 0 8px;
		}

		.f-carousel__dots {
			padding-left: var(--f-carousel-spacing);
		}
	}

	@include respond-to(lg) {
		--f-carousel-slide-width: 100%;
		--f-carousel-slide-height: auto;
		margin: 0;

		.f-carousel__slide {
			padding: 0;
		}
	}

	// >1024
	.f-carousel__dots {
		@include respond-to(lg) {
			display: none;
		}
	}
}
