<div class="personal-sidebar-wrapper" data-da=".content__main,1279,first">

	<div class="menu-personal scrollblock">
		<div class="menu-personal__body">
			<a href="personal-profile.html"@@person>
				<svg>
					<use xlink:href="#lk_person"></use>
				</svg>
				Личный кабинет
			</a>
			<a href="personal-orders.html"@@orders>
				<svg>
					<use xlink:href="#lk_orders"></use>
				</svg>
				Заказы
			</a>
			<a href="personal-favourites.html"@@favourites>
				<svg>
					<use xlink:href="#fav"></use>
				</svg>
				Избранное
			</a>
			<a href="personal-history.html"@@history>
				<svg>
					<use xlink:href="#lk_history"></use>
				</svg>
				Просмотренные
			</a>
			<a href="personal-profiles.html"@@profiles>
				<svg>
					<use xlink:href="#lk_profiles"></use>
				</svg>
				Профили
			</a>
		</div>
	</div>

	<div class="personal-logout" data-da=".content__main,1279,last">
		<a href="javascript:void(0)" --data-da=".personal-sidebar-wrapper .menu-personal__body,1279">
			<svg>
				<use xlink:href="#lk_exit"></use>
			</svg>
			Выйти
		</a>
	</div>

</div>