<!-- TODO Игорь: шаблон tpl-props должен быть включен в DOM 1 раз для всех страниц, где есть показ свойств при наведении (карточки в каталоге и карусели) -->
<template id="tpl-props">
	<div class="props skeleton">
		<div class="prop s-grid"><div class="s-t"></div><div class="s-t"></div><div class="s-t"></div><div class="s-t"></div><div class="s-t"></div></div>
		<div class="prop"><div class="s-t"></div><div class="s-b"></div></div>
		<div class="prop"><div class="s-t"></div><div class="s-b"></div></div>
		<div class="props-buttons"><div class="s-btn"></div></div>
	</div>
</template>