<div class="event-cards">

	<!-- ! Подгружать через "Ещё" сюда (data-target="event-cards" на кнопке "Ещё") -->

	<div class="event-card">
		<div class="event-card__wrapper">
			<div class="event-card__labels">
				<div class="label label_black60">Бизнес завтраки</div>
				<div class="label label_black60">2024</div>
			</div>
			<div class="event-card__image">
				<img src="@img/dev/carousels/events/carousel-event.jpg" width="411" height="280" alt="" loading="lazy">
			</div>
			<div class="event-card__text">
				<div class="event-card__header h4">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				</div>
				<div class="event-card__descr">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto debitis facilis consequuntur! Quod culpa nihil temporibus odio animi sunt corrupti.
				</div>
				<div class="event-card__bottom">
					<div class="event-card__date">10 сентября 2024</div>
					<div class="event-card__button"><a href="@@link" class="btn btn_yellow btn_arrow-right" aria-label="Подробнее о событии"></a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="event-card">
		<div class="event-card__wrapper">
			<div class="event-card__labels">
				<div class="label label_black60">Бизнес завтраки</div>
			</div>
			<div class="event-card__image">
				<img src="@img/dev/carousels/events/carousel-event.jpg" width="411" height="280" alt="" loading="lazy">
			</div>
			<div class="event-card__text">
				<div class="event-card__header h4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, consectetur.
				</div>
				<div class="event-card__descr">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, itaque. Soluta molestias culpa dolorum recusandae dolore eos aliquid numquam inventore, nam nobis deleniti perspiciatis veniam esse nihil ad voluptatibus dignissimos?
				</div>
				<div class="event-card__bottom">
					<div class="event-card__date">10 сентября 2024</div>
					<div class="event-card__button"><a href="@@link" class="btn btn_yellow btn_arrow-right" aria-label="Подробнее о событии"></a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="event-card">
		<div class="event-card__wrapper">
			<div class="event-card__image">
				<img src="@img/dev/carousels/events/carousel-event.jpg" width="411" height="280" alt="" loading="lazy">
			</div>
			<div class="event-card__text">
				<div class="event-card__header h4">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				</div>
				<div class="event-card__descr">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto debitis facilis consequuntur! Quod culpa nihil temporibus odio animi sunt corrupti.
				</div>
				<div class="event-card__bottom">
					<div class="event-card__date">10 сентября 2024</div>
					<div class="event-card__button"><a href="@@link" class="btn btn_yellow btn_arrow-right" aria-label="Подробнее о событии"></a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="event-card">
		<div class="event-card__wrapper">
			<div class="event-card__image">
				<img src="@img/dev/carousels/events/carousel-event.jpg" width="411" height="280" alt="" loading="lazy">
			</div>
			<div class="event-card__text">
				<div class="event-card__header h4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, consectetur.
				</div>
				<div class="event-card__descr">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, itaque. Soluta molestias culpa dolorum recusandae dolore eos aliquid numquam inventore, nam nobis deleniti perspiciatis veniam esse nihil ad voluptatibus dignissimos?
				</div>
				<div class="event-card__bottom">
					<div class="event-card__date">10 сентября 2024</div>
					<div class="event-card__button"><a href="@@link" class="btn btn_yellow btn_arrow-right" aria-label="Подробнее о событии"></a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="event-card">
		<div class="event-card__wrapper">
			<div class="event-card__image">
				<img src="@img/dev/carousels/events/carousel-event.jpg" width="411" height="280" alt="" loading="lazy">
			</div>
			<div class="event-card__text">
				<div class="event-card__header h4">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				</div>
				<div class="event-card__descr">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto debitis facilis consequuntur! Quod culpa nihil temporibus odio animi sunt corrupti.
				</div>
				<div class="event-card__bottom">
					<div class="event-card__date">10 сентября 2024</div>
					<div class="event-card__button"><a href="@@link" class="btn btn_yellow btn_arrow-right" aria-label="Подробнее о событии"></a></div>
				</div>
			</div>
		</div>
	</div>

</div>