<div class="f-carousel__slide">
	<div class="item">
		<div class="item__wrapper">
			<div class="item__content">
				<div class="item__image-wrapper">
					<div>
						<div class="labels">
							<div class="label label_red">-20%</div>
							<div class="label label_yellow">Акция</div>
						</div>
					</div>

					<div>
						<a href="product.html" class="item__gallery-wrapper">
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-1.webp" width="300" height="300" alt="" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-2.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
						</a>
					</div>
				</div>

				<div class="item__info">
					<div class="item__title">
						<a href="product.html">Стол Экспо ТР</a>
					</div>
					<div class="item__prices">
						<div class="item__price">29 620 ₽</div>
					</div>
				</div>

				<div class="item__details">
					<div class="item__buttons">
						<a href="product.html" class="btn btn_yellow btn_arrow"><span>Перейти к товару</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="f-carousel__slide">
	<div class="item">
		<div class="item__wrapper">
			<div class="item__content">
				<div class="item__image-wrapper">
					<div>
						<div class="labels">
							<div class="label label_yellow">Акция</div>
						</div>
					</div>

					<div>
						<a href="product.html" class="item__gallery-wrapper">
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-4.webp" width="300" height="300" alt="" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-2.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
						</a>
					</div>
				</div>

				<div class="item__info">
					<div class="item__title">
						<a href="product.html">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
					</div>
					<div class="item__prices">
						<div class="item__price _discount">29 620 ₽</div>
						<div class="item__oldprice">39 620 ₽</div>
					</div>
				</div>

				<div class="item__details">
					<div class="item__buttons">
						<a href="product.html" class="btn btn_yellow btn_arrow"><span>Перейти к товару</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="f-carousel__slide">
	<div class="item">
		<div class="item__wrapper">
			<div class="item__content">
				<div class="item__image-wrapper">
					<div>
						<div class="labels">
							<div class="label label_green">В наличии</div>
						</div>
					</div>

					<div>
						<a href="product.html" class="item__gallery-wrapper">
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-2.webp" width="300" height="300" alt="" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-3.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-4.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-5.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
						</a>
					</div>
				</div>

				<div class="item__info">
					<div class="item__title">
						<a href="product.html">Стол Экспо ТР</a>
					</div>
					<div class="item__prices">
						<div class="item__price">29 620 ₽</div>
					</div>
				</div>

				<div class="item__details">
					<div class="item__buttons">
						<a href="product.html" class="btn btn_yellow btn_arrow"><span>Перейти к товару</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="f-carousel__slide">
	<div class="item">
		<div class="item__wrapper">
			<div class="item__content">
				<div class="item__image-wrapper">
					<div>
						<div class="labels">
							<div class="label label_red">-20%</div>
							<div class="label label_yellow">Акция</div>
						</div>
					</div>

					<div>
						<a href="product.html" class="item__gallery-wrapper">
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-1.webp" width="300" height="300" alt="" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-4.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
						</a>
					</div>
				</div>

				<div class="item__info">
					<div class="item__title">
						<a href="product.html">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
					</div>
					<div class="item__prices">
						<div class="item__price _discount">29 620 ₽</div>
						<div class="item__oldprice">39 620 ₽</div>
					</div>
				</div>

				<div class="item__details">
					<div class="item__buttons">
						<a href="product.html" class="btn btn_yellow btn_arrow"><span>Перейти к товару</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="f-carousel__slide">
	<div class="item">
		<div class="item__wrapper">
			<div class="item__content">
				<div class="item__image-wrapper">
					<div>
						<div class="labels">
							<div class="label label_red">-20%</div>
							<div class="label label_yellow">Акция</div>
						</div>
					</div>

					<div>
						<a href="product.html" class="item__gallery-wrapper">
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-1.webp" width="300" height="300" alt="" />
							</div>
							<div class="item__gallery-item">
								<div class="item__gallery-nav"></div>
								<img src="@img/dev/product/prod-4.webp" width="300" height="300" alt="" loading="lazy" />
							</div>
						</a>
					</div>
				</div>

				<div class="item__info">
					<div class="item__title">
						<a href="product.html">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a>
					</div>
					<div class="item__prices">
						<div class="item__price _discount">29 620 ₽</div>
						<div class="item__oldprice">39 620 ₽</div>
					</div>
				</div>

				<div class="item__details">
					<div class="item__buttons">
						<a href="product.html" class="btn btn_yellow btn_arrow"><span>Перейти к товару</span></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>