<div class="tiles__body">

	<!-- ! Одна обертка tiles__block на каждые 4 проекта (меньше 4 можно). Для плиточной masonry раскладки на планшете. -->
	<!--
		Для новостей разметка остальных блоков упрощённая.
		Коммент дизайнера:
		Основные 6-10 материалов можно выкладывать такой сложной интересной версткой. а остальные материалы, которых может быть много — можно выкладывать обычной плиткой и показывать по кнопке “показать больше”
	-->
	<!-- ! Поэтому сами решайте сколько сразу у вас будет главных материалов видно - 1 или 2 tiles__block  -->
	<!-- ! Подгружать же через "Ещё" надо сразу в tiles__simple без доп обёрток
	-->

	<div class="tiles__block">

		<div class="tile">
			<div class="tile__h">
				<div class="h3">JULIUS MEINL</div>
				<div class="tile__icons">
					<div class="tile__tags">
						<div class="tile__tag">Видео</div>
						<!-- <a href="/" class="tile__tag">Ссылка</a> --> <!-- если надо ссылкой -->
					</div>
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						1 256
					</div>
				</div>
			</div>
			<div class="tile__f">
				<a href="https://www.youtube.com/embed/BbGmMjo3yEA" class="btn-round js-modal-show" data-box-width="1000" data-box-type="video" aria-label="Смотреть">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 20">
						<path d="M15.98 9.132a1 1 0 0 1 0 1.736L1.497 19.145A1 1 0 0 1 0 18.277V1.723A1 1 0 0 1 1.496.855l14.485 8.277Z" />
					</svg>
				</a>
			</div>
			<a href="@@link">
				<picture>
					<source media="(min-width: 1280px)" srcset="@img/dev/ideas/idea-1-1280.webp" type="image/webp">
					<source media="(min-width: 1024px)" srcset="@img/dev/ideas/idea-1-1024.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="@img/dev/ideas/idea-1-768.webp" type="image/webp">
					<source media="(min-width: 577px)" srcset="@img/dev/ideas/idea-1-577.webp" type="image/webp">
					<source srcset="@img/dev/ideas/idea-1-320.webp" type="image/webp">
					<img src="@img/dev/ideas/idea-1.png" width="831" height="482" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Офис консалтинговой компании</div>
				<div class="tile__icons">
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						849
					</div>
				</div>
			</div>
			<div class="tile__f">
				<a href="@@link" target="_blank" class="btn-round" aria-label="Читать">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M2 3h7.001m0 0V10m0-6.999L2 10" />
					</svg>
				</a>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-7.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Автомедиафасад</div>
				<div class="tile__icons">
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						19 400
					</div>
				</div>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-8.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">JULIUS MEINL</div>
				<div class="tile__icons">
					<div class="tile__tags">
						<div class="tile__tag">Видео</div>
						<!-- <a href="/" class="tile__tag">Ссылка</a> --> <!-- если надо ссылкой -->
					</div>
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						1 256
					</div>
				</div>
			</div>
			<div class="tile__f">
				<a href="https://www.youtube.com/embed/BbGmMjo3yEA" class="btn-round js-modal-show" data-box-width="1000" data-box-type="video" aria-label="Смотреть">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 20">
						<path d="M15.98 9.132a1 1 0 0 1 0 1.736L1.497 19.145A1 1 0 0 1 0 18.277V1.723A1 1 0 0 1 1.496.855l14.485 8.277Z" />
					</svg>
				</a>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-6.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

	</div>

	<!-- упрощённые карточки (tiles__simple) -->
	<div class="tiles__simple">

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Почему мы занимаемся офисной мебелью на металлокаркасе?</div>
				<div class="tile__icons">
					<div class="tile__tags">
						<div class="tile__tag">Видео</div>
						<!-- <a href="/" class="tile__tag">Ссылка</a> --> <!-- если надо ссылкой -->
					</div>
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						99
					</div>
				</div>
			</div>
			<div class="tile__f">
				<a href="https://www.youtube.com/embed/BbGmMjo3yEA" class="btn-round js-modal-show" data-box-width="1000" data-box-type="video" aria-label="Смотреть">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 20">
						<path d="M15.98 9.132a1 1 0 0 1 0 1.736L1.497 19.145A1 1 0 0 1 0 18.277V1.723A1 1 0 0 1 1.496.855l14.485 8.277Z" />
					</svg>
				</a>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-4.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Офис The Люди</div>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-6.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Сделали мебель для офиса Ютуб-канала The Люди</div>
				<div class="tile__icons">
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						15 950
					</div>
				</div>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-2.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Офис The Люди</div>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-6.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Почему мы занимаемся офисной мебелью на металлокаркасе?</div>
				<div class="tile__icons">
					<div class="tile__tags">
						<div class="tile__tag">Видео</div>
						<!-- <a href="/" class="tile__tag">Ссылка</a> --> <!-- если надо ссылкой -->
					</div>
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						99
					</div>
				</div>
			</div>
			<div class="tile__f">
				<a href="https://www.youtube.com/embed/BbGmMjo3yEA" class="btn-round js-modal-show" data-box-width="1000" data-box-type="video" aria-label="Смотреть">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 20">
						<path d="M15.98 9.132a1 1 0 0 1 0 1.736L1.497 19.145A1 1 0 0 1 0 18.277V1.723A1 1 0 0 1 1.496.855l14.485 8.277Z" />
					</svg>
				</a>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-4.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile">
			<div class="tile__h">
				<div class="h3">Сделали мебель для офиса Ютуб-канала The Люди</div>
				<div class="tile__icons">
					<div class="tile__views">
						<svg>
							<use xlink:href="#views"></use>
						</svg>
						15 950
					</div>
				</div>
			</div>
			<a href="@@link">
				<picture>
					<img src="@img/dev/ideas/idea-1.png" width="831" height="985" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

	</div>

</div>