<div class="tiles__body">

	<div class="tiles__block">

		<div class="tile tile_shadow-bottom tile_shadow-top">

			<div class="tile__f">
				<div class="note note_transparent">Поверхности служат долгие годы, не изнашиваются и не выцветают. Мебель сертифицирована.</div>
			</div>
			<a href="javascript:void(0)">
				<picture>
					<source media="(min-width: 1440px)" srcset="@img/dev/ideas/idea-1-1440.webp" type="image/webp">
					<source media="(min-width: 1280px)" srcset="@img/dev/ideas/idea-1-1280.webp" type="image/webp">
					<source media="(min-width: 1024px)" srcset="@img/dev/ideas/idea-1-1024.webp" type="image/webp">
					<source media="(min-width: 768px)" srcset="@img/dev/ideas/idea-1-768.webp" type="image/webp">
					<source media="(min-width: 577px)" srcset="@img/dev/ideas/idea-1-577.webp" type="image/webp">
					<source srcset="@img/dev/ideas/idea-1-320.webp" type="image/webp">
					<img src="@img/dev/ideas/idea-1-1280.png" width="600" height="600" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile tile_shadow-bottom">
			<div class="tile__f">
				<div class="note note_transparent">Поверхности служат долгие годы, не изнашиваются и не выцветают. Мебель сертифицирована.</div>
			</div>
			<a href="javascript:void(0)">
				<picture>
					<img src="@img/dev/ideas/idea-7.jpg" width="600" height="600" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile tile_shadow-bottom">

			<div class="tile__f">
				<div class="note note_transparent">Поверхности служат долгие годы, не изнашиваются и не выцветают. Мебель сертифицирована.</div>
			</div>
			<a href="javascript:void(0)">
				<picture>
					<img src="@img/dev/ideas/idea-8.jpg" width="600" height="600" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

		<div class="tile tile_shadow-bottom">

			<div class="tile__f">
				<div class="note note_transparent">Поверхности служат долгие годы, не изнашиваются и не выцветают. Мебель сертифицирована.</div>
			</div>
			<a href="javascript:void(0)">
				<picture>
					<img src="@img/dev/ideas/idea-6.jpg" width="600" height="600" alt="" loading="lazy" class="tile__image">
				</picture>
			</a>
		</div>

	</div>

</div>