// carousel overrides

///
/// carousel-overflow скрывает карусель за пределами блока content и отменяет стандартное поведение overflow карусели
/// устанавливается для блока .content
/// нужен для показа по наведению выпадающего блока с деталями о товаре (position: absolute)
/// НО для корректного отображения блок .content.carousel-overflow должен быть большим по высоте, иначе произойдёт обрезка снизу
/// решение — следующий за каруселью блок должен располагаться в этом же блоке content
/// может быть неудобно для настройки шаблона в битре
/// 
// .carousel-overflow {
// 	overflow: hidden;

// 	.f-carousel__slide,
// 	.f-carousel__viewport {
// 		overflow: visible;
// 	}
// }

.f-carousel {
	--f-carousel-dot-width: 5px;
	--f-carousel-dot-height: 5px;
	--f-carousel-dots-width: 11px;
}

.f-carousel__dot {
	background-color: $black60;
}

.f-carousel__dots li.is-current {
	.f-carousel__dot {
		background-color: $black;
	}
}

// серые кнопки навигации в правом верхнем углу
.carousel-top-nav {
	--f-button-width: 44px;
	--f-button-height: 40px;
	--f-button-svg-width: 18px;
	--f-button-svg-height: 16px;
	--f-button-next-pos: 0;
	--f-button-prev-pos: 0;
	--f-button-bg: #{$gray};

	.f-carousel__nav {
		display: none;

		@include respond-to(xl) {
			display: block;
			position: absolute;
			right: 16px;
			top: 0;
			width: 96px;

			.f-button {
				top: -73px !important;
				transform: none !important;
				border-radius: 4px;
				border: 1px solid transparent;
				box-sizing: border-box;

				svg {
					stroke: $black;
					stroke-width: 1.5px;
				}

				@include on-hover {
					background: $white;
					border: 1px solid $black10;
				}

				@include on-active {
					background: $gray;
					border: 1px solid $black60;
					color: $black60 !important;

					svg {
						opacity: 0.5;
					}
				}

				@include on-disabled {
					pointer-events: none;
				}
			}
		}
	}
}
