.banner-block {
	position: relative;
	margin: 40px 0 80px;
	overflow: hidden;

	@include respond-to(xm, "max") {
		display: flex;
		min-height: 380px;
	}

	@include respond-to(xm) {
		padding-top: 50px;
	}

	@include respond-to(lg) {
		overflow: visible;
		padding-top: 80px;
	}

	// .banner-block__text
	&__text {
		padding: 20px 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: $gray;

		@include respond-to(xm, "max") {
			flex: 1;
		}

		@include respond-to(xm) {
			padding: 24px;
		}

		@include respond-to(lg) {
			min-height: 315px;
		}

		@include when-inside(".bg-gray") {
			background: $white;
		}
	}

	// .banner-block__body
	&__body {
		max-width: 260px;
		margin-bottom: 60px;
		z-index: 5;

		@include respond-to(lg) {
			max-width: 385px;
		}

		@include respond-to(xm, "max") {
			.h2 {
				font-size: rem(20);
			}
		}

		a[href^="tel:"] {
			white-space: nowrap;
		}
	}

	// .banner-block__button
	&__button {
		z-index: 5;
	}

	// .banner-block__img
	&__img {
		position: absolute;
		bottom: -25px;
		right: -55px;

		@include respond-to(xm) {
			bottom: -20px;
			right: 20px;
		}

		@include respond-to(lg) {
			bottom: -29px;
			right: 50px;
		}

		@include respond-to(xl) {
			right: 140px;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 6%;
			bottom: 29px;
			width: 558px;
			height: 90%;
			z-index: 1;
			clip-path: polygon(0 6%, 96% 0, 100% 100%, 3% 100%);

			@include respond-to(xm) {
				bottom: 20px;
				width: 97%;
			}

			@include respond-to(lg) {
				bottom: 29px;
				width: 100%;
			}

			@include respond-to(xl) {
				width: 558px;
			}
		}

		img {
			position: relative;
			z-index: 2;
			width: 330px;
			object-fit: contain;
			overflow: hidden;

			@include respond-to(xm) {
				width: 375px;
			}

			@include respond-to(lg) {
				width: 515px;
			}
		}

		// ._bg-yellow-light
		&._bg-yellow-light {
			&::after {
				background: $yellow-light;
			}
		}
	}
}

.info-block {
	border-radius: 8px;
	background: $white;
	padding: 8px;

	@include respond-to(lg) {
		padding: 12px;
	}

	// .info-block__important
	&__important {
		border-radius: 8px;
		background: $gray;
		padding: 12px 12px 22px;
		margin-bottom: 24px;

		@include respond-to(lg) {
			padding: 20px 20px 39px;
		}

		& > * {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		span {
			color: $black60;
		}

		.info-block__header {
			padding: 0;
		}
	}

	// .info-block__header
	&__header {
		padding: 12px;

		@include respond-to(lg) {
			max-width: 80%;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	// .info-block__body
	&__body {
		padding: 0 12px;

		@include respond-to(lg) {
			max-width: 90%;
		}

		&._wide {
			max-width: 100%;
		}
	}

	// .info-block__footer
	&__footer {
		margin-top: 30px;
		border-top: 1px dotted $black30;
		padding: 16px 12px 0;

		@include respond-to(lg) {
			margin-top: 60px;
		}
	}

	// .info-block__special
	&__special {
		margin-top: 22px;
		border-top: 1px dotted $black30;
		padding-top: 11px;
		row-gap: 5px;


		& > div {
			&:nth-child(2) {
				color: $black60;
			}
		}
	}
}

.tags-collapse {
	padding-right: 30px;
	overflow-x: scroll;
	border-bottom: none;

	&::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		height: 42px;
		width: 30px;
		z-index: 1;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 60%);
	}

	&.is-opened {
		width: 100%;
		height: auto;
		padding-right: 12px;
		flex-wrap: wrap;
		overflow-x: hidden;

		.js-tags-collapse {
			&::after {
				transform: translateY(2px) rotate(-90deg);
			}
		}
	}
}

// collapse
.js-tags-collapse {
	display: none;

	@include when-inside(".tags-collapse") {
		display: block;
		position: absolute;
		z-index: 1;
		width: 25px;
		height: 42px;
		right: 0;
		padding: 0;
		border: none;
		user-select: none;
		background: transparent;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: calc(50% - 7px);
			right: 1px;
			width: 11px;
			height: 14px;
			background: $svg-angle center no-repeat;
			transform: translateY(1px) rotate(90deg);
			transition: transform $transition-default;
		}
	}
}
