.interior-description {
	display: flex;
	flex-direction: column;
	padding-bottom: 36px;

	@include respond-to(lg) {
		flex-flow: row nowrap;
		border-bottom: 2px solid $black10;
		padding-bottom: 55px;
	}

	// .interior-description__text
	&__text {
		max-width: 485px;
		margin-bottom: 21px;

		@include respond-to(lg) {
			flex: 0 0 50%;
			width: 50%;
			max-width: none;
			margin: 0 16px 0 0;
		}
	}

	// .interior-description__tags
	&__tags {
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
	}
}
