.interior-single-image {
	position: relative;

	// .interior-single-image__img
	&__img {
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 144px;
			opacity: 0.5;
			background: linear-gradient(180deg, rgba(53, 45, 33, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		}

		img {
			width: 100%;
		}
	}
}

.interior-description {
	display: flex;
	flex-direction: column;
	padding-bottom: 36px;

	@include respond-to(lg) {
		flex-flow: row nowrap;
		border-bottom: 2px solid $black10;
		padding-bottom: 55px;
	}

	// .interior-description__text
	&__text {
		max-width: 485px;
		margin-bottom: 21px;

		@include respond-to(lg) {
			flex: 0 0 50%;
			width: 50%;
			max-width: none;
			margin: 0 16px 0 0;
		}
	}

	// .interior-description__tags
	&__tags {
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
	}
}
